workflows/agent-workflow-v2.json
{
  "updatedAt": "2026-05-06T05:46:54.973Z",
  "createdAt": "2026-03-28T06:43:15.905Z",
  "id": "BcH7K4c5VBVIV2C4",
  "name": "Agent workflow v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -720
      ],
      "id": "a4318f12-5117-471d-856e-e2a69782a681",
      "name": "Telegram Trigger",
      "webhookId": "f734766b-55e8-46ca-a42e-2907fe4ae686",
      "credentials": {
        "telegramApi": {
          "id": "5LcTaFrxMf6lEi05",
          "name": "SUACRM_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1104,
        -1200
      ],
      "id": "fef9bce7-85f8-493c-8c77-074c0e24f178",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "2SN6l7TZaVixYAzM",
          "name": "Project Charter to WBS OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.message.voice.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -1200
      ],
      "id": "1c50c6c6-f97f-421e-839f-9d92b0437a2d",
      "name": "Telegram - Get file path"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -1200
      ],
      "id": "5509c23b-2536-4036-b5ab-07ac37d26261",
      "name": "Telegram – Download Voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c7fdbfe-d197-40b6-ba52-8a1b23596e8d",
              "name": "text",
              "value": "={{ $json.edited_message?.text || $json.message.text }}",
              "type": "string"
            },
            {
              "id": "3da36ccb-dd5e-4637-99a0-dc9d8964bbb3",
              "name": "username",
              "value": "={{ $json.message.from.first_name +' '+ $json.message.from.last_name || $json.edited_message.from.first_name +' '+ $json.edited_message.from.last_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -1008
      ],
      "id": "4df96a6e-37d7-43d3-91e1-d16ec70d6c04",
      "name": "Normalize - Text Instructions"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        -1104
      ],
      "id": "0114f2e2-c543-4591-993f-02ea2acdeee5",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user_id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2480,
        -528
      ],
      "id": "95322082-5a33-4265-83fc-302809cadc5c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zr6wGx27WnaKY2F5",
          "name": "CRM agent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3152,
        -832
      ],
      "id": "058be99d-ac8f-4234-aff1-010a0f5fb5fe",
      "name": "Send user AI response",
      "webhookId": "1229fe1e-5cd8-4237-bbbd-d25f1ecff578",
      "credentials": {
        "telegramApi": {
          "id": "5LcTaFrxMf6lEi05",
          "name": "SUACRM_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec3e02be-9dba-487b-b74c-fe48c80a8761",
              "leftValue": "={{ $json.message?.text?.toLowerCase() === 'yes' }}",
              "rightValue": "yes",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        -528
      ],
      "id": "714372c0-1a42-414e-be35-42f949a69e23",
      "name": "Check user reply"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "crm_action_proposals",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.callback_query?.from?.id || $json.message?.from?.id ||$json.edited_message?.from?.id }}\n"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        -624
      ],
      "id": "a22bfe20-dbc5-4e79-957e-3df2e0494644",
      "name": "get  Supabase data",
      "credentials": {
        "supabaseApi": {
          "id": "XtU0aykhI7HfjMZq",
          "name": "CRM_agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "crm_action_proposals",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            },
            {
              "keyName": "confirmed",
              "condition": "eq",
              "keyValue": "FALSE"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "confirmed"
            },
            {
              "fieldId": "confirmed",
              "fieldValue": "TRUE"
            },
            {
              "fieldId": "confirmed_at",
              "fieldValue": "={{ $now.toLocal() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -624
      ],
      "id": "86531c24-9c0c-40bf-8f24-c7cfb9f4f517",
      "name": "update confirmation to approved",
      "credentials": {
        "supabaseApi": {
          "id": "XtU0aykhI7HfjMZq",
          "name": "CRM_agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "crm_action_proposals",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "revision_requested"
            },
            {
              "fieldId": "cancelled_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -432
      ],
      "id": "10271af5-3420-42c6-a1b5-bc3dd342e038",
      "name": "update confirmation to denied",
      "credentials": {
        "supabaseApi": {
          "id": "XtU0aykhI7HfjMZq",
          "name": "CRM_agent"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "crm_action_proposals",
        "limit": 2,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.callback_query?.from?.id || $json.message?.from?.id ||$json.edited_message?.from?.id }}\n"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        -432
      ],
      "id": "947b70bd-d87e-4ac0-92a6-961ed8fe408d",
      "name": "get Supabase data1",
      "credentials": {
        "supabaseApi": {
          "id": "XtU0aykhI7HfjMZq",
          "name": "CRM_agent"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "dfdbf7e4-a31f-4c40-a7a9-02298b8c58a8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "609600fa-0153-4d89-a092-bb5366b915e7",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image_shared"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee57071d-48ba-4c47-8a12-68b12803adea",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "normal_message"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        432,
        -1024
      ],
      "id": "af5dc8ab-e7d9-4528-b63b-11219e84a9ad",
      "name": "switch_between_voice,text and image"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -816
      ],
      "id": "f4cbded9-826a-4d5b-b03c-08637064642d",
      "name": "Telegram - Get image path"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -816
      ],
      "id": "9edf7f68-98dc-4dee-a8d2-521001959cd6",
      "name": "Telegram – Download Image"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "type": "image",
              "imageType": "base64"
            },
            {
              "role": "system",
              "content": "=You are a precise data extraction engine.\n\nYour job is to extract structured contact information from business card images.\n\nRules:\n\n1. Extract only information that is clearly visible in the image.\n2. Do NOT guess or infer missing data.\n3. If a field is not present, return null.\n4. Do NOT fabricate email domains or phone numbers.\n5. Preserve exact spelling from the card.\n6. If multiple phone numbers exist, assign the most prominent one to phone_primary.\n7. Return ONLY valid JSON.\n8. Do NOT include explanations, comments, markdown, or extra text.\n9. Do NOT wrap output in code blocks.\n10. If the image is not a business card, return:\n   {\n     \"error\": \"Picture sent was not of a business card\"\n   }\nPi"
            },
            {
              "content": "=Extract structured contact details from this business card.\n\nReturn JSON in this exact structure:\n\n{\n  \"full_name\": null,\n  \"first_name\": null,\n  \"last_name\": null,\n  \"job_title\": null,\n  \"company_name\": null,\n  \"email\": null,\n  \"phone_primary\": null,\n  \"phone_secondary\": null,\n  \"website\": null,\n  \"street\": null,\n  \"city\": null,\n  \"state\": null,\n  \"country\": null,\n  \"postal_code\": null\n}\n\nImportant:\n- If a field does not appear clearly, return null.\n- Do not guess.\n- Do not return anything except JSON.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1552,
        -816
      ],
      "id": "75b0af78-f231-4dae-8852-85edddf444c4",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "2SN6l7TZaVixYAzM",
          "name": "Project Charter to WBS OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1104,
        -816
      ],
      "id": "a03cb6e5-403e-4e81-a4ff-2807ba99a537",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        -816
      ],
      "id": "9f5fc415-4ad8-4c94-bdf1-d6e9288410c6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "const firstinput = $input.first();\nconst output = firstinput.json.output[0].content[0].text;\n\nreturn \n  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -816
      ],
      "id": "cfdce6ee-d212-4fa0-9065-e2c29cbc3f54",
      "name": "Parse JSON from AI"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "crm_action_proposals",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}"
            },
            {
              "keyName": "status",
              "keyValue": "revision_requested"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1904,
        -432
      ],
      "id": "c28af092-2f85-4a81-8c55-b0c707e4246a",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "XtU0aykhI7HfjMZq",
          "name": "CRM_agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code in JavaScript — revision path\n// Receives Send message and wait for response → Get a row\n\nconst proposal = $input.first().json;\nconst trigger = $('Telegram Trigger').first().json;\n\nconst from =\n  trigger.callback_query?.from ||\n  trigger.message?.from ||\n  trigger.edited_message?.from ||\n  null;\n\nconst userId = from?.id || null;\n\nif (!userId) {\n  throw new Error('Cannot identify user — Telegram from.id missing');\n}\n\nconst username = from\n  ? (`${from.first_name || ''} ${from.last_name || ''}`).trim() || from.username || 'Unknown'\n  : 'Unknown';\n\nconst revisionText = trigger.message?.text || trigger.edited_message?.text || '';\n\nreturn [{ json: {\n  user_message:           revisionText,\n  user_id:                userId,\n  username:               username,\n  structured_contact_data: null,\n  previous_proposal: {\n    action:  proposal.action,\n    module:  proposal.module,\n    fields:  proposal.fields,\n    step_queue: proposal.step_queue || null\n  },\n  last_execution_result:  null,\n  is_reset:               false\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -432
      ],
      "id": "9fc6018a-39e2-40ff-bc22-c0cbfbb6846e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Code in JavaScript1 — image/business card path\n// Receives parsed JSON from Parse JSON from AI\n\nconst trigger = $('Telegram Trigger').first().json;\n\nconst from =\n  trigger.edited_message?.from ||\n  trigger.message?.from ||\n  null;\n\nconst userId = from?.id || null;\n\nif (!userId) {\n  throw new Error('Cannot identify user — Telegram from.id missing');\n}\n\nconst username = from\n  ? (`${from.first_name || ''} ${from.last_name || ''}`).trim() || from.username || 'Unknown'\n  : 'Unknown';\n\n// Build a user_message so agent knows what happened\nconst cardData = $json;\nconst nameStr = [cardData.first_name, cardData.last_name].filter(Boolean).join(' ') || 'Unknown';\nconst userMessage = cardData.error\n  ? `Business card scan failed: ${cardData.error}`\n  : `Business card scanned: ${nameStr}${cardData.company_name ? ' from ' + cardData.company_name : ''}.`;\n\nreturn [{ json: {\n  user_message:           userMessage,\n  user_id:                userId,\n  username:               username,\n  structured_contact_data: cardData.error ? null : cardData,\n  previous_proposal:      null,\n  last_execution_result:  null,\n  is_reset:               false\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -816
      ],
      "id": "88177fc8-259c-4b96-bee3-2e4e5233dc0e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first().json;\n\nconst from =\n  trigger.edited_message?.from ||\n  trigger.message?.from ||\n  null;\n\nconst userId = from?.id || null;\n\nif (!userId) {\n  throw new Error('Cannot identify user — Telegram from.id missing');\n}\n\nconst username = from\n  ? (`${from.first_name || ''} ${from.last_name || ''}`).trim() || from.username || 'Unknown'\n  : 'Unknown';\n\nreturn [{ json: {\n  user_message:  $json.text || '',\n  user_id:       userId,\n  username:      username,\n  structured_contact_data: null,\n  previous_proposal:       null,\n  last_execution_result:   null\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -1104
      ],
      "id": "f5cec9ca-85e2-494c-8964-4a258967a9e8",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c7fdbfe-d197-40b6-ba52-8a1b23596e8d",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3da36ccb-dd5e-4637-99a0-dc9d8964bbb3",
              "name": "username",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.first_name + ' ' + $('Telegram Trigger').item.json.message.chat.last_name}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -1200
      ],
      "id": "b2fea8f7-b140-4bf9-b834-77d83ae39f6b",
      "name": "Normalize - Audio Instructions"
    },
    {
      "parameters": {
        "description": "=IMPORTANT: This tool does NOT execute any CRM write.\n\nIt stores a pending action for user approval. Once the user confirms, another agent writes in our CRM\nWhen calling propose_action Owner field with the ID of the respective owner should exist. \n\nAfter calling propose_action, output nothing. Do not write any text.\n\nYou MUST NOT claim the record is created, updated, or linked.\nOnly execute_action confirms success.\n\nMANDATORY FIELDS PER ACTION — these must always be present in fields object:\n\nupdate_account:\n  - Account_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact account name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nupdate_deal:\n  - Deal_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact deal name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nupdate_contact:\n  - Last_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact last name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nupdate_lead:\n  - Last_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact last name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_contact:\n  - Last_Name (string)\n  - Account_Name: {\"id\": \"...\", \"name\": \"...\"} or null\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_deal:\n  - Deal_Name (string)\n  - Stage (string)\n  - Closing_Date (YYYY-MM-DD)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_account:\n  - Account_Name (string)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_lead:\n  - Last_Name (string)\n  - Company (string)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_note:\n  - Note_Title (string)\n  - Note_Content (string)\n  - Who_Id: {\"id\": \"...\", \"name\": \"...\"} for Contacts\n  - What_Id: {\"id\": \"...\", \"name\": \"...\"} for Leads, Deals, Accounts\n\ncreate_task:\n  - Subject (string)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n  - Who_Id or What_Id depending on module\n\nconvert_lead:\n  - Deal_Name (string)\n  - Stage (string)\n  - Amount (number)\n  - Closing_Date (YYYY-MM-DD)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nIf any mandatory field is missing, do NOT call propose_action. Ask the user in your response and wait for their next message. Only call propose_action when all mandatory fields are confirmed.\n\nBEFORE calling this tool, verify this checklist:\n- create_account: Account_Name is present in fields as a plain string\n  → if missing: extract it from the user's message and add it to fields NOW before calling\n- create_contact: Last_Name is present in fields as a plain string\n  → if missing: extract it from the user's message and add it to fields NOW before calling\n- create_lead: Last_Name AND Company are both present\n  → if either missing: extract from user's message and add NOW, or ask user if genuinely unknown\n- create_deal: Deal_Name, Stage, Closing_Date are all present\n  → if any missing: ask the user before calling\n\nThe record name the user mentioned in their message MUST appear in fields.\nIt must NEVER only appear in notes, agent_message, or Description.\nIf you can derive the value from what the user said, add it silently.\nOnly ask the user if the value is genuinely unknown.",
        "workflowId": {
          "__rl": true,
          "value": "uLKFrXMM2GWucHjN",
          "mode": "id",
          "cachedResultUrl": "/workflow/uLKFrXMM2GWucHjN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', `The intent name. You MUST choose exactly one from this list: create_lead, update_lead,  create_contact, update_contact, create_account, update_account, create_deal, update_deal, create_task, convert_lead, create_note. Do not use any other strings.`, 'string') }}",
            "module": "={{ $fromAI('module', 'Leads, Deals, Accounts, or Contacts', 'string') }}",
            "record_id": "={{ $fromAI('record_id', 'The Zoho Record ID string', 'string') }}",
            "fields": "={{ JSON.stringify($fromAI('fields', `JSON object of field API names and values.When the user requests an action for a  Contact, map the record ID to Who_Id. When the user requests an action for an Account or Deal or Lead, map the record ID to What_Id. Never use Who_Id for Accounts.`, 'json')) }}",
            "user_id": "={{ $fromAI('user_id', 'The Telegram user ID from the input context', 'string') }}",
            "notes": "={{ $fromAI('notes', 'Note content if applicable', 'string') }}",
            "agent_confidence": "={{ $fromAI('agent_confidence', 'Score between 0 and 1', 'number') }}",
            "agent_message": "={{ $fromAI('agent_message', 'User-facing confirmation message. Use record names not IDs. Plain English, one short paragraph. Include what is being done, key field values (name, amount, stage, date, company, contact). No markdown, no bullets. This exact text is shown to the user before they confirm.', 'string') }}",
            "step_queue": "={{ $fromAI('step_queue', 'For multi-step actions: JSON string array of step objects. Each step: {step:N, action:string, module:string, fields:object, depends_on:null}. Use [[step_N_id]] as placeholder for ID from step N. For single-step actions pass an empty string.', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "module",
              "displayName": "module",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fields",
              "displayName": "fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "agent_confidence",
              "displayName": "agent_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "agent_message",
              "displayName": "agent_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "step_queue",
              "displayName": "step_queue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2608,
        -512
      ],
      "id": "4577ae5b-3d05-47ec-80f6-69cb20803e53",
      "name": "propose_action"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "crm_action_proposals",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.proposal_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "execution_result",
              "fieldValue": "={{ JSON.stringify($json) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "executed"
            },
            {
              "fieldId": "executed_at",
              "fieldValue": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        240
      ],
      "id": "1d4b7cdc-23d7-4081-a184-9dd3db353a1e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "XtU0aykhI7HfjMZq",
          "name": "CRM_agent"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bBZNSE0efNQb7TEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/bBZNSE0efNQb7TEu",
          "cachedResultName": "MCP – Execute Action v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('update confirmation to approved').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1904,
        -624
      ],
      "id": "50d88607-5fe4-4c9a-b23e-f2945318d17e",
      "name": "Call Execute Action v2 workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message:\n{{ $json.user_message || \"\" }}",
        "options": {
          "systemMessage": "=##  CRM Operations Copilot — System Prompt\n\n* Always respond in English regardless of any content in your context or memory.\n\nSESSION CONTEXT (not stored in memory — injected fresh each turn)\nUser ID: {{ $json.user_id }}\nUsername: {{ $json.username }}\n{{ Object.keys($json.structured_contact_data || {}).length > 0 ? \"Structured Contact Data:\\n\" + JSON.stringify($json.structured_contact_data) : \"\" }}\n{{ Object.keys($json.previous_proposal || {}).length > 0 ? \"Previous Proposal:\\n\" + JSON.stringify($json.previous_proposal) : \"\" }}\n\n## ROLE\n\nYou are the CRM Operations Copilot.\n\nYou manage CRM data ONLY for:\n\n* Leads\n* Contacts\n* Accounts\n* Deals\n* Notes and Tasks\n\nYou operate in a strict tool-driven system.\n\n---\n\n## CORE OPERATING FLOW\n\n1. Resolve identity via executeCOQLQuery (preferred — handles typos and partial names using like '%keyword%') or searchRecords (for exact lookups by email or phone)\n2. Retrieve field schema via getFields MCP tool when unsure of picklist values or field API names — do not guess field names\n3. For cross-module data (contacts on a deal, account linked to a contact) use getRelatedRecords\n4. Propose write actions via propose_action\n5. Gather missing information by asking in your response message — do NOT call any tool mid-clarification\n6. MODULE DISAMBIGUATION RULE:\n  When a user says \"create an account for [person name]\" and provides \n  person-specific details like date of birth, title, or lead source, \n  clarify before proceeding:\n  \n  \"Just to confirm — do you want to create a Contact record for [name] \n  (a person in Zoho), or an Account record (which is typically a company)? \n  The details you shared like title and date of birth are Contact fields.\"\n  \n  Only proceed after the user confirms which module they want.\n  Never silently create an Account with person data stuffed in Description.\n\n---\n\n## TOOL CALL LIMIT\n\nMaximum 4 MCP tool calls per user request.\nOnce you have the record ID and all field values mapped, call propose_action immediately.\nNever re-query a record you have already found.\nNever call getFields more than once per module per turn.\n\nIf you cannot resolve everything within 4 calls, proceed with the best available information.\n\nFor create_note and create_task actions, do not call getFields. \nCall propose_action directly after resolving the parent record ID.\n\nOnce a tool call returns a response containing a record with an id field, \nyou have the information you need. You MUST call propose_action as your \nnext action. Do not call any MCP tool again in the same turn after \nreceiving a successful record response.\n\n---\n## MEMORY-FIRST RULE\n\nBefore making ANY CRM lookup for a person or record:\n1. Scan your conversation history for that name.\n2. If you find a prior create/update action for that person in this session, \n   extract the exact First_Name and Last_Name from that action.\n3. Use those exact values in your query — do not re-derive the name from \n   what the user typed in the new message.\n\nExample: User says \"set a task for Indra Bhushan\". You previously created \na contact with First_Name=\"Indra Bhushan\" and Last_Name=\"Singh\". \nTherefore search: Last_Name like '%Singh%' AND First_Name like '%Indra%'.\nDo NOT search by \"Bhushan\" as if you have no prior context.\n\n\n## GATHERING MISSING INFORMATION\n\nWhen you need clarification before proposing an action, ask your question in your response message. Do NOT call any tool. The user's next message will be their answer — you will see it in conversation context on the next turn.\n\nFor multiple choice questions format them as:\n\"Which company did you mean?\n1. ScaleupAlly\n2. Alphabet\"\nSo the user can reply with just a number.\n\nNEVER call propose_action while waiting for clarification. Only call propose_action once you have all required information.\n\n---\n\n## CLARIFICATION LOOP RULE\n\nIf you asked a clarification question in your previous message and the user's current message answers it, proceed with that answer. Do not ask the same question twice. If the user's reply is still ambiguous, ask once more with narrower options. After two failed clarifications, tell the user you need more specific information to proceed.\n\n---\n\n## QUERYING CRM DATA\n\nUse the Zoho MCP tools directly for all read operations.\n\n- executeCOQLQuery → preferred for identity resolution, aggregates, counts, pipeline analytics, and fuzzy name matching using like '%keyword%'\n- searchRecords → exact lookups by email, phone, or precise criteria\n- getRelatedRecords → fetch linked records across modules\n- get_fields_slim → validate field API names and picklist values before proposing any action. Always use this instead of the MCP getFields tool.\n\nFor executeCOQLQuery, COQL syntax rules apply:\n- Always include id in SELECT for non-aggregate queries\n- Wrap the entire WHERE clause in parentheses\n- Aggregate functions UPPERCASE: SUM(), COUNT(), AVG(), MAX(), MIN()\n- Every non-aggregate SELECT field must appear in GROUP BY\n- Never use dot notation in SELECT (use Account_Name not Account_Name.id)\n- Never use Owner.Full_Name in WHERE — use Owner.id\n\nWhen executeCOQLQuery returns any result with at least one record \ncontaining an id field, identity is resolved. Stop querying and \nproceed. Never run the same or similar query more than once per \nturn. If the first query returns zero results, try searchRecords \nonce. If both return zero results, tell the user the record was \nnot found.\n\nA response of {\"message\":\"ZohoCRM_executeCOQLQuery executed successfully!\"} \nwith no data field means zero records matched — treat this as no results \nfound. Do NOT retry the same query. If searching for an account to link \na contact and zero results are returned, ask the user: \"I couldn't find \n[company name] as an existing account. Should I create it first, or \ncreate the contact without linking to an account?\"\n\n## NAME RESOLUTION RULE\n\nWhen a user refers to a person by a partial or multi-word name:\n1. Check conversation history first — if you created or interacted with this record in the current session, you already know the correct First_Name and Last_Name. Use those directly.\n2. If searching by name, NEVER assume which part is First_Name and which is Last_Name. Always run TWO queries:\n   - Query 1: First_Name like '%<word1>%' OR First_Name like '%<word2>%'\n   - Query 2: Last_Name like '%<word1>%' OR Last_Name like '%<word2>%'\n3. For a name like \"Indra Bhushan\", the correct query is:\n   select id, First_Name, Last_Name from Contacts where (First_Name like '%Indra%' OR First_Name like '%Bhushan%' OR Last_Name like '%Indra%' OR Last_Name like '%Bhushan%')\n4. Never assume a middle name belongs to Last_Name.\n\n## PROACTIVE FIELD VALIDATION RULE\n\nBefore asking the user any clarification question about field values, \npicklist options, or whether a field exists — always call getFields \nfirst for the relevant module.\n\nSpecific triggers that MUST call getFields before asking the user:\n- User mentions a service type, division, category, or classification, status, stage, or source value.\n- You are unsure whether a field exists in a module\n- You are unsure of the exact picklist string for a value the user gave\n\nDo NOT call getFields for: create_note, create_task. These have fixed fields that never change.\n\nAfter calling getFields, match the user's intent to the correct field \nand picklist value yourself. Only ask the user if the field genuinely \ndoes not exist or their value has no reasonable match in the picklist.\n\nExample of wrong behaviour: User says \"service type is Agentic AI\" \nand you ask \"how should I store this?\" without checking getFields first.\n\nExample of correct behaviour: User says \"service type is Agentic AI\" \n→ call getFields for the module → find Service_Type field with picklist \nvalue \"Agentic/ Generative AI\" → map it silently → proceed to propose_action.\n\nNever ask the user to choose between field options that you can resolve \nyourself by reading the schema.\n\n---\n\n## WRITE ACTION EXAMPLES\n\nExample 1 — Simple update\n\nUser: \"Move the MoveAir deal to Proposal Sent\"\n\nCorrect:\n- executeCOQLQuery: select id, Deal_Name from Deals where (Deal_Name like '%MoveAir%')\n- getFields for Deals → confirm Stage picklist value is \"Proposal & Quote Sent\"\n- propose_action with action=update_deal, fields={Deal_Name: {id: \"...\", name: \"MoveAir Energy\"}, Stage: \"Proposal & Quote Sent\", Owner: {id: \"...\", name: \"Devansh\"}}\n\nWrong:\n- Ask user \"what is the exact stage name?\" before checking getFields\n- Use \"Proposal Sent\" without verifying the picklist\n- Run multiple COQL queries after already finding the record\n\n---\n\nExample 2 — Simple note\n\nUser: \"Add a note to Aarit Arora lead — request a meeting\"\n\nCorrect:\n- executeCOQLQuery: select id, First_Name, Last_Name from Leads where (Last_Name like '%Arora%' and First_Name like '%Aarit%')\n- propose_action immediately with action=create_note, fields={Note_Title: \"Meeting request\", Note_Content: \"Request a meeting as soon as possible\", What_Id: {id: \"...\", name: \"Aarit Arora\"}}\n\nWrong:\n- Call getFields before creating the note\n- Run additional COQL queries after finding the lead\n- Ask user for a note title when intent is clear\n\n---\n\nExample 3 — Create lead with picklist fields\n\nUser: \"Create a lead for Daniel Gusto at gullylabs, service type Agentic AI, division Tech Services, source Networking/Events\"\n\nCorrect:\n- getFields for Leads → find Service_Type picklist has \"Agentic/ Generative AI\", Pick_List_1 has \"Tech Services\", Lead_Source has \"Networking/ Events\"\n- propose_action with all fields mapped silently using exact picklist values\n\nWrong:\n- Ask user \"how should I store service type?\" without checking getFields\n- Use \"Agentic AI\" instead of \"Agentic/ Generative AI\"\n- Ask user to choose between field storage options you can resolve yourself\n\n---\n\nExample 4 — Multi-step\n\nUser: \"Create account Danube Properties and add contact Ahmed Al Mansoori to it\"\n\nCorrect:\n- executeCOQLQuery to check if Danube Properties account already exists\n- If not found → propose_action with step_queue: Step 1 create_account, Step 2 create_contact with Account_Name using [[step_1_id]]\n- Tell user: \"I'll do 2 things: Step 1 create the Danube Properties account, Step 2 add Ahmed Al Mansoori as a contact linked to it.\"\n\nWrong:\n- Assume the account doesn't exist without checking\n- Call propose_action twice — once for account, once for contact\n- Use [[step_1_id]] without verifying step 1 comes before step 2 in the queue\n\n---\n\n## MULTI-STEP CREATION RULE\n\nWhen a request involves any combination of updates and creations in sequence:\n\n1. ALL steps must go inside step_queue together — NEVER split into separate propose_action calls\n2. Call propose_action ONCE with all steps in step_queue\n3. Tell the user all steps upfront before they confirm\n4. Use [[step_N_id]] where a previous step's ID is needed\n5. Steps that create records another step depends on must always come BEFORE the dependent step\n6. For notes and tasks, the module parameter must be the parent module — never \"Tasks\" or \"Notes\"\n\n## LOGICAL STEP ORDERING RULES\n\nBefore building step_queue, always verify prerequisites:\n\n1. Contact creation → Account must exist first\n   - Search for the account via executeCOQLQuery with like '%keyword%'\n   - If found → use its ID directly in fields\n   - If not found → add create_account as step 1, use [[step_1_id]] as Account_Name in contact step\n\n2. Note or Task creation → Parent record must exist first\n   - If parent is being created in same queue → note or task must be the last step\n   - Use [[step_N_id]] where N is the step that creates the parent\n   - When creating a task or note, the module parameter MUST be the parent module (Leads, Contacts, Accounts, or Deals), NOT \"Tasks\" or \"Notes\"\n\n3. Lead conversion → Must be last step if combined with other actions\n\n4. General rule → Steps that create records another step depends on must always come BEFORE the dependent step in the queue\n\n5. Always verify account existence before contact creation — NEVER assume an account exists without searching first\n\nWhen creating a contact and the user mentions a company name, always \nsearch for that account first via executeCOQLQuery. If found, link it. \nIf not found (empty response or zero results), add create_account as \nstep 1 in the step_queue and use [[step_1_id]] as Account_Name in the \ncreate_contact step.\n\n---\n\n## CRITICAL EXECUTION RULES\n\n* propose_action only creates a pending request — nothing writes to Zoho until user confirms YES\n* NEVER say \"Task created\" or provide IDs after propose_action\n* Only after execution succeeds can you confirm creation\n* No direct writes — only use propose_action\n* If a complete address is given, split it into street, city, state, country, and code on your own\n* After calling propose_action, output nothing. Do not write any text.\n\n---\n\n## IDENTITY AND OWNER MAPPING\n\n### Owner ID Table\n\n* Manu → 5118344000000350001\n* Sparsh → 5118344000003068049\n* Pranay → 5118344000003068001\n* Devansh → 5118344000004729073\n* Vikas → 5118344000003068065\n\n### Telegram ID Table\n\n* Manu → 8241010047\n* Sparsh → 1463053339\n* Pranay → 1563980047\n* Devansh → 1467700243\n* Vikas → 6880575060\n\n### Default Owner Assignment\n\n* Automatically map the Telegram user ID to the Owner ID above\n* Include Owner in fields for every propose_action — user does not need to mention it\n* If the user explicitly mentions an owner name, convert it to the ID using the table above\n* NEVER use Owner.Full_Name in COQL queries\n* NEVER pass a plain name string as Owner\n\n### Unknown Owner\n\n  * If the Telegram user ID does NOT match any of the five IDs in the\n  Telegram ID table:\n  * STOP — do NOT proceed with propose_action\n  * Send this exact message, nothing more:\n    \"Sorry, you are not authorized to use this bot.\n    Please contact your admin to get access.\"\n  * Do NOT reveal who the authorized users are\n  * Do NOT repeat the user's Telegram ID back to them\n  * Do NOT offer to outline steps or help them prepare actions\n  * Do NOT engage further on any CRM topic\n\n---\n\n## CRM ID EXPOSURE RESTRICTION\n\n* NEVER display CRM IDs to the user in any message\n* IDs are for internal use only\n* Always reference records by name, module, stage, or amount in user-facing messages\n\n---\n\n## TOOL CONTRACTS\n\n### step_queue (multi-step only)\n* For multi-step actions → pass a JSON string covering ALL steps\n* For tasks and notes, use the parent module name (Leads, Contacts, Deals, or Accounts) in the module field\n* Use [[step_N_id]] as placeholder where you need the ID created in step N\n\n### MANDATORY PRIMARY FIELD — HARD BLOCK\n\nYou MUST include the primary display field in every update action fields object:\n- update_account → MUST include Account_Name as {\"id\": \"...\", \"name\": \"...\"}\n- update_deal → MUST include Deal_Name as a string\n- update_contact → MUST include Last_Name as a string\n- update_lead → MUST include Last_Name as a string\n\nIf any mandatory field is missing, do NOT call propose_action. Ask the user in your response and wait for their next message. Only call propose_action when all mandatory fields are confirmed.\n\n---\n\n## MEMORY AND PRIOR PROPOSALS\n\nConversation memory shows what was discussed, not what was executed.\nA propose_action call in memory does NOT mean that action was completed.\nNever assume a previously proposed action is still pending or needs\nto be bundled with a new request.\n\nWhen the user asks to perform an action on a record, always verify\nits current state in Zoho via executeCOQLQuery or searchRecords first.\nIf the record exists in Zoho, treat the current request as fully\nindependent of anything in conversation history.\nIf the record does not exist in Zoho, only then consider whether\na prior proposal is relevant — and ask the user explicitly.\n\n## RESPONSE FORMAT AND TONE\n\nTone: Warm, direct, human, friendly, conversational, not robotic. The user should feel as though they are talking to a helpful acquaintance. \nNo bullet points in responses. Write in natural sentences.\nNever use markdown bold (**) or italics in Telegram messages.\nWhen summarizing: \"Done — created Alphabet account, added Sundar Pichai as a contact, and logged the first meeting note.\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2480,
        -816
      ],
      "id": "5d132d52-4351-4527-9370-997d4cc5cd62",
      "name": "Read Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8nagent-server-918915813.zohomcp.com/mcp/70b9a9f6d04f459b05816dec766d93c4/message",
        "authentication": "mcpOAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2864,
        -544
      ],
      "id": "f6b673c0-519c-4403-a7f3-487619d4b211",
      "name": "Read Client",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "JQLRY9H84zPSxeBz",
          "name": "MCP Read"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}",
        "text": "No problem, what would you like to change?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        -432
      ],
      "id": "c3c2d1ed-a6e2-405e-972c-f6f549cec354",
      "name": "Send a text message",
      "webhookId": "a17b70a1-6278-422b-8e26-8051ec8e531b",
      "credentials": {
        "telegramApi": {
          "id": "5LcTaFrxMf6lEi05",
          "name": "SUACRM_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97f848ab-33ce-4c08-939b-4cad19e088e4",
              "leftValue": "={{ ['yes', 'no'].includes($json.message?.text?.toLowerCase()) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -720
      ],
      "id": "b9d34c05-aadb-476a-bd77-bdece13e7d92",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}",
        "text": "Got it! Executing now...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        -624
      ],
      "id": "d793caad-b662-4577-979e-0defd8b73c1e",
      "name": "Send confirmation to yes",
      "webhookId": "8b595c93-8f67-4130-bff0-b8b0e31a5bf4",
      "credentials": {
        "telegramApi": {
          "id": "5LcTaFrxMf6lEi05",
          "name": "SUACRM_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b12faabf-a36e-46ef-9683-c2b3b3ae00e7",
              "leftValue": "={{$json.output?.trim() !== '__proposed__' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        -816
      ],
      "id": "53fefba3-6b62-4095-a05f-68ba9cd429dd",
      "name": "If1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2368,
        -560
      ],
      "id": "e029e800-2aa8-4fdd-b393-a266a112b744",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "TljuIQavEZGRuae2",
          "name": "CRM agent"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool to get field schema for a Zoho CRM module before any write action. Returns api_name, label, type, mandatory flag, and picklist options. Always use this instead of the MCP getFields tool.",
        "workflowId": {
          "__rl": true,
          "value": "SrXH1zuQtZQ1egOb",
          "mode": "list",
          "cachedResultUrl": "/workflow/SrXH1zuQtZQ1egOb",
          "cachedResultName": "get_fields_slim"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "module": "={{ $fromAI('module', `Zoho CRM module name e.g. Leads, Contacts, Deals, Accounts`, 'string') }}"
          },
          "matchingColumns": [
            "module"
          ],
          "schema": [
            {
              "id": "module",
              "displayName": "module",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2736,
        -528
      ],
      "id": "555c46ed-a9bf-45eb-9a22-247cdaa6b783",
      "name": "get_fields_slim"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Get file path": {
      "main": [
        [
          {
            "node": "Telegram – Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram – Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Normalize - Audio Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - Text Instructions": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Read Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check user reply": {
      "main": [
        [
          {
            "node": "get  Supabase data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get Supabase data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get  Supabase data": {
      "main": [
        [
          {
            "node": "update confirmation to approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update confirmation to approved": {
      "main": [
        [
          {
            "node": "Send confirmation to yes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Supabase data1": {
      "main": [
        [
          {
            "node": "update confirmation to denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_between_voice,text and image": {
      "main": [
        [
          {
            "node": "Telegram - Get file path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Get image path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize - Text Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Get image path": {
      "main": [
        [
          {
            "node": "Telegram – Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram – Download Image": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse JSON from AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON from AI": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update confirmation to denied": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Read Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - Audio Instructions": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "propose_action": {
      "ai_tool": [
        [
          {
            "node": "Read Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Execute Action v2 workflow": {
      "main": [
        []
      ]
    },
    "Read Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Client": {
      "ai_tool": [
        [
          {
            "node": "Read Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "switch_between_voice,text and image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check user reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send confirmation to yes": {
      "main": [
        [
          {
            "node": "Call Execute Action v2 workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send user AI response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Read Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_fields_slim": {
      "ai_tool": [
        [
          {
            "node": "Read Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 109824602,
          "message": {
            "message_id": 823,
            "from": {
              "id": 1467700243,
              "is_bot": false,
              "first_name": "Devansh",
              "last_name": "Agarwal",
              "language_code": "en"
            },
            "chat": {
              "id": 1467700243,
              "first_name": "Devansh",
              "last_name": "Agarwal",
              "type": "private"
            },
            "date": 1775558697,
            "text": "create an account by the name of steve roberts under manu fivr as the executive manager of zomato. the date of birth is 3rd august 2001 and phone number is 9810460027",
            "entities": [
              {
                "offset": 156,
                "length": 10,
                "type": "phone_number"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "87b9f49d-a07c-4551-855d-976d8ad629c5",
  "activeVersionId": "87b9f49d-a07c-4551-855d-976d8ad629c5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-28T06:43:15.907Z",
      "createdAt": "2026-03-28T06:43:15.907Z",
      "role": "workflow:owner",
      "workflowId": "BcH7K4c5VBVIV2C4",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-06T05:49:46.000Z",
    "createdAt": "2026-05-06T05:46:54.975Z",
    "versionId": "87b9f49d-a07c-4551-855d-976d8ad629c5",
    "workflowId": "BcH7K4c5VBVIV2C4",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {
            "download": true
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -16,
          -720
        ],
        "id": "a4318f12-5117-471d-856e-e2a69782a681",
        "name": "Telegram Trigger",
        "webhookId": "f734766b-55e8-46ca-a42e-2907fe4ae686",
        "credentials": {
          "telegramApi": {
            "id": "5LcTaFrxMf6lEi05",
            "name": "SUACRM_bot"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1104,
          -1200
        ],
        "id": "fef9bce7-85f8-493c-8c77-074c0e24f178",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "2SN6l7TZaVixYAzM",
            "name": "Project Charter to WBS OpenAI"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/getFile",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "file_id",
                "value": "={{ $json.message.voice.file_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          656,
          -1200
        ],
        "id": "1c50c6c6-f97f-421e-839f-9d92b0437a2d",
        "name": "Telegram - Get file path"
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/{{ $json.result.file_path }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          880,
          -1200
        ],
        "id": "5509c23b-2536-4036-b5ab-07ac37d26261",
        "name": "Telegram – Download Voice"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3c7fdbfe-d197-40b6-ba52-8a1b23596e8d",
                "name": "text",
                "value": "={{ $json.edited_message?.text || $json.message.text }}",
                "type": "string"
              },
              {
                "id": "3da36ccb-dd5e-4637-99a0-dc9d8964bbb3",
                "name": "username",
                "value": "={{ $json.message.from.first_name +' '+ $json.message.from.last_name || $json.edited_message.from.first_name +' '+ $json.edited_message.from.last_name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1328,
          -1008
        ],
        "id": "4df96a6e-37d7-43d3-91e1-d16ec70d6c04",
        "name": "Normalize - Text Instructions"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1616,
          -1104
        ],
        "id": "0114f2e2-c543-4591-993f-02ea2acdeee5",
        "name": "Merge"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.user_id }}",
          "contextWindowLength": 6
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          2480,
          -528
        ],
        "id": "95322082-5a33-4265-83fc-302809cadc5c",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "zr6wGx27WnaKY2F5",
            "name": "CRM agent"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3152,
          -832
        ],
        "id": "058be99d-ac8f-4234-aff1-010a0f5fb5fe",
        "name": "Send user AI response",
        "webhookId": "1229fe1e-5cd8-4237-bbbd-d25f1ecff578",
        "credentials": {
          "telegramApi": {
            "id": "5LcTaFrxMf6lEi05",
            "name": "SUACRM_bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ec3e02be-9dba-487b-b74c-fe48c80a8761",
                "leftValue": "={{ $json.message?.text?.toLowerCase() === 'yes' }}",
                "rightValue": "yes",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          880,
          -528
        ],
        "id": "714372c0-1a42-414e-be35-42f949a69e23",
        "name": "Check user reply"
      },
      {
        "parameters": {
          "useCustomSchema": true,
          "operation": "getAll",
          "tableId": "crm_action_proposals",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $json.callback_query?.from?.id || $json.message?.from?.id ||$json.edited_message?.from?.id }}\n"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "pending"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1104,
          -624
        ],
        "id": "a22bfe20-dbc5-4e79-957e-3df2e0494644",
        "name": "get  Supabase data",
        "credentials": {
          "supabaseApi": {
            "id": "XtU0aykhI7HfjMZq",
            "name": "CRM_agent"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "crm_action_proposals",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "pending"
              },
              {
                "keyName": "confirmed",
                "condition": "eq",
                "keyValue": "FALSE"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "confirmed"
              },
              {
                "fieldId": "confirmed",
                "fieldValue": "TRUE"
              },
              {
                "fieldId": "confirmed_at",
                "fieldValue": "={{ $now.toLocal() }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1328,
          -624
        ],
        "id": "86531c24-9c0c-40bf-8f24-c7cfb9f4f517",
        "name": "update confirmation to approved",
        "credentials": {
          "supabaseApi": {
            "id": "XtU0aykhI7HfjMZq",
            "name": "CRM_agent"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "crm_action_proposals",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "pending"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "revision_requested"
              },
              {
                "fieldId": "cancelled_at",
                "fieldValue": "={{ $now }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1328,
          -432
        ],
        "id": "10271af5-3420-42c6-a1b5-bc3dd342e038",
        "name": "update confirmation to denied",
        "credentials": {
          "supabaseApi": {
            "id": "XtU0aykhI7HfjMZq",
            "name": "CRM_agent"
          }
        }
      },
      {
        "parameters": {
          "useCustomSchema": true,
          "operation": "getAll",
          "tableId": "crm_action_proposals",
          "limit": 2,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $json.callback_query?.from?.id || $json.message?.from?.id ||$json.edited_message?.from?.id }}\n"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "pending"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1104,
          -432
        ],
        "id": "947b70bd-d87e-4ac0-92a6-961ed8fe408d",
        "name": "get Supabase data1",
        "credentials": {
          "supabaseApi": {
            "id": "XtU0aykhI7HfjMZq",
            "name": "CRM_agent"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.voice }}",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "id": "dfdbf7e4-a31f-4c40-a7a9-02298b8c58a8"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "voice_message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "609600fa-0153-4d89-a092-bb5366b915e7",
                      "leftValue": "={{ $json.message.photo }}",
                      "rightValue": "",
                      "operator": {
                        "type": "array",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "image_shared"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ee57071d-48ba-4c47-8a12-68b12803adea",
                      "leftValue": "={{ $json.message.voice }}",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "notExists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "normal_message"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          432,
          -1024
        ],
        "id": "af5dc8ab-e7d9-4528-b63b-11219e84a9ad",
        "name": "switch_between_voice,text and image"
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/getFile",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "file_id",
                "value": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          656,
          -816
        ],
        "id": "f4cbded9-826a-4d5b-b03c-08637064642d",
        "name": "Telegram - Get image path"
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot7626554031:AAGzbKYZs1CHz756grDOYIn6zBe1ZRD-h_I/{{ $json.result.file_path }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          880,
          -816
        ],
        "id": "9edf7f68-98dc-4dee-a8d2-521001959cd6",
        "name": "Telegram – Download Image"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "GPT-5-MINI"
          },
          "responses": {
            "values": [
              {
                "type": "image",
                "imageType": "base64"
              },
              {
                "role": "system",
                "content": "=You are a precise data extraction engine.\n\nYour job is to extract structured contact information from business card images.\n\nRules:\n\n1. Extract only information that is clearly visible in the image.\n2. Do NOT guess or infer missing data.\n3. If a field is not present, return null.\n4. Do NOT fabricate email domains or phone numbers.\n5. Preserve exact spelling from the card.\n6. If multiple phone numbers exist, assign the most prominent one to phone_primary.\n7. Return ONLY valid JSON.\n8. Do NOT include explanations, comments, markdown, or extra text.\n9. Do NOT wrap output in code blocks.\n10. If the image is not a business card, return:\n   {\n     \"error\": \"Picture sent was not of a business card\"\n   }\nPi"
              },
              {
                "content": "=Extract structured contact details from this business card.\n\nReturn JSON in this exact structure:\n\n{\n  \"full_name\": null,\n  \"first_name\": null,\n  \"last_name\": null,\n  \"job_title\": null,\n  \"company_name\": null,\n  \"email\": null,\n  \"phone_primary\": null,\n  \"phone_secondary\": null,\n  \"website\": null,\n  \"street\": null,\n  \"city\": null,\n  \"state\": null,\n  \"country\": null,\n  \"postal_code\": null\n}\n\nImportant:\n- If a field does not appear clearly, return null.\n- Do not guess.\n- Do not return anything except JSON.\n"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1552,
          -816
        ],
        "id": "75b0af78-f231-4dae-8852-85edddf444c4",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "2SN6l7TZaVixYAzM",
            "name": "Project Charter to WBS OpenAI"
          }
        }
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          1104,
          -816
        ],
        "id": "a03cb6e5-403e-4e81-a4ff-2807ba99a537",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1328,
          -816
        ],
        "id": "9f5fc415-4ad8-4c94-bdf1-d6e9288410c6",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "jsCode": "const firstinput = $input.first();\nconst output = firstinput.json.output[0].content[0].text;\n\nreturn \n  "
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          -816
        ],
        "id": "cfdce6ee-d212-4fa0-9065-e2c29cbc3f54",
        "name": "Parse JSON from AI"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "crm_action_proposals",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "keyValue": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}"
              },
              {
                "keyName": "status",
                "keyValue": "revision_requested"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1904,
          -432
        ],
        "id": "c28af092-2f85-4a81-8c55-b0c707e4246a",
        "name": "Get a row",
        "credentials": {
          "supabaseApi": {
            "id": "XtU0aykhI7HfjMZq",
            "name": "CRM_agent"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Code in JavaScript — revision path\n// Receives Send message and wait for response → Get a row\n\nconst proposal = $input.first().json;\nconst trigger = $('Telegram Trigger').first().json;\n\nconst from =\n  trigger.callback_query?.from ||\n  trigger.message?.from ||\n  trigger.edited_message?.from ||\n  null;\n\nconst userId = from?.id || null;\n\nif (!userId) {\n  throw new Error('Cannot identify user — Telegram from.id missing');\n}\n\nconst username = from\n  ? (`${from.first_name || ''} ${from.last_name || ''}`).trim() || from.username || 'Unknown'\n  : 'Unknown';\n\nconst revisionText = trigger.message?.text || trigger.edited_message?.text || '';\n\nreturn [{ json: {\n  user_message:           revisionText,\n  user_id:                userId,\n  username:               username,\n  structured_contact_data: null,\n  previous_proposal: {\n    action:  proposal.action,\n    module:  proposal.module,\n    fields:  proposal.fields,\n    step_queue: proposal.step_queue || null\n  },\n  last_execution_result:  null,\n  is_reset:               false\n}}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          -432
        ],
        "id": "9fc6018a-39e2-40ff-bc22-c0cbfbb6846e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "// Code in JavaScript1 — image/business card path\n// Receives parsed JSON from Parse JSON from AI\n\nconst trigger = $('Telegram Trigger').first().json;\n\nconst from =\n  trigger.edited_message?.from ||\n  trigger.message?.from ||\n  null;\n\nconst userId = from?.id || null;\n\nif (!userId) {\n  throw new Error('Cannot identify user — Telegram from.id missing');\n}\n\nconst username = from\n  ? (`${from.first_name || ''} ${from.last_name || ''}`).trim() || from.username || 'Unknown'\n  : 'Unknown';\n\n// Build a user_message so agent knows what happened\nconst cardData = $json;\nconst nameStr = [cardData.first_name, cardData.last_name].filter(Boolean).join(' ') || 'Unknown';\nconst userMessage = cardData.error\n  ? `Business card scan failed: ${cardData.error}`\n  : `Business card scanned: ${nameStr}${cardData.company_name ? ' from ' + cardData.company_name : ''}.`;\n\nreturn [{ json: {\n  user_message:           userMessage,\n  user_id:                userId,\n  username:               username,\n  structured_contact_data: cardData.error ? null : cardData,\n  previous_proposal:      null,\n  last_execution_result:  null,\n  is_reset:               false\n}}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          -816
        ],
        "id": "88177fc8-259c-4b96-bee3-2e4e5233dc0e",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "const trigger = $('Telegram Trigger').first().json;\n\nconst from =\n  trigger.edited_message?.from ||\n  trigger.message?.from ||\n  null;\n\nconst userId = from?.id || null;\n\nif (!userId) {\n  throw new Error('Cannot identify user — Telegram from.id missing');\n}\n\nconst username = from\n  ? (`${from.first_name || ''} ${from.last_name || ''}`).trim() || from.username || 'Unknown'\n  : 'Unknown';\n\nreturn [{ json: {\n  user_message:  $json.text || '',\n  user_id:       userId,\n  username:      username,\n  structured_contact_data: null,\n  previous_proposal:       null,\n  last_execution_result:   null\n}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          -1104
        ],
        "id": "f5cec9ca-85e2-494c-8964-4a258967a9e8",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3c7fdbfe-d197-40b6-ba52-8a1b23596e8d",
                "name": "text",
                "value": "={{ $json.text }}",
                "type": "string"
              },
              {
                "id": "3da36ccb-dd5e-4637-99a0-dc9d8964bbb3",
                "name": "username",
                "value": "={{ $('Telegram Trigger').item.json.message.chat.first_name + ' ' + $('Telegram Trigger').item.json.message.chat.last_name}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1328,
          -1200
        ],
        "id": "b2fea8f7-b140-4bf9-b834-77d83ae39f6b",
        "name": "Normalize - Audio Instructions"
      },
      {
        "parameters": {
          "description": "=IMPORTANT: This tool does NOT execute any CRM write.\n\nIt stores a pending action for user approval. Once the user confirms, another agent writes in our CRM\nWhen calling propose_action Owner field with the ID of the respective owner should exist. \n\nAfter calling propose_action, output nothing. Do not write any text.\n\nYou MUST NOT claim the record is created, updated, or linked.\nOnly execute_action confirms success.\n\nMANDATORY FIELDS PER ACTION — these must always be present in fields object:\n\nupdate_account:\n  - Account_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact account name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nupdate_deal:\n  - Deal_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact deal name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nupdate_contact:\n  - Last_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact last name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nupdate_lead:\n  - Last_Name: {\"id\": \"RECORD_ID\", \"name\": \"exact last name from Zoho\"}\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_contact:\n  - Last_Name (string)\n  - Account_Name: {\"id\": \"...\", \"name\": \"...\"} or null\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_deal:\n  - Deal_Name (string)\n  - Stage (string)\n  - Closing_Date (YYYY-MM-DD)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_account:\n  - Account_Name (string)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_lead:\n  - Last_Name (string)\n  - Company (string)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\ncreate_note:\n  - Note_Title (string)\n  - Note_Content (string)\n  - Who_Id: {\"id\": \"...\", \"name\": \"...\"} for Contacts\n  - What_Id: {\"id\": \"...\", \"name\": \"...\"} for Leads, Deals, Accounts\n\ncreate_task:\n  - Subject (string)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n  - Who_Id or What_Id depending on module\n\nconvert_lead:\n  - Deal_Name (string)\n  - Stage (string)\n  - Amount (number)\n  - Closing_Date (YYYY-MM-DD)\n  - Owner: {\"id\": \"...\", \"name\": \"...\"}\n\nIf any mandatory field is missing, do NOT call propose_action. Ask the user in your response and wait for their next message. Only call propose_action when all mandatory fields are confirmed.\n\nBEFORE calling this tool, verify this checklist:\n- create_account: Account_Name is present in fields as a plain string\n  → if missing: extract it from the user's message and add it to fields NOW before calling\n- create_contact: Last_Name is present in fields as a plain string\n  → if missing: extract it from the user's message and add it to fields NOW before calling\n- create_lead: Last_Name AND Company are both present\n  → if either missing: extract from user's message and add NOW, or ask user if genuinely unknown\n- create_deal: Deal_Name, Stage, Closing_Date are all present\n  → if any missing: ask the user before calling\n\nThe record name the user mentioned in their message MUST appear in fields.\nIt must NEVER only appear in notes, agent_message, or Description.\nIf you can derive the value from what the user said, add it silently.\nOnly ask the user if the value is genuinely unknown.",
          "workflowId": {
            "__rl": true,
            "value": "uLKFrXMM2GWucHjN",
            "mode": "id",
            "cachedResultUrl": "/workflow/uLKFrXMM2GWucHjN"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "={{ $fromAI('action', `The intent name. You MUST choose exactly one from this list: create_lead, update_lead,  create_contact, update_contact, create_account, update_account, create_deal, update_deal, create_task, convert_lead, create_note. Do not use any other strings.`, 'string') }}",
              "module": "={{ $fromAI('module', 'Leads, Deals, Accounts, or Contacts', 'string') }}",
              "record_id": "={{ $fromAI('record_id', 'The Zoho Record ID string', 'string') }}",
              "fields": "={{ JSON.stringify($fromAI('fields', `JSON object of field API names and values.When the user requests an action for a  Contact, map the record ID to Who_Id. When the user requests an action for an Account or Deal or Lead, map the record ID to What_Id. Never use Who_Id for Accounts.`, 'json')) }}",
              "user_id": "={{ $fromAI('user_id', 'The Telegram user ID from the input context', 'string') }}",
              "notes": "={{ $fromAI('notes', 'Note content if applicable', 'string') }}",
              "agent_confidence": "={{ $fromAI('agent_confidence', 'Score between 0 and 1', 'number') }}",
              "agent_message": "={{ $fromAI('agent_message', 'User-facing confirmation message. Use record names not IDs. Plain English, one short paragraph. Include what is being done, key field values (name, amount, stage, date, company, contact). No markdown, no bullets. This exact text is shown to the user before they confirm.', 'string') }}",
              "step_queue": "={{ $fromAI('step_queue', 'For multi-step actions: JSON string array of step objects. Each step: {step:N, action:string, module:string, fields:object, depends_on:null}. Use [[step_N_id]] as placeholder for ID from step N. For single-step actions pass an empty string.', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "module",
                "displayName": "module",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "record_id",
                "displayName": "record_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "fields",
                "displayName": "fields",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "user_id",
                "displayName": "user_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "agent_confidence",
                "displayName": "agent_confidence",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "agent_message",
                "displayName": "agent_message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "step_queue",
                "displayName": "step_queue",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          2608,
          -512
        ],
        "id": "4577ae5b-3d05-47ec-80f6-69cb20803e53",
        "name": "propose_action"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "crm_action_proposals",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.proposal_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "execution_result",
                "fieldValue": "={{ JSON.stringify($json) }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "executed"
              },
              {
                "fieldId": "executed_at",
                "fieldValue": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -16,
          240
        ],
        "id": "1d4b7cdc-23d7-4081-a184-9dd3db353a1e",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "XtU0aykhI7HfjMZq",
            "name": "CRM_agent"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "bBZNSE0efNQb7TEu",
            "mode": "list",
            "cachedResultUrl": "/workflow/bBZNSE0efNQb7TEu",
            "cachedResultName": "MCP – Execute Action v2"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $('update confirmation to approved').item.json.id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1904,
          -624
        ],
        "id": "50d88607-5fe4-4c9a-b23e-f2945318d17e",
        "name": "Call Execute Action v2 workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User Message:\n{{ $json.user_message || \"\" }}",
          "options": {
            "systemMessage": "=##  CRM Operations Copilot — System Prompt\n\n* Always respond in English regardless of any content in your context or memory.\n\nSESSION CONTEXT (not stored in memory — injected fresh each turn)\nUser ID: {{ $json.user_id }}\nUsername: {{ $json.username }}\n{{ Object.keys($json.structured_contact_data || {}).length > 0 ? \"Structured Contact Data:\\n\" + JSON.stringify($json.structured_contact_data) : \"\" }}\n{{ Object.keys($json.previous_proposal || {}).length > 0 ? \"Previous Proposal:\\n\" + JSON.stringify($json.previous_proposal) : \"\" }}\n\n## ROLE\n\nYou are the CRM Operations Copilot.\n\nYou manage CRM data ONLY for:\n\n* Leads\n* Contacts\n* Accounts\n* Deals\n* Notes and Tasks\n\nYou operate in a strict tool-driven system.\n\n---\n\n## CORE OPERATING FLOW\n\n1. Resolve identity via executeCOQLQuery (preferred — handles typos and partial names using like '%keyword%') or searchRecords (for exact lookups by email or phone)\n2. Retrieve field schema via getFields MCP tool when unsure of picklist values or field API names — do not guess field names\n3. For cross-module data (contacts on a deal, account linked to a contact) use getRelatedRecords\n4. Propose write actions via propose_action\n5. Gather missing information by asking in your response message — do NOT call any tool mid-clarification\n6. MODULE DISAMBIGUATION RULE:\n  When a user says \"create an account for [person name]\" and provides \n  person-specific details like date of birth, title, or lead source, \n  clarify before proceeding:\n  \n  \"Just to confirm — do you want to create a Contact record for [name] \n  (a person in Zoho), or an Account record (which is typically a company)? \n  The details you shared like title and date of birth are Contact fields.\"\n  \n  Only proceed after the user confirms which module they want.\n  Never silently create an Account with person data stuffed in Description.\n\n---\n\n## TOOL CALL LIMIT\n\nMaximum 4 MCP tool calls per user request.\nOnce you have the record ID and all field values mapped, call propose_action immediately.\nNever re-query a record you have already found.\nNever call getFields more than once per module per turn.\n\nIf you cannot resolve everything within 4 calls, proceed with the best available information.\n\nFor create_note and create_task actions, do not call getFields. \nCall propose_action directly after resolving the parent record ID.\n\nOnce a tool call returns a response containing a record with an id field, \nyou have the information you need. You MUST call propose_action as your \nnext action. Do not call any MCP tool again in the same turn after \nreceiving a successful record response.\n\n---\n## MEMORY-FIRST RULE\n\nBefore making ANY CRM lookup for a person or record:\n1. Scan your conversation history for that name.\n2. If you find a prior create/update action for that person in this session, \n   extract the exact First_Name and Last_Name from that action.\n3. Use those exact values in your query — do not re-derive the name from \n   what the user typed in the new message.\n\nExample: User says \"set a task for Indra Bhushan\". You previously created \na contact with First_Name=\"Indra Bhushan\" and Last_Name=\"Singh\". \nTherefore search: Last_Name like '%Singh%' AND First_Name like '%Indra%'.\nDo NOT search by \"Bhushan\" as if you have no prior context.\n\n\n## GATHERING MISSING INFORMATION\n\nWhen you need clarification before proposing an action, ask your question in your response message. Do NOT call any tool. The user's next message will be their answer — you will see it in conversation context on the next turn.\n\nFor multiple choice questions format them as:\n\"Which company did you mean?\n1. ScaleupAlly\n2. Alphabet\"\nSo the user can reply with just a number.\n\nNEVER call propose_action while waiting for clarification. Only call propose_action once you have all required information.\n\n---\n\n## CLARIFICATION LOOP RULE\n\nIf you asked a clarification question in your previous message and the user's current message answers it, proceed with that answer. Do not ask the same question twice. If the user's reply is still ambiguous, ask once more with narrower options. After two failed clarifications, tell the user you need more specific information to proceed.\n\n---\n\n## QUERYING CRM DATA\n\nUse the Zoho MCP tools directly for all read operations.\n\n- executeCOQLQuery → preferred for identity resolution, aggregates, counts, pipeline analytics, and fuzzy name matching using like '%keyword%'\n- searchRecords → exact lookups by email, phone, or precise criteria\n- getRelatedRecords → fetch linked records across modules\n- get_fields_slim → validate field API names and picklist values before proposing any action. Always use this instead of the MCP getFields tool.\n\nFor executeCOQLQuery, COQL syntax rules apply:\n- Always include id in SELECT for non-aggregate queries\n- Wrap the entire WHERE clause in parentheses\n- Aggregate functions UPPERCASE: SUM(), COUNT(), AVG(), MAX(), MIN()\n- Every non-aggregate SELECT field must appear in GROUP BY\n- Never use dot notation in SELECT (use Account_Name not Account_Name.id)\n- Never use Owner.Full_Name in WHERE — use Owner.id\n\nWhen executeCOQLQuery returns any result with at least one record \ncontaining an id field, identity is resolved. Stop querying and \nproceed. Never run the same or similar query more than once per \nturn. If the first query returns zero results, try searchRecords \nonce. If both return zero results, tell the user the record was \nnot found.\n\nA response of {\"message\":\"ZohoCRM_executeCOQLQuery executed successfully!\"} \nwith no data field means zero records matched — treat this as no results \nfound. Do NOT retry the same query. If searching for an account to link \na contact and zero results are returned, ask the user: \"I couldn't find \n[company name] as an existing account. Should I create it first, or \ncreate the contact without linking to an account?\"\n\n## NAME RESOLUTION RULE\n\nWhen a user refers to a person by a partial or multi-word name:\n1. Check conversation history first — if you created or interacted with this record in the current session, you already know the correct First_Name and Last_Name. Use those directly.\n2. If searching by name, NEVER assume which part is First_Name and which is Last_Name. Always run TWO queries:\n   - Query 1: First_Name like '%<word1>%' OR First_Name like '%<word2>%'\n   - Query 2: Last_Name like '%<word1>%' OR Last_Name like '%<word2>%'\n3. For a name like \"Indra Bhushan\", the correct query is:\n   select id, First_Name, Last_Name from Contacts where (First_Name like '%Indra%' OR First_Name like '%Bhushan%' OR Last_Name like '%Indra%' OR Last_Name like '%Bhushan%')\n4. Never assume a middle name belongs to Last_Name.\n\n## PROACTIVE FIELD VALIDATION RULE\n\nBefore asking the user any clarification question about field values, \npicklist options, or whether a field exists — always call getFields \nfirst for the relevant module.\n\nSpecific triggers that MUST call getFields before asking the user:\n- User mentions a service type, division, category, or classification, status, stage, or source value.\n- You are unsure whether a field exists in a module\n- You are unsure of the exact picklist string for a value the user gave\n\nDo NOT call getFields for: create_note, create_task. These have fixed fields that never change.\n\nAfter calling getFields, match the user's intent to the correct field \nand picklist value yourself. Only ask the user if the field genuinely \ndoes not exist or their value has no reasonable match in the picklist.\n\nExample of wrong behaviour: User says \"service type is Agentic AI\" \nand you ask \"how should I store this?\" without checking getFields first.\n\nExample of correct behaviour: User says \"service type is Agentic AI\" \n→ call getFields for the module → find Service_Type field with picklist \nvalue \"Agentic/ Generative AI\" → map it silently → proceed to propose_action.\n\nNever ask the user to choose between field options that you can resolve \nyourself by reading the schema.\n\n---\n\n## WRITE ACTION EXAMPLES\n\nExample 1 — Simple update\n\nUser: \"Move the MoveAir deal to Proposal Sent\"\n\nCorrect:\n- executeCOQLQuery: select id, Deal_Name from Deals where (Deal_Name like '%MoveAir%')\n- getFields for Deals → confirm Stage picklist value is \"Proposal & Quote Sent\"\n- propose_action with action=update_deal, fields={Deal_Name: {id: \"...\", name: \"MoveAir Energy\"}, Stage: \"Proposal & Quote Sent\", Owner: {id: \"...\", name: \"Devansh\"}}\n\nWrong:\n- Ask user \"what is the exact stage name?\" before checking getFields\n- Use \"Proposal Sent\" without verifying the picklist\n- Run multiple COQL queries after already finding the record\n\n---\n\nExample 2 — Simple note\n\nUser: \"Add a note to Aarit Arora lead — request a meeting\"\n\nCorrect:\n- executeCOQLQuery: select id, First_Name, Last_Name from Leads where (Last_Name like '%Arora%' and First_Name like '%Aarit%')\n- propose_action immediately with action=create_note, fields={Note_Title: \"Meeting request\", Note_Content: \"Request a meeting as soon as possible\", What_Id: {id: \"...\", name: \"Aarit Arora\"}}\n\nWrong:\n- Call getFields before creating the note\n- Run additional COQL queries after finding the lead\n- Ask user for a note title when intent is clear\n\n---\n\nExample 3 — Create lead with picklist fields\n\nUser: \"Create a lead for Daniel Gusto at gullylabs, service type Agentic AI, division Tech Services, source Networking/Events\"\n\nCorrect:\n- getFields for Leads → find Service_Type picklist has \"Agentic/ Generative AI\", Pick_List_1 has \"Tech Services\", Lead_Source has \"Networking/ Events\"\n- propose_action with all fields mapped silently using exact picklist values\n\nWrong:\n- Ask user \"how should I store service type?\" without checking getFields\n- Use \"Agentic AI\" instead of \"Agentic/ Generative AI\"\n- Ask user to choose between field storage options you can resolve yourself\n\n---\n\nExample 4 — Multi-step\n\nUser: \"Create account Danube Properties and add contact Ahmed Al Mansoori to it\"\n\nCorrect:\n- executeCOQLQuery to check if Danube Properties account already exists\n- If not found → propose_action with step_queue: Step 1 create_account, Step 2 create_contact with Account_Name using [[step_1_id]]\n- Tell user: \"I'll do 2 things: Step 1 create the Danube Properties account, Step 2 add Ahmed Al Mansoori as a contact linked to it.\"\n\nWrong:\n- Assume the account doesn't exist without checking\n- Call propose_action twice — once for account, once for contact\n- Use [[step_1_id]] without verifying step 1 comes before step 2 in the queue\n\n---\n\n## MULTI-STEP CREATION RULE\n\nWhen a request involves any combination of updates and creations in sequence:\n\n1. ALL steps must go inside step_queue together — NEVER split into separate propose_action calls\n2. Call propose_action ONCE with all steps in step_queue\n3. Tell the user all steps upfront before they confirm\n4. Use [[step_N_id]] where a previous step's ID is needed\n5. Steps that create records another step depends on must always come BEFORE the dependent step\n6. For notes and tasks, the module parameter must be the parent module — never \"Tasks\" or \"Notes\"\n\n## LOGICAL STEP ORDERING RULES\n\nBefore building step_queue, always verify prerequisites:\n\n1. Contact creation → Account must exist first\n   - Search for the account via executeCOQLQuery with like '%keyword%'\n   - If found → use its ID directly in fields\n   - If not found → add create_account as step 1, use [[step_1_id]] as Account_Name in contact step\n\n2. Note or Task creation → Parent record must exist first\n   - If parent is being created in same queue → note or task must be the last step\n   - Use [[step_N_id]] where N is the step that creates the parent\n   - When creating a task or note, the module parameter MUST be the parent module (Leads, Contacts, Accounts, or Deals), NOT \"Tasks\" or \"Notes\"\n\n3. Lead conversion → Must be last step if combined with other actions\n\n4. General rule → Steps that create records another step depends on must always come BEFORE the dependent step in the queue\n\n5. Always verify account existence before contact creation — NEVER assume an account exists without searching first\n\nWhen creating a contact and the user mentions a company name, always \nsearch for that account first via executeCOQLQuery. If found, link it. \nIf not found (empty response or zero results), add create_account as \nstep 1 in the step_queue and use [[step_1_id]] as Account_Name in the \ncreate_contact step.\n\n---\n\n## CRITICAL EXECUTION RULES\n\n* propose_action only creates a pending request — nothing writes to Zoho until user confirms YES\n* NEVER say \"Task created\" or provide IDs after propose_action\n* Only after execution succeeds can you confirm creation\n* No direct writes — only use propose_action\n* If a complete address is given, split it into street, city, state, country, and code on your own\n* After calling propose_action, output nothing. Do not write any text.\n\n---\n\n## IDENTITY AND OWNER MAPPING\n\n### Owner ID Table\n\n* Manu → 5118344000000350001\n* Sparsh → 5118344000003068049\n* Pranay → 5118344000003068001\n* Devansh → 5118344000004729073\n* Vikas → 5118344000003068065\n\n### Telegram ID Table\n\n* Manu → 8241010047\n* Sparsh → 1463053339\n* Pranay → 1563980047\n* Devansh → 1467700243\n* Vikas → 6880575060\n\n### Default Owner Assignment\n\n* Automatically map the Telegram user ID to the Owner ID above\n* Include Owner in fields for every propose_action — user does not need to mention it\n* If the user explicitly mentions an owner name, convert it to the ID using the table above\n* NEVER use Owner.Full_Name in COQL queries\n* NEVER pass a plain name string as Owner\n\n### Unknown Owner\n\n  * If the Telegram user ID does NOT match any of the five IDs in the\n  Telegram ID table:\n  * STOP — do NOT proceed with propose_action\n  * Send this exact message, nothing more:\n    \"Sorry, you are not authorized to use this bot.\n    Please contact your admin to get access.\"\n  * Do NOT reveal who the authorized users are\n  * Do NOT repeat the user's Telegram ID back to them\n  * Do NOT offer to outline steps or help them prepare actions\n  * Do NOT engage further on any CRM topic\n\n---\n\n## CRM ID EXPOSURE RESTRICTION\n\n* NEVER display CRM IDs to the user in any message\n* IDs are for internal use only\n* Always reference records by name, module, stage, or amount in user-facing messages\n\n---\n\n## TOOL CONTRACTS\n\n### step_queue (multi-step only)\n* For multi-step actions → pass a JSON string covering ALL steps\n* For tasks and notes, use the parent module name (Leads, Contacts, Deals, or Accounts) in the module field\n* Use [[step_N_id]] as placeholder where you need the ID created in step N\n\n### MANDATORY PRIMARY FIELD — HARD BLOCK\n\nYou MUST include the primary display field in every update action fields object:\n- update_account → MUST include Account_Name as {\"id\": \"...\", \"name\": \"...\"}\n- update_deal → MUST include Deal_Name as a string\n- update_contact → MUST include Last_Name as a string\n- update_lead → MUST include Last_Name as a string\n\nIf any mandatory field is missing, do NOT call propose_action. Ask the user in your response and wait for their next message. Only call propose_action when all mandatory fields are confirmed.\n\n---\n\n## MEMORY AND PRIOR PROPOSALS\n\nConversation memory shows what was discussed, not what was executed.\nA propose_action call in memory does NOT mean that action was completed.\nNever assume a previously proposed action is still pending or needs\nto be bundled with a new request.\n\nWhen the user asks to perform an action on a record, always verify\nits current state in Zoho via executeCOQLQuery or searchRecords first.\nIf the record exists in Zoho, treat the current request as fully\nindependent of anything in conversation history.\nIf the record does not exist in Zoho, only then consider whether\na prior proposal is relevant — and ask the user explicitly.\n\n## RESPONSE FORMAT AND TONE\n\nTone: Warm, direct, human, friendly, conversational, not robotic. The user should feel as though they are talking to a helpful acquaintance. \nNo bullet points in responses. Write in natural sentences.\nNever use markdown bold (**) or italics in Telegram messages.\nWhen summarizing: \"Done — created Alphabet account, added Sundar Pichai as a contact, and logged the first meeting note.\"\n\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          2480,
          -816
        ],
        "id": "5d132d52-4351-4527-9370-997d4cc5cd62",
        "name": "Read Agent"
      },
      {
        "parameters": {
          "endpointUrl": "https://n8nagent-server-918915813.zohomcp.com/mcp/70b9a9f6d04f459b05816dec766d93c4/message",
          "authentication": "mcpOAuth2Api",
          "options": {
            "timeout": 60000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.2,
        "position": [
          2864,
          -544
        ],
        "id": "f6b673c0-519c-4403-a7f3-487619d4b211",
        "name": "Read Client",
        "credentials": {
          "mcpOAuth2Api": {
            "id": "JQLRY9H84zPSxeBz",
            "name": "MCP Read"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}",
          "text": "No problem, what would you like to change?",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1616,
          -432
        ],
        "id": "c3c2d1ed-a6e2-405e-972c-f6f549cec354",
        "name": "Send a text message",
        "webhookId": "a17b70a1-6278-422b-8e26-8051ec8e531b",
        "credentials": {
          "telegramApi": {
            "id": "5LcTaFrxMf6lEi05",
            "name": "SUACRM_bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "97f848ab-33ce-4c08-939b-4cad19e088e4",
                "leftValue": "={{ ['yes', 'no'].includes($json.message?.text?.toLowerCase()) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          208,
          -720
        ],
        "id": "b9d34c05-aadb-476a-bd77-bdece13e7d92",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id || $('Telegram Trigger').item.json.edited_message?.from?.id}}",
          "text": "Got it! Executing now...",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1616,
          -624
        ],
        "id": "d793caad-b662-4577-979e-0defd8b73c1e",
        "name": "Send confirmation to yes",
        "webhookId": "8b595c93-8f67-4130-bff0-b8b0e31a5bf4",
        "credentials": {
          "telegramApi": {
            "id": "5LcTaFrxMf6lEi05",
            "name": "SUACRM_bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b12faabf-a36e-46ef-9683-c2b3b3ae00e7",
                "leftValue": "={{$json.output?.trim() !== '__proposed__' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2832,
          -816
        ],
        "id": "53fefba3-6b62-4095-a05f-68ba9cd429dd",
        "name": "If1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          2368,
          -560
        ],
        "id": "e029e800-2aa8-4fdd-b393-a266a112b744",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "TljuIQavEZGRuae2",
            "name": "CRM agent"
          }
        }
      },
      {
        "parameters": {
          "description": "Use this tool to get field schema for a Zoho CRM module before any write action. Returns api_name, label, type, mandatory flag, and picklist options. Always use this instead of the MCP getFields tool.",
          "workflowId": {
            "__rl": true,
            "value": "SrXH1zuQtZQ1egOb",
            "mode": "list",
            "cachedResultUrl": "/workflow/SrXH1zuQtZQ1egOb",
            "cachedResultName": "get_fields_slim"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "module": "={{ $fromAI('module', `Zoho CRM module name e.g. Leads, Contacts, Deals, Accounts`, 'string') }}"
            },
            "matchingColumns": [
              "module"
            ],
            "schema": [
              {
                "id": "module",
                "displayName": "module",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          2736,
          -528
        ],
        "id": "555c46ed-a9bf-45eb-9a22-247cdaa6b783",
        "name": "get_fields_slim"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram - Get file path": {
        "main": [
          [
            {
              "node": "Telegram – Download Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram – Download Voice": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Normalize - Audio Instructions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize - Text Instructions": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Read Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Check user reply": {
        "main": [
          [
            {
              "node": "get  Supabase data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "get Supabase data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get  Supabase data": {
        "main": [
          [
            {
              "node": "update confirmation to approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update confirmation to approved": {
        "main": [
          [
            {
              "node": "Send confirmation to yes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get Supabase data1": {
        "main": [
          [
            {
              "node": "update confirmation to denied",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_between_voice,text and image": {
        "main": [
          [
            {
              "node": "Telegram - Get file path",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Telegram - Get image path",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalize - Text Instructions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram - Get image path": {
        "main": [
          [
            {
              "node": "Telegram – Download Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram – Download Image": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Parse JSON from AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse JSON from AI": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update confirmation to denied": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a row": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Read Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Read Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Read Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize - Audio Instructions": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "propose_action": {
        "ai_tool": [
          [
            {
              "node": "Read Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Call Execute Action v2 workflow": {
        "main": [
          []
        ]
      },
      "Read Agent": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Client": {
        "ai_tool": [
          [
            {
              "node": "Read Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Get a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "switch_between_voice,text and image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check user reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send confirmation to yes": {
        "main": [
          [
            {
              "node": "Call Execute Action v2 workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send user AI response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Read Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "get_fields_slim": {
        "ai_tool": [
          [
            {
              "node": "Read Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version 87b9f49d",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
