workflows/bids-migration.json
{
  "updatedAt": "2025-09-26T10:37:35.000Z",
  "createdAt": "2025-09-06T06:10:33.366Z",
  "id": "K013xuRZA3NIoNz7",
  "name": "Bids Migration",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2100,
        380
      ],
      "id": "6fe77cd4-6b83-438c-a6b9-9fa9582ac1cb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15La0DxnGXf0HnJX5_9nwOkedZ2_FkcM_BBPeSci7NjQ",
          "mode": "list",
          "cachedResultName": "Bid, Prospect and Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15La0DxnGXf0HnJX5_9nwOkedZ2_FkcM_BBPeSci7NjQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1580544235,
          "mode": "list",
          "cachedResultName": "Freelance Marketplace Bids",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15La0DxnGXf0HnJX5_9nwOkedZ2_FkcM_BBPeSci7NjQ/edit#gid=1580544235"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Synced",
              "lookupValue": "Zoho"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1880,
        380
      ],
      "id": "23c1d7d5-952c-4705-8e10-5669d16530c9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cby4gQ9hDXfjYT1n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1400,
        400
      ],
      "id": "c5266f17-7ff8-4ea9-a21f-369eb6df0af9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c59b5ba0-a698-4912-8d16-bfeedeba6c46",
              "leftValue": "={{ $json['S.No'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        300
      ],
      "id": "f7ae0901-7f38-46e1-9096-08f519084cfb",
      "name": "Skip blank mail"
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.com/crm/v2/Prospects/search?criteria=(FMB_No:equals:{{ $json['S.No'] }})",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -980,
        300
      ],
      "id": "a5d46f52-a290-477b-897c-62bb9fc4d3c5",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v2/Prospects",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"FMB_No\": \"{{ $('Loop Over Items').item.json['S.No'] }}\",\n      \"Description\": \"{{ $('Loop Over Items').item.json['Project Description'] }}\",\n      \"Project_Link\": \"{{ $('Loop Over Items').item.json['Project Link'] }}\",\n      \"Name\": \"{{ $('Loop Over Items').item.json['Website Name'] }}\",\n      \"Lead_Source\": \"{{ $('Loop Over Items').item.json['Website Name'] }}\",\n      \"Division\": \"{{ $('Loop Over Items').item.json.Division }}\",\n     \"Project_date_and_time\": \"{{ $('Loop Over Items').item.json['Project date and time'] ? new Date($('Loop Over Items').item.json['Project date and time']).toISOString().replace(/\\.\\d{3}Z$/, '+05:30') : '' }}\",\n\"Bid_date_and_time\": \"{{ $('Loop Over Items').item.json['Bid Date and Time'] ? new Date($('Loop Over Items').item.json['Bid Date and Time']).toISOString().replace(/\\.\\d{3}Z$/, '+05:30') : '' }}\",\n      \"Bidder_Name\": \"{{ $('Loop Over Items').item.json['Bidder Name'] }}\",\n      \"Inbound_Outbound\": \"{{ $('Loop Over Items').item.json['Inbound or Not'] }}\",\n      \"Bid_Replied_Date\": \"{{ $('Loop Over Items').item.json['Bid Replied Date'] ? new Date($('Loop Over Items').item.json['Bid Replied Date']).toISOString().slice(0,10) : '' }}\",\n      \"Conversion_Status\": \"{{ $('Loop Over Items').item.json['Status of the Conversation'] }}\",\n      \"Pre_Nurturer\": \"{{ $('Loop Over Items').item.json['Pre Nurturer Name '] }}\",\n      \"Assigned_To\": \"{{ $('Loop Over Items').item.json['Nurturer Name'] }}\",\n      \"Prospects_Owner\": {{\n        $json.Prospect_owner === 'Toupali' ? '5118344000001876035' :\n        $json.Prospect_owner === 'Vishal' ? '5118344000003068033' :\n        $json.Prospect_owner === 'Sparsh' ? '5118344000003068049' :\n        $json.Prospect_owner === 'Manu' ? '5118344000000350001' :\n        $json.Prospect_owner === 'Nitya' ? '5118344000003068017' :\n        $json.Prospect_owner === 'Pranay' ? '5118344000003068001' :\n         $json.Prospect_owner === 'Gig Radar' ? '5118344000001876035' :\n        5118344000001876035\n      }}       \n    }\n  ]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        240
      ],
      "id": "0ba9949c-7b18-4d46-b1dc-e19b44ddb669",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b268679-5b86-4f50-b441-b021a5225397",
              "leftValue": "={{ $json.notEmpty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -540,
        300
      ],
      "id": "c55bda90-14d6-46aa-809b-01130ca8f9f3",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys($json).length) {\n  return [{ notEmpty: true }];\n} else {\n  return [{ notEmpty: false }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        300
      ],
      "id": "7311c221-1177-4e22-88dd-5561d6d0a3a0",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const cutoff = new Date(\"2025-03-31\"); // YYYY-MM-DD\nreturn items.filter(item => {\n  const raw = item.json[\"Bid Date\"];\n  if (!raw) return false;\n  // Parse DD-MMM-YY (e.g. 05-Apr-25)\n  const parsed = new Date(Date.parse(raw.replace(/-/g, \" \")));\n  return parsed > cutoff;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        380
      ],
      "id": "f1697bbf-810a-4c6a-a51f-d956cf9b32a5",
      "name": "Filter bids after 31-Mar-25"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15La0DxnGXf0HnJX5_9nwOkedZ2_FkcM_BBPeSci7NjQ",
          "mode": "list",
          "cachedResultName": "Bid, Prospect and Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15La0DxnGXf0HnJX5_9nwOkedZ2_FkcM_BBPeSci7NjQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1580544235,
          "mode": "list",
          "cachedResultName": "Freelance Marketplace Bids",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15La0DxnGXf0HnJX5_9nwOkedZ2_FkcM_BBPeSci7NjQ/edit#gid=1580544235"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "S.No": "={{ $('Loop Over Items').item.json['S.No'] }}",
            "Synced": "Yes"
          },
          "matchingColumns": [
            "S.No"
          ],
          "schema": [
            {
              "id": "S.No",
              "displayName": "S.No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Description",
              "displayName": "Project Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Link",
              "displayName": "Project Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website Name",
              "displayName": "Website Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Division",
              "displayName": "Division",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project date and time",
              "displayName": "Project date and time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Date",
              "displayName": "Project Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Week Start Day",
              "displayName": "Week Start Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Week Start Date",
              "displayName": "Week Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bidder Name",
              "displayName": "Bidder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bid Date and Time",
              "displayName": "Bid Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bid Date",
              "displayName": "Bid Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bid Day",
              "displayName": "Bid Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time Taken to Bid ",
              "displayName": "Time Taken to Bid ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Inbound or Not",
              "displayName": "Inbound or Not",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bid Replied Date",
              "displayName": "Bid Replied Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status of the Conversation",
              "displayName": "Status of the Conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pre Nurturer Name ",
              "displayName": "Pre Nurturer Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "No of proposals at the time of bid",
              "displayName": "No of proposals at the time of bid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ChatGPT used (Yes/No",
              "displayName": "ChatGPT used (Yes/No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proposal Viewed or not",
              "displayName": "Proposal Viewed or not",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Boost",
              "displayName": "Boost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reason for Disqualification",
              "displayName": "Reason for Disqualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup Status",
              "displayName": "Followup Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup Date",
              "displayName": "Followup Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nurturer Name",
              "displayName": "Nurturer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Red Flag",
              "displayName": "Red Flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Bid Time Efficiency (Project Time-Bid Time)",
              "displayName": "Bid Time Efficiency (Project Time-Bid Time)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conversion Status",
              "displayName": "Conversion Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Boost",
              "displayName": "Boost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn ID",
              "displayName": "LinkedIn ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reachout Date",
              "displayName": "Reachout Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Replied Date (LinkedIn)",
              "displayName": "Replied Date (LinkedIn)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Replied Date (Email)",
              "displayName": "Replied Date (Email)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Month-Year",
              "displayName": "Month-Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Move to Lead Tracker (Y/N)",
              "displayName": "Move to Lead Tracker (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day/Night",
              "displayName": "Day/Night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn Reachout Done or Not",
              "displayName": "LinkedIn Reachout Done or Not",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estimated Value",
              "displayName": "Estimated Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project Value(Rs.)",
              "displayName": "Project Value(Rs.)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Synced",
              "displayName": "Synced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        300
      ],
      "id": "5518080b-d8a1-4fdd-860a-345bd7497cd2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cby4gQ9hDXfjYT1n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('Loop Over Items').all().map(item => {\n  const row = item.json;\n\n  const bidRepliedDate = row['Bid Replied Date'] ? String(row['Bid Replied Date']).trim() : '';\n  const status = row['Status of the Conversation'] ? String(row['Status of the Conversation']).trim() : '';\n  const nurturer = row['Nurturer Name'] ? String(row['Nurturer Name']).trim() : '';\n  const preNurturer = row['Pre Nurturer Name'] ? String(row['Pre Nurturer Name']).trim() : '';\n  const bidder = row['Bidder Name'] ? String(row['Bidder Name']).trim() : '';\n\n  let prospectOwner = '';\n\n  if (bidRepliedDate) {\n    if (status === 'Marked as lead') {\n      prospectOwner = nurturer || bidder; // fallback to bidder\n    } else {\n      prospectOwner = preNurturer || bidder; // fallback to bidder\n    }\n  } else {\n    prospectOwner = bidder;\n  }\n\n  return {\n    json: {\n      ...row,\n      Prospect_owner: prospectOwner || null,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        220
      ],
      "id": "add31173-9a89-4600-968d-e2bdd8f917e2",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.zohoapis.com/crm/v2/Prospects/{{ $json.data[0].details.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"Owner\": \"{{ $('Code1').item.json.Prospect_owner === 'Toupali' ? '5118344000001876035' :\n                  $('Code1').item.json.Prospect_owner === 'Vishal' ? '5118344000003068033' :\n                  $('Code1').item.json.Prospect_owner === 'Sparsh' ? '5118344000003068049' :\n                  $('Code1').item.json.Prospect_owner === 'Manu' ? '5118344000000350001' :\n                  $('Code1').item.json.Prospect_owner === 'Nitya' ? '5118344000003068017' :\n                  $('Code1').item.json.Prospect_owner === 'Pranay' ? '5118344000003068001' :\n                  '5118344000001876035' }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        240
      ],
      "id": "1773a0e6-04c6-4f35-96ab-6de4863e6a42",
      "name": "change owner request",
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter bids after 31-Mar-25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Skip blank mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip blank mail": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "change owner request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter bids after 31-Mar-25": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change owner request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "088d9edf-4a3e-4bec-b214-4f7ae62d0978",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-06T06:10:33.374Z",
      "createdAt": "2025-09-06T06:10:33.374Z",
      "role": "workflow:owner",
      "workflowId": "K013xuRZA3NIoNz7",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
