workflows/commands-handler.json
{
  "updatedAt": "2025-10-27T07:43:02.000Z",
  "createdAt": "2025-10-27T07:41:36.721Z",
  "id": "s5xTEqTQvx2BopxA",
  "name": "Commands Handler",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "chat_id",
              "type": "number"
            }
          ]
        }
      },
      "id": "d2662a48-cbb6-4c47-89d4-9eb8880d26a7",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -440,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/log_repair",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "945990c0-3308-4f43-a699-258bb7ae772e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Log repair"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "329d57d0-b957-495c-bc62-d71f0c5e478a",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/remind_rent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Remind Rent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8490ead6-0132-4f78-8e80-81fb802f50be",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/new_property",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New property"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f13eb61e-65d9-49bf-b204-a559514a5b36",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Help"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        280
      ],
      "id": "355a20f7-a504-4e2c-8c51-1a2ae845faeb",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "Got something that needs fixing? Just tell me the issue and the unit (e.g., ‘Leaky faucet in 2B’). I’ll log it and remind you to follow up.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "disable_web_page_preview": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0d48434b-41a6-48b7-8769-507f190e4d2c",
      "name": "Log Repair",
      "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "What’s the rent amount and due date? (e.g., $950, 1st). I’ll message your tenant before it’s due and again if it’s late.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "d1bd0853-6b4b-42ab-b2aa-a8e0153aaf83",
      "name": "Rent reminder",
      "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "What’s the address of the unit you want to set up? (e.g., 123 Main St, Apt 3). I’ll remember it for reminders, repairs, and lease tracking.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ],
      "id": "05837611-9aff-4747-9eff-3d266cbd44ff",
      "name": "New Property",
      "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "Here's what I can help you with:\n🧰 Track a repair /log_repair\n💵 Remind a tenant about rent /remind_rent\n📄 Set up a property /new_property\nWhich one do you want to try?",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        600
      ],
      "id": "40120d47-f19a-436c-9f24-094e8805bd66",
      "name": "Help",
      "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Log Repair",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rent reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New Property",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3fe8f1ae-c4ad-4ed7-8882-48633b831be1",
  "activeVersionId": "3fe8f1ae-c4ad-4ed7-8882-48633b831be1",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-27T07:41:36.725Z",
      "createdAt": "2025-10-27T07:41:36.725Z",
      "role": "workflow:owner",
      "workflowId": "s5xTEqTQvx2BopxA",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-23T06:05:26.474Z",
    "createdAt": "2025-12-23T06:05:26.474Z",
    "versionId": "3fe8f1ae-c4ad-4ed7-8882-48633b831be1",
    "workflowId": "s5xTEqTQvx2BopxA",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "text"
              },
              {
                "name": "chat_id",
                "type": "number"
              }
            ]
          }
        },
        "id": "d2662a48-cbb6-4c47-89d4-9eb8880d26a7",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -440,
          300
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.text }}",
                      "rightValue": "/log_repair",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "945990c0-3308-4f43-a699-258bb7ae772e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Log repair"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "329d57d0-b957-495c-bc62-d71f0c5e478a",
                      "leftValue": "={{ $json.text }}",
                      "rightValue": "/remind_rent",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Remind Rent"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8490ead6-0132-4f78-8e80-81fb802f50be",
                      "leftValue": "={{ $json.text }}",
                      "rightValue": "/new_property",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "New property"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f13eb61e-65d9-49bf-b204-a559514a5b36",
                      "leftValue": "={{ $json.text }}",
                      "rightValue": "/help",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Help"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -220,
          280
        ],
        "id": "355a20f7-a504-4e2c-8c51-1a2ae845faeb",
        "name": "Switch"
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
          "text": "Got something that needs fixing? Just tell me the issue and the unit (e.g., ‘Leaky faucet in 2B’). I’ll log it and remind you to follow up.",
          "additionalFields": {
            "appendAttribution": false,
            "disable_notification": false,
            "disable_web_page_preview": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "0d48434b-41a6-48b7-8769-507f190e4d2c",
        "name": "Log Repair",
        "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
          "text": "What’s the rent amount and due date? (e.g., $950, 1st). I’ll message your tenant before it’s due and again if it’s late.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          200
        ],
        "id": "d1bd0853-6b4b-42ab-b2aa-a8e0153aaf83",
        "name": "Rent reminder",
        "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
          "text": "What’s the address of the unit you want to set up? (e.g., 123 Main St, Apt 3). I’ll remember it for reminders, repairs, and lease tracking.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          400
        ],
        "id": "05837611-9aff-4747-9eff-3d266cbd44ff",
        "name": "New Property",
        "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
          "text": "Here's what I can help you with:\n🧰 Track a repair /log_repair\n💵 Remind a tenant about rent /remind_rent\n📄 Set up a property /new_property\nWhich one do you want to try?",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          600
        ],
        "id": "40120d47-f19a-436c-9f24-094e8805bd66",
        "name": "Help",
        "webhookId": "e6d283f6-f5cd-433f-ac75-4020b230f341",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Log Repair",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Rent reminder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "New Property",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Help",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}
