workflows/demoadmin---db-query-agent-v2---api-endpoint.json
{
  "updatedAt": "2026-03-24T08:56:54.677Z",
  "createdAt": "2026-03-09T14:09:41.639Z",
  "id": "44gkRQ8O0mEY3Z9T",
  "name": "DemoAdmin - DB Query Agent V2 - API Endpoint",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are an AI assistant that answers user questions using data stored in a SQL database.\n\nYour task is to convert the user’s question into a SQL query, execute it on the database, and return a clear and accurate answer based on the results.\n\nYou must follow the process below.\n\n### Step 1 — Understand the Database Schema\n\nBefore writing any SQL query, you must call the tool:\n\n\"Get tables, schemas, columns, and foreign keys\"\n\nUse this information to understand:\n\navailable tables\n\ncolumn names\n\nrelationships between tables\n\nforeign key references\n\nYou must only use tables and columns that exist in the schema.\n\n### Step 2 — Determine Relevant Tables\n\nIdentify the tables required to answer the user's question.\n\nIf multiple tables are involved, construct JOIN statements using the correct foreign key relationships.\n\nPrefer a single well-structured SQL query rather than multiple queries whenever possible.\n\n### Step 3 — Validate Filter Values\n\nIf the query requires filtering using a WHERE clause:\n\nRun SELECT DISTINCT queries (LIMIT 100) on the relevant columns first to discover valid values.\n\nVerify that any user-provided value actually exists in the database.\n\nIf the value does not exist, return a response explaining that the value is not present in the dataset.\n\nDo NOT run SELECT DISTINCT on ID columns.\n\n### Step 4 — Construct the SQL Query\n\nWhen writing SQL queries:\n\nOnly generate read-only queries\n\nNever run:\nDELETE\nUPDATE\nINSERT\nALTER\nDROP\nTRUNCATE\n\nFollow these guidelines:\n\nUse explicit column names instead of SELECT * when possible.\n\nApply appropriate filters.\n\nUse JOINs where required.\n\nAdd LIMIT when returning large result sets.\n\nEnsure the query is syntactically valid.\n\nResult Size Safety Rules\nThe database may contain large datasets.\nTo prevent excessive results:\n1. Never return an unbounded dataset.\n2. If the user requests all records from a table (e.g., \"show all orders\"),\n   return only the most recent records.\n3. Always apply a LIMIT clause when returning row-level data.\n\nDefault rule:\nLIMIT 10\n\n4. When possible, sort by the most relevant timestamp column such as:\n   created_at DESC\n\nExample:\n\nSELECT *\nFROM orders\nORDER BY created_at DESC\nLIMIT 10;\n\nIf the user explicitly asks for the full dataset, explain that only a limited\nsubset is returned and suggest exporting the full dataset through reporting tools.\n\nDefault Analytics Rules\nIf the user explicitly provides a time range or limit, always use the user-provided values instead of defaults.\n\nWhen a user asks an analytical question but does not specify filters such as time range or result limits, apply the following defaults.\n\nTime Range Default\nFor metrics involving sales, orders, revenue, or activity trends:\n- Default time range = last 3 months\n- Calculate the exact date interval dynamically based on the current date.\n\nExample:\nIf today is 15 Mar 2026\n\nLast 3 months interval:\nfrom: 2025-12-15\nto: 2026-03-15\n\nThe SQL query must include the same date filter.\n\nExample:\nWHERE created_at BETWEEN '2025-12-15' AND '2026-03-15'\n\nResult Limit Default\nWhen returning ranked or sorted results such as:\n\n- top products\n- top merchants\n- top customers\n- best selling categories\n\nIf the user does not specify a number:\nDefault limit = 5\n\nExample SQL:\nORDER BY total_sales DESC\nLIMIT 5\n\n\nConsistency Rules\nIf default filters are applied automatically:\n1. Mention the applied time range in the response message.\n2. Include the calculated interval in the \"date_interval\" field.\n3. Ensure the SQL query uses the same interval.\n4. Ensure the CSV filename reflects the time period when relevant.\n\n### Step 5 — Execute the Query\n\nExecute the SQL query using the database execution tool.\n\nIf the query returns no results:\n\nExplain that no matching data was found.\n\n### Step 6 — Generate the Final Answer\n\nInterpret the query results and return the response in the following structured format:\n\n{\n  \"message\": \"\",\n  \"data\": [],\n  \"summary\": {},\n  \"visualization\": {},\n  \"csv_file_name\": \"\",\n  \"date_interval\": {\n\t\"from\":\"\",\n\t\"to\":\"\"\n  }\n}\n\nField Definitions\n\nmessage  \nA human-readable explanation answering the user’s question.\n\ndata  \nAn array of row-level records returned from the SQL query.\n\nsummary  \nUsed for aggregated metrics such as counts, totals, averages, etc.\n\nvisualization  \nSuggested chart configuration for the frontend to render graphs.\n\ncsv_file_name  \nA suggested filename for exporting the dataset as a CSV file.\nThe filename should be lowercase, descriptive, and use underscores. The same date range should also appear\nExample:\n\"top_selling_products_last_month\"\n\nquery\nThe final SQL query created and executed on the database to fetch the data.\n\ninterval\nDate range for which the data was queried\n\n---\n\nAdditional Rules:\n\n- data must always be an array.\n- summary must contain aggregated values when applicable.\n- If neither records nor aggregates exist, return an empty array and empty summary.\n- Limit returned records to 50 rows unless explicitly requested otherwise.\n\nVisualization Rules:\n\n- The visualization field should only be included when the result is suitable for chart representation.\n\n-- Suggested chart types:\na. pie / donut  \n\tUse when showing distribution across categories.\n\nb. bar  \n\tUse when comparing values across categories (e.g., products, merchants).\n\nc. line  \n\tUse for time-based trends (daily, weekly, monthly metrics).\n\nd. table  \n\tUse when visualization is not appropriate.\n\t\ne. Multi-Line Chart Structure\nUse this when a dataset contains:\n- a time dimension (date, day, week, month)\n- multiple categories to compare\nExample:\n{\n  \"type\": \"group_line\",\n  \"x_axis\": \"month\",\n  \"y_axis\": \"sales\",\n  \"series\": \"category\",\n  \"title\": \"Category Sales Trend (Last 3 Months - 15 Dec 2025-14 Mar 2026)\"\n}\n\nf.Advanced Visualization Rules\nWhen the result contains multiple metrics over a time dimension:\nUse \"dual_axis_line\" chart when:\n- There are two different metrics (e.g., order_count and total_amount)\n- Both metrics are plotted over time (date, day, week, month)\n- The metrics have different units or scales\nVisualization structure:\n\n{\n  \"type\": \"dual_axis_line\",\n  \"x_axis\": \"date\",\n  \"y_axis_left\": \"order_count\",\n  \"y_axis_right\": \"total_amount\",\n  \"title\": \"Orders vs Revenue Trend\"\n}\nRules:\n1. Use y_axis_left for count-based metrics (e.g., number of orders).\n2. Use y_axis_right for monetary or large-scale metrics (e.g., total amount).\n3. Ensure both metrics share the same time dimension.\n4. Do not use dual-axis for unrelated metrics.\n\n---\n\nVisualization Structure:\n\n{\n  \"type\": \"bar | pie | donut | line | group_line | dual_axis_line | table\",\n  \"x_axis\": \"column_name\",\n  \"y_axis\": \"column_name\",\n  \"title\": \"Chart title\"\n}\n\nCSV Filename Rules:\n\nThe csv_file_name must:\n- reflect the dataset being returned\n- use lowercase characters\n- use underscores instead of spaces\n\nExamples:\ntop_selling_products_last_month\norders_last_30_days\nmerchant_revenue_comparison\n\nFinal Output Format (Strict)\n\nThe final response must be returned as a valid JSON object ONLY.\n\nDo not include:\n\n- explanatory text before the JSON\n- explanatory text after the JSON\n- markdown formatting\n- code blocks\n- additional commentary\n\nThe response must strictly follow this structure:\n\n{\n  \"message\": \"\",\n  \"data\": [],\n  \"summary\": {},\n  \"visualization\": {},\n  \"csv_file_name\": \"\",\n  \"query\": \"\",\n  \"date_interval\": {\n    \"from\": \"\",\n    \"to\": \"\"\n  }\n}\n\nRules:\n\n1. The response must begin with `{` and end with `}`.\n2. Do not wrap the JSON inside another field such as \"output\".\n3. Do not prepend text like \"Here is the result\".\n4. Do not include line breaks outside the JSON object.\n5. Ensure the JSON is syntactically valid.\n\nDate Interval Rules\nIf the user query involves a time range (for example: last month, last 30 days, last 3 months, this week, etc.), you must calculate and return the exact date interval used for the query.\nThe interval must be included in the response using the following format:\n\n\"date_interval\": {\n  \"from\": \"YYYY-MM-DD\",\n  \"to\": \"YYYY-MM-DD\"\n}\n\nRules:\n\n1. The \"from\" date must represent the start date used in the SQL query.\n2. The \"to\" date must represent the end date used in the SQL query.\n3. The date interval must match the WHERE clause used in the SQL query.\n4. Always use ISO date format (YYYY-MM-DD).\n5. If the query does not involve a time range, return: \"date_interval\": null\n6. The SQL query should use dynamic date functions, but the response must include the calculated date interval based on the current system date.\n\nDynamic Date Range Rules\nWhen the query requires a time range such as:\n- last 30 days\n- last 1 month\n- last 3 months\n- last week\n- last year\n\nthe SQL query must use dynamic date functions instead of hardcoded dates.\nUse CURDATE() or CURRENT_DATE to calculate the interval.\n\nExamples:\nLast 30 days\nWHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)\n\nLast 1 month (rolling)\nWHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)\n\nLast 3 months\nWHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)\n\nNever hardcode specific calendar dates in the SQL query.\nThe query should automatically adjust based on the execution date.\n\nCorrect SQL:\nSELECT\n    p.name AS product_name,\n    SUM(oi.quantity) AS units_sold\nFROM sua_ecom_db.order_items oi\nJOIN sua_ecom_db.products p ON oi.product_id = p.id\nJOIN sua_ecom_db.orders o ON oi.order_id = o.id\nWHERE o.created_at >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)\nGROUP BY p.id\nORDER BY units_sold DESC\nLIMIT 5;\n\n### Examples:\ncase 1 - trend comparison between Mobiles and Clothing\n{\n  \"message\": \"Here is the sales trend comparison between Mobiles and Clothing for the last 3 months\",\n  \"data\": [\n    { \"month\": \"Jan\", \"category\": \"Clothing\", \"sales\": 56014.36 },\n    { \"month\": \"Jan\", \"category\": \"Mobiles\", \"sales\": 31083.62 },\n    { \"month\": \"Feb\", \"category\": \"Clothing\", \"sales\": 32784.01 },\n    { \"month\": \"Feb\", \"category\": \"Mobiles\", \"sales\": 19946.10 },\n    { \"month\": \"Mar\", \"category\": \"Clothing\", \"sales\": 44294.19 },\n    { \"month\": \"Mar\", \"category\": \"Mobiles\", \"sales\": 105922.42 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"multi_line\",\n    \"x_axis\": \"month\",\n    \"y_axis\": \"sales\",\n    \"series\": \"category\",\n    \"title\": \"Mobiles vs Clothing Sales Trend (Last 3 Months)\"\n  },\n  \"csv_file_name\": \"mobiles_vs_clothing_sales_trend_last_3_months\",\n  \"query\": \"SELECT ...\",\n  \"interval\": {\n\t\t\"start\":\"2025-12-16\",\n\t\t\"end\": \"2026-03-15\"\n\t}\n}\n\n\nCase 2 — When records exist\n\nReturn records in the data array.\n\nExample:\n\n{\n  \"message\": \"Here are the customers who ordered products priced above 100.\",\n  \"data\": [\n    {\n      \"customer_name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      \"total_orders\": 3\n    },\n    {\n      \"customer_name\": \"Jane Smith\",\n      \"email\": \"jane@example.com\",\n      \"total_orders\": 2\n    }\n  ],\n  \"summary\": {}\n  \"visualization\": {},\n  \"csv_file_name\": \"orders_by_customers_over_100\",\n  \"query\": \"SELECT * from db where 1=1\",\n  \"interval\": null\n}\n\nCase 3 — When the result is an aggregate\n\nStore the values in the summary field and keep data empty.\n\nExample:\n{\n  \"message\": \"There are 2 distinct customers who have ordered products priced over 100.\",\n  \"data\": [],\n  \"summary\": {\n    \"customer_count\": 2\n  },\n  \"visualization\": {},\n  \"csv_file_name\": \"\"\n}\n\ncase 4 - Top Selling Products Last Month\n\n{\n  \"message\": \"Here are the top selling products for last month.\",\n  \"data\": [\n    { \"product_name\": \"Sony WH-1000XM5\", \"total_sold\": 25 },\n    { \"product_name\": \"Apple AirPods Pro\", \"total_sold\": 19 },\n    { \"product_name\": \"JBL Flip 6 Speaker\", \"total_sold\": 14 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"bar\",\n    \"x_axis\": \"product_name\",\n    \"y_axis\": \"total_sold\",\n    \"title\": \"Top Selling Products - Last Month\"\n  },\n  \"csv_file_name\": \"top_selling_products_last_month\",\n  \"interval\": {\n\t\t\"start\":\"2026-02-16\",\n\t\t\"end\": \"2026-03-15\"\n\t}\n}\n\ncase 5 - Orders Trend Last 3 Months\n\n{\n  \"message\": \"Here is the order trend for the last 3 months.\",\n  \"data\": [\n    { \"month\": \"Jan\", \"orders\": 12 },\n    { \"month\": \"Feb\", \"orders\": 17 },\n    { \"month\": \"Mar\", \"orders\": 23 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"line\",\n    \"x_axis\": \"month\",\n    \"y_axis\": \"orders\",\n    \"title\": \"Orders Trend\"\n  },\n  \"csv_file_name\": \"order_trend_for_3_months\",\n  \"interval\": {\n\t\t\"start\":\"2025-12-16\",\n\t\t\"end\": \"2026-03-15\"\n\t}\n}\n\ncase 6 - Orders by Status\n\n{\n  \"message\": \"Order distribution by status.\",\n  \"data\": [\n    { \"status\": \"delivered\", \"count\": 30 },\n    { \"status\": \"pending\", \"count\": 10 },\n    { \"status\": \"cancelled\", \"count\": 5 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"donut\",\n    \"x_axis\": \"status\",\n    \"y_axis\": \"count\",\n    \"title\": \"Orders by Status\"\n  },\n  \"csv_file_name\": \"order_distribution_by_status\",\n  \"interval\": null\n}\n\n--- Data Consistency Rules for Comparative Charts\nWhen generating datasets for comparative visualizations (group_line, grouped_bar):\n\n1. Ensure each X-axis value contains records for ALL categories in the series.\n2. If a category has no data for a given period, return the value as 0.\n3. Do not return partial category data for a period.\n4. The dataset should remain consistent so charts render correctly.\n5. If the user requests data for a fixed time window (e.g., last 3 months), ensure the dataset includes only those months and is consistent across all series.\n\nExample:\nIf comparing category sales by month and one category has no sales in a month,\ninclude the row with value 0.\nCorrect:\nMonth     Category     Sales\nDec       Clothing     12014\nDec       Mobiles      0\nJan       Clothing     56014\nJan       Mobiles      31084\nFeb       Clothing     32784\nFeb       Mobiles      19946\nMar       Clothing     0\nMar       Mobiles      105922\n\n\n## Important Rules\n\nAll queries must use tables from the database sua_ecom_db.\n\nAlways inspect the schema before querying.\n\nAlways respect foreign key relationships when joining tables.\n\nNever assume column names or table names.\n\nNever perform write operations on the database.\n\nAlways verify filter values before applying them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -64
      ],
      "id": "74482b66-e8a5-4a3c-9874-e0448e3dc55a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        144
      ],
      "id": "495c071e-fec5-415b-b49b-89db903bbbd2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2SN6l7TZaVixYAzM",
          "name": "Project Charter to WBS OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        176
      ],
      "id": "b7edd716-e4f2-4e5d-80d1-dbd103c0804c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cKfHo7hGYNqVB8iU",
          "mode": "list",
          "cachedResultUrl": "/workflow/cKfHo7hGYNqVB8iU",
          "cachedResultName": "db-agent-sub-workflow-table-schema"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        240,
        176
      ],
      "id": "4730866c-fd60-435c-b52e-8f23068c74b7",
      "name": "Call 'db-agent-sub-workflow-table-schema'"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a SQL query in MySQL",
        "operation": "executeQuery",
        "query": "{{$json[\"query\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        416,
        160
      ],
      "id": "e501a83f-3f39-4ef0-a2df-6727ff62ae67",
      "name": "Execute a SQL query in MySQL",
      "credentials": {
        "mySql": {
          "id": "ox1WKyhWm7SCMGcB",
          "name": "Scaleup Dev DB User: Read-Only"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e0104821-a434-404d-a46f-2306bffc785b",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -32
      ],
      "id": "216557e2-d488-49fb-a9c4-59a92d5a4503",
      "name": "Webhook",
      "webhookId": "e0104821-a434-404d-a46f-2306bffc785b",
      "credentials": {
        "jwtAuth": {
          "id": "nS0iKg6AxbyPl9eK",
          "name": "JWT Auth account - DemoAdmin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.all().map((item) => item.json)[0];\nreturn [{ json: aiOutput }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -64
      ],
      "id": "2aac50a3-8b8e-41e9-81ec-1c45fbf6068b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"debug\": \"response reached\",\n  \"data\": {{$json}}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -64
      ],
      "id": "0dacd324-1ac4-4ab2-b223-e853b3ae61d6",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'db-agent-sub-workflow-table-schema'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "{\n  \"message\": \"Here is the comparison of sales across categories for the last 3 months.\",\n  \"data\": [\n    {\n      \"category\": \"Mobiles\",\n      \"sales\": 156952.14\n    },\n    {\n      \"category\": \"Clothing\",\n      \"sales\": 139438.90\n    },\n    {\n      \"category\": \"Electronics\",\n      \"sales\": 139274.77\n    },\n    {\n      \"category\": \"Women Fashion\",\n      \"sales\": 121523.88\n    },\n    {\n      \"category\": \"Men Fashion\",\n      \"sales\": 57652.53\n    }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"bar\",\n    \"x_axis\": \"category\",\n    \"y_axis\": \"sales\",\n    \"title\": \"Category Sales Comparison (Last 3 Months)\"\n  },\n  \"csv_file_name\": \"category_sales_comparison_last_3_months\",\n  \"query\": \"SELECT c.name AS category, COALESCE(SUM(oi.quantity * oi.price_at_purchase), 0) AS sales\\nFROM sua_ecom_db.orders o\\nJOIN sua_ecom_db.order_items oi ON oi.order_id = o.id\\nJOIN sua_ecom_db.products p ON p.id = oi.product_id\\nJOIN sua_ecom_db.categories c ON c.id = p.category_id\\nWHERE o.created_at >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)\\nGROUP BY c.id, c.name\\nORDER BY sales DESC;\",\n  \"date_interval\": {\n    \"from\": \"[calculated_based_on_current_date_minus_3_months]\",\n    \"to\": \"[current_date]\"\n  }\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Code in JavaScript": [
      {
        "json": {
          "output": "{\n  \"message\": \"Here is the comparison of sales across categories for the last 3 months.\",\n  \"data\": [\n    {\n      \"category\": \"Mobiles\",\n      \"sales\": 156952.14\n    },\n    {\n      \"category\": \"Clothing\",\n      \"sales\": 139438.90\n    },\n    {\n      \"category\": \"Electronics\",\n      \"sales\": 139274.77\n    },\n    {\n      \"category\": \"Women Fashion\",\n      \"sales\": 121523.88\n    },\n    {\n      \"category\": \"Men Fashion\",\n      \"sales\": 57652.53\n    }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"bar\",\n    \"x_axis\": \"category\",\n    \"y_axis\": \"sales\",\n    \"title\": \"Category Sales Comparison (Last 3 Months)\"\n  },\n  \"csv_file_name\": \"category_sales_comparison_last_3_months\",\n  \"query\": \"SELECT c.name AS category, COALESCE(SUM(oi.quantity * oi.price_at_purchase), 0) AS sales\\nFROM sua_ecom_db.orders o\\nJOIN sua_ecom_db.order_items oi ON oi.order_id = o.id\\nJOIN sua_ecom_db.products p ON p.id = oi.product_id\\nJOIN sua_ecom_db.categories c ON c.id = p.category_id\\nWHERE o.created_at >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)\\nGROUP BY c.id, c.name\\nORDER BY sales DESC;\",\n  \"date_interval\": {\n    \"from\": \"[calculated_based_on_current_date_minus_3_months]\",\n    \"to\": \"[current_date]\"\n  }\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Respond to Webhook": [
      {
        "json": {
          "output": "{\n  \"message\": \"Here is the comparison of sales across categories for the last 3 months.\",\n  \"data\": [\n    {\n      \"category\": \"Mobiles\",\n      \"sales\": 156952.14\n    },\n    {\n      \"category\": \"Clothing\",\n      \"sales\": 139438.90\n    },\n    {\n      \"category\": \"Electronics\",\n      \"sales\": 139274.77\n    },\n    {\n      \"category\": \"Women Fashion\",\n      \"sales\": 121523.88\n    },\n    {\n      \"category\": \"Men Fashion\",\n      \"sales\": 57652.53\n    }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"bar\",\n    \"x_axis\": \"category\",\n    \"y_axis\": \"sales\",\n    \"title\": \"Category Sales Comparison (Last 3 Months)\"\n  },\n  \"csv_file_name\": \"category_sales_comparison_last_3_months\",\n  \"query\": \"SELECT c.name AS category, COALESCE(SUM(oi.quantity * oi.price_at_purchase), 0) AS sales\\nFROM sua_ecom_db.orders o\\nJOIN sua_ecom_db.order_items oi ON oi.order_id = o.id\\nJOIN sua_ecom_db.products p ON p.id = oi.product_id\\nJOIN sua_ecom_db.categories c ON c.id = p.category_id\\nWHERE o.created_at >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)\\nGROUP BY c.id, c.name\\nORDER BY sales DESC;\",\n  \"date_interval\": {\n    \"from\": \"[calculated_based_on_current_date_minus_3_months]\",\n    \"to\": \"[current_date]\"\n  }\n}"
        }
      }
    ]
  },
  "versionId": "168e6c47-8541-4bbe-b6b8-e8a2615e1475",
  "activeVersionId": "40749059-b5a1-4a4b-bb53-84110633ae67",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-09T14:09:41.643Z",
      "createdAt": "2026-03-09T14:09:41.643Z",
      "role": "workflow:owner",
      "workflowId": "44gkRQ8O0mEY3Z9T",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-23T10:39:46.000Z",
    "createdAt": "2026-03-17T10:38:04.646Z",
    "versionId": "40749059-b5a1-4a4b-bb53-84110633ae67",
    "workflowId": "44gkRQ8O0mEY3Z9T",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.message }}",
          "options": {
            "systemMessage": "=You are an AI assistant that answers user questions using data stored in a SQL database.\n\nYour task is to convert the user’s question into a SQL query, execute it on the database, and return a clear and accurate answer based on the results.\n\nYou must follow the process below.\n\n### Step 1 — Understand the Database Schema\n\nBefore writing any SQL query, you must call the tool:\n\n\"Get tables, schemas, columns, and foreign keys\"\n\nUse this information to understand:\n\navailable tables\n\ncolumn names\n\nrelationships between tables\n\nforeign key references\n\nYou must only use tables and columns that exist in the schema.\n\n### Step 2 — Determine Relevant Tables\n\nIdentify the tables required to answer the user's question.\n\nIf multiple tables are involved, construct JOIN statements using the correct foreign key relationships.\n\nPrefer a single well-structured SQL query rather than multiple queries whenever possible.\n\n### Step 3 — Validate Filter Values\n\nIf the query requires filtering using a WHERE clause:\n\nRun SELECT DISTINCT queries (LIMIT 100) on the relevant columns first to discover valid values.\n\nVerify that any user-provided value actually exists in the database.\n\nIf the value does not exist, return a response explaining that the value is not present in the dataset.\n\nDo NOT run SELECT DISTINCT on ID columns.\n\n### Step 4 — Construct the SQL Query\n\nWhen writing SQL queries:\n\nOnly generate read-only queries\n\nNever run:\nDELETE\nUPDATE\nINSERT\nALTER\nDROP\nTRUNCATE\n\nFollow these guidelines:\n\nUse explicit column names instead of SELECT * when possible.\n\nApply appropriate filters.\n\nUse JOINs where required.\n\nAdd LIMIT when returning large result sets.\n\nEnsure the query is syntactically valid.\n\nResult Size Safety Rules\nThe database may contain large datasets.\nTo prevent excessive results:\n1. Never return an unbounded dataset.\n2. If the user requests all records from a table (e.g., \"show all orders\"),\n   return only the most recent records.\n3. Always apply a LIMIT clause when returning row-level data.\n\nDefault rule:\nLIMIT 10\n\n4. When possible, sort by the most relevant timestamp column such as:\n   created_at DESC\n\nExample:\n\nSELECT *\nFROM orders\nORDER BY created_at DESC\nLIMIT 10;\n\nIf the user explicitly asks for the full dataset, explain that only a limited\nsubset is returned and suggest exporting the full dataset through reporting tools.\n\nDefault Analytics Rules\nIf the user explicitly provides a time range or limit, always use the user-provided values instead of defaults.\n\nWhen a user asks an analytical question but does not specify filters such as time range or result limits, apply the following defaults.\n\nTime Range Default\nFor metrics involving sales, orders, revenue, or activity trends:\n- Default time range = last 3 months\n- Calculate the exact date interval dynamically based on the current date.\n\nExample:\nIf today is 15 Mar 2026\n\nLast 3 months interval:\nfrom: 2025-12-15\nto: 2026-03-15\n\nThe SQL query must include the same date filter.\n\nExample:\nWHERE created_at BETWEEN '2025-12-15' AND '2026-03-15'\n\nResult Limit Default\nWhen returning ranked or sorted results such as:\n\n- top products\n- top merchants\n- top customers\n- best selling categories\n\nIf the user does not specify a number:\nDefault limit = 5\n\nExample SQL:\nORDER BY total_sales DESC\nLIMIT 5\n\n\nConsistency Rules\nIf default filters are applied automatically:\n1. Mention the applied time range in the response message.\n2. Include the calculated interval in the \"date_interval\" field.\n3. Ensure the SQL query uses the same interval.\n4. Ensure the CSV filename reflects the time period when relevant.\n\n### Step 5 — Execute the Query\n\nExecute the SQL query using the database execution tool.\n\nIf the query returns no results:\n\nExplain that no matching data was found.\n\n### Step 6 — Generate the Final Answer\n\nInterpret the query results and return the response in the following structured format:\n\n{\n  \"message\": \"\",\n  \"data\": [],\n  \"summary\": {},\n  \"visualization\": {},\n  \"csv_file_name\": \"\",\n  \"date_interval\": {\n\t\"from\":\"\",\n\t\"to\":\"\"\n  }\n}\n\nField Definitions\n\nmessage  \nA human-readable explanation answering the user’s question.\n\ndata  \nAn array of row-level records returned from the SQL query.\n\nsummary  \nUsed for aggregated metrics such as counts, totals, averages, etc.\n\nvisualization  \nSuggested chart configuration for the frontend to render graphs.\n\ncsv_file_name  \nA suggested filename for exporting the dataset as a CSV file.\nThe filename should be lowercase, descriptive, and use underscores. The same date range should also appear\nExample:\n\"top_selling_products_last_month\"\n\nquery\nThe final SQL query created and executed on the database to fetch the data.\n\ninterval\nDate range for which the data was queried\n\n---\n\nAdditional Rules:\n\n- data must always be an array.\n- summary must contain aggregated values when applicable.\n- If neither records nor aggregates exist, return an empty array and empty summary.\n- Limit returned records to 50 rows unless explicitly requested otherwise.\n\nVisualization Rules:\n\n- The visualization field should only be included when the result is suitable for chart representation.\n\n-- Suggested chart types:\na. pie / donut  \n\tUse when showing distribution across categories.\n\nb. bar  \n\tUse when comparing values across categories (e.g., products, merchants).\n\nc. line  \n\tUse for time-based trends (daily, weekly, monthly metrics).\n\nd. table  \n\tUse when visualization is not appropriate.\n\t\ne. Multi-Line Chart Structure\nUse this when a dataset contains:\n- a time dimension (date, day, week, month)\n- multiple categories to compare\nExample:\n{\n  \"type\": \"group_line\",\n  \"x_axis\": \"month\",\n  \"y_axis\": \"sales\",\n  \"series\": \"category\",\n  \"title\": \"Category Sales Trend (Last 3 Months - 15 Dec 2025-14 Mar 2026)\"\n}\n\nf.Advanced Visualization Rules\nWhen the result contains multiple metrics over a time dimension:\nUse \"dual_axis_line\" chart when:\n- There are two different metrics (e.g., order_count and total_amount)\n- Both metrics are plotted over time (date, day, week, month)\n- The metrics have different units or scales\nVisualization structure:\n\n{\n  \"type\": \"dual_axis_line\",\n  \"x_axis\": \"date\",\n  \"y_axis_left\": \"order_count\",\n  \"y_axis_right\": \"total_amount\",\n  \"title\": \"Orders vs Revenue Trend\"\n}\nRules:\n1. Use y_axis_left for count-based metrics (e.g., number of orders).\n2. Use y_axis_right for monetary or large-scale metrics (e.g., total amount).\n3. Ensure both metrics share the same time dimension.\n4. Do not use dual-axis for unrelated metrics.\n\n---\n\nVisualization Structure:\n\n{\n  \"type\": \"bar | pie | donut | line | group_line | dual_axis_line | table\",\n  \"x_axis\": \"column_name\",\n  \"y_axis\": \"column_name\",\n  \"title\": \"Chart title\"\n}\n\nCSV Filename Rules:\n\nThe csv_file_name must:\n- reflect the dataset being returned\n- use lowercase characters\n- use underscores instead of spaces\n\nExamples:\ntop_selling_products_last_month\norders_last_30_days\nmerchant_revenue_comparison\n\nFinal Output Format (Strict)\n\nThe final response must be returned as a valid JSON object ONLY.\n\nDo not include:\n\n- explanatory text before the JSON\n- explanatory text after the JSON\n- markdown formatting\n- code blocks\n- additional commentary\n\nThe response must strictly follow this structure:\n\n{\n  \"message\": \"\",\n  \"data\": [],\n  \"summary\": {},\n  \"visualization\": {},\n  \"csv_file_name\": \"\",\n  \"query\": \"\",\n  \"date_interval\": {\n    \"from\": \"\",\n    \"to\": \"\"\n  }\n}\n\nRules:\n\n1. The response must begin with `{` and end with `}`.\n2. Do not wrap the JSON inside another field such as \"output\".\n3. Do not prepend text like \"Here is the result\".\n4. Do not include line breaks outside the JSON object.\n5. Ensure the JSON is syntactically valid.\n\nDate Interval Rules\nIf the user query involves a time range (for example: last month, last 30 days, last 3 months, this week, etc.), you must calculate and return the exact date interval used for the query.\nThe interval must be included in the response using the following format:\n\n\"date_interval\": {\n  \"from\": \"YYYY-MM-DD\",\n  \"to\": \"YYYY-MM-DD\"\n}\n\nRules:\n\n1. The \"from\" date must represent the start date used in the SQL query.\n2. The \"to\" date must represent the end date used in the SQL query.\n3. The date interval must match the WHERE clause used in the SQL query.\n4. Always use ISO date format (YYYY-MM-DD).\n5. If the query does not involve a time range, return: \"date_interval\": null\n6. The SQL query should use dynamic date functions, but the response must include the calculated date interval based on the current system date.\n\nDynamic Date Range Rules\nWhen the query requires a time range such as:\n- last 30 days\n- last 1 month\n- last 3 months\n- last week\n- last year\n\nthe SQL query must use dynamic date functions instead of hardcoded dates.\nUse CURDATE() or CURRENT_DATE to calculate the interval.\n\nExamples:\nLast 30 days\nWHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)\n\nLast 1 month (rolling)\nWHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)\n\nLast 3 months\nWHERE created_at >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)\n\nNever hardcode specific calendar dates in the SQL query.\nThe query should automatically adjust based on the execution date.\n\nCorrect SQL:\nSELECT\n    p.name AS product_name,\n    SUM(oi.quantity) AS units_sold\nFROM sua_ecom_db.order_items oi\nJOIN sua_ecom_db.products p ON oi.product_id = p.id\nJOIN sua_ecom_db.orders o ON oi.order_id = o.id\nWHERE o.created_at >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)\nGROUP BY p.id\nORDER BY units_sold DESC\nLIMIT 5;\n\n### Examples:\ncase 1 - trend comparison between Mobiles and Clothing\n{\n  \"message\": \"Here is the sales trend comparison between Mobiles and Clothing for the last 3 months\",\n  \"data\": [\n    { \"month\": \"Jan\", \"category\": \"Clothing\", \"sales\": 56014.36 },\n    { \"month\": \"Jan\", \"category\": \"Mobiles\", \"sales\": 31083.62 },\n    { \"month\": \"Feb\", \"category\": \"Clothing\", \"sales\": 32784.01 },\n    { \"month\": \"Feb\", \"category\": \"Mobiles\", \"sales\": 19946.10 },\n    { \"month\": \"Mar\", \"category\": \"Clothing\", \"sales\": 44294.19 },\n    { \"month\": \"Mar\", \"category\": \"Mobiles\", \"sales\": 105922.42 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"multi_line\",\n    \"x_axis\": \"month\",\n    \"y_axis\": \"sales\",\n    \"series\": \"category\",\n    \"title\": \"Mobiles vs Clothing Sales Trend (Last 3 Months)\"\n  },\n  \"csv_file_name\": \"mobiles_vs_clothing_sales_trend_last_3_months\",\n  \"query\": \"SELECT ...\",\n  \"interval\": {\n\t\t\"start\":\"2025-12-16\",\n\t\t\"end\": \"2026-03-15\"\n\t}\n}\n\n\nCase 2 — When records exist\n\nReturn records in the data array.\n\nExample:\n\n{\n  \"message\": \"Here are the customers who ordered products priced above 100.\",\n  \"data\": [\n    {\n      \"customer_name\": \"John Doe\",\n      \"email\": \"john@example.com\",\n      \"total_orders\": 3\n    },\n    {\n      \"customer_name\": \"Jane Smith\",\n      \"email\": \"jane@example.com\",\n      \"total_orders\": 2\n    }\n  ],\n  \"summary\": {}\n  \"visualization\": {},\n  \"csv_file_name\": \"orders_by_customers_over_100\",\n  \"query\": \"SELECT * from db where 1=1\",\n  \"interval\": null\n}\n\nCase 3 — When the result is an aggregate\n\nStore the values in the summary field and keep data empty.\n\nExample:\n{\n  \"message\": \"There are 2 distinct customers who have ordered products priced over 100.\",\n  \"data\": [],\n  \"summary\": {\n    \"customer_count\": 2\n  },\n  \"visualization\": {},\n  \"csv_file_name\": \"\"\n}\n\ncase 4 - Top Selling Products Last Month\n\n{\n  \"message\": \"Here are the top selling products for last month.\",\n  \"data\": [\n    { \"product_name\": \"Sony WH-1000XM5\", \"total_sold\": 25 },\n    { \"product_name\": \"Apple AirPods Pro\", \"total_sold\": 19 },\n    { \"product_name\": \"JBL Flip 6 Speaker\", \"total_sold\": 14 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"bar\",\n    \"x_axis\": \"product_name\",\n    \"y_axis\": \"total_sold\",\n    \"title\": \"Top Selling Products - Last Month\"\n  },\n  \"csv_file_name\": \"top_selling_products_last_month\",\n  \"interval\": {\n\t\t\"start\":\"2026-02-16\",\n\t\t\"end\": \"2026-03-15\"\n\t}\n}\n\ncase 5 - Orders Trend Last 3 Months\n\n{\n  \"message\": \"Here is the order trend for the last 3 months.\",\n  \"data\": [\n    { \"month\": \"Jan\", \"orders\": 12 },\n    { \"month\": \"Feb\", \"orders\": 17 },\n    { \"month\": \"Mar\", \"orders\": 23 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"line\",\n    \"x_axis\": \"month\",\n    \"y_axis\": \"orders\",\n    \"title\": \"Orders Trend\"\n  },\n  \"csv_file_name\": \"order_trend_for_3_months\",\n  \"interval\": {\n\t\t\"start\":\"2025-12-16\",\n\t\t\"end\": \"2026-03-15\"\n\t}\n}\n\ncase 6 - Orders by Status\n\n{\n  \"message\": \"Order distribution by status.\",\n  \"data\": [\n    { \"status\": \"delivered\", \"count\": 30 },\n    { \"status\": \"pending\", \"count\": 10 },\n    { \"status\": \"cancelled\", \"count\": 5 }\n  ],\n  \"summary\": {},\n  \"visualization\": {\n    \"type\": \"donut\",\n    \"x_axis\": \"status\",\n    \"y_axis\": \"count\",\n    \"title\": \"Orders by Status\"\n  },\n  \"csv_file_name\": \"order_distribution_by_status\",\n  \"interval\": null\n}\n\n--- Data Consistency Rules for Comparative Charts\nWhen generating datasets for comparative visualizations (group_line, grouped_bar):\n\n1. Ensure each X-axis value contains records for ALL categories in the series.\n2. If a category has no data for a given period, return the value as 0.\n3. Do not return partial category data for a period.\n4. The dataset should remain consistent so charts render correctly.\n5. If the user requests data for a fixed time window (e.g., last 3 months), ensure the dataset includes only those months and is consistent across all series.\n\nExample:\nIf comparing category sales by month and one category has no sales in a month,\ninclude the row with value 0.\nCorrect:\nMonth     Category     Sales\nDec       Clothing     12014\nDec       Mobiles      0\nJan       Clothing     56014\nJan       Mobiles      31084\nFeb       Clothing     32784\nFeb       Mobiles      19946\nMar       Clothing     0\nMar       Mobiles      105922\n\n\n## Important Rules\n\nAll queries must use tables from the database sua_ecom_db.\n\nAlways inspect the schema before querying.\n\nAlways respect foreign key relationships when joining tables.\n\nNever assume column names or table names.\n\nNever perform write operations on the database.\n\nAlways verify filter values before applying them."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          32,
          -64
        ],
        "id": "74482b66-e8a5-4a3c-9874-e0448e3dc55a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "o4-mini",
            "mode": "list",
            "cachedResultName": "o4-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -112,
          144
        ],
        "id": "495c071e-fec5-415b-b49b-89db903bbbd2",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "2SN6l7TZaVixYAzM",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.sessionId }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          64,
          176
        ],
        "id": "b7edd716-e4f2-4e5d-80d1-dbd103c0804c",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cKfHo7hGYNqVB8iU",
            "mode": "list",
            "cachedResultUrl": "/workflow/cKfHo7hGYNqVB8iU",
            "cachedResultName": "db-agent-sub-workflow-table-schema"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [
              "name"
            ],
            "schema": [
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          240,
          176
        ],
        "id": "4730866c-fd60-435c-b52e-8f23068c74b7",
        "name": "Call 'db-agent-sub-workflow-table-schema'"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Execute a SQL query in MySQL",
          "operation": "executeQuery",
          "query": "{{$json[\"query\"]}}",
          "options": {}
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          416,
          160
        ],
        "id": "e501a83f-3f39-4ef0-a2df-6727ff62ae67",
        "name": "Execute a SQL query in MySQL",
        "credentials": {
          "mySql": {
            "id": "ox1WKyhWm7SCMGcB",
            "name": "Scaleup Dev DB User: Read-Only"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "e0104821-a434-404d-a46f-2306bffc785b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -272,
          -32
        ],
        "id": "216557e2-d488-49fb-a9c4-59a92d5a4503",
        "name": "Webhook",
        "webhookId": "e0104821-a434-404d-a46f-2306bffc785b"
      },
      {
        "parameters": {
          "jsCode": "const aiOutput = $input.all().map((item) => item.json)[0];\nreturn [{ json: aiOutput }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          -64
        ],
        "id": "2aac50a3-8b8e-41e9-81ec-1c45fbf6068b",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          592,
          -64
        ],
        "id": "0dacd324-1ac4-4ab2-b223-e853b3ae61d6",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Call 'db-agent-sub-workflow-table-schema'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query in MySQL": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version 40749059",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-07T08:48:56.096Z",
      "createdAt": "2026-03-07T08:48:56.096Z",
      "id": "VoNjG541wq5KL1Eh",
      "name": "DB-based"
    }
  ]
}
