workflows/get_fields_slim.json
{
  "updatedAt": "2026-04-15T11:59:29.725Z",
  "createdAt": "2026-04-15T10:35:14.324Z",
  "id": "SrXH1zuQtZQ1egOb",
  "name": "get_fields_slim",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "module"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {},
      "id": "b5942df6-0160-4ef7-965d-57583acdc8aa",
      "name": "Replace me with your logic",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1072,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://accounts.zoho.com/oauth/v2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "client_id",
              "value": "1000.O160FRXK92FBFXG5BPDK59TQI05D2P"
            },
            {
              "name": "client_secret",
              "value": "3b4a5536d56df3cf4e708c87d86f49a6e15620613f"
            },
            {
              "name": "refresh_token",
              "value": "1000.aa0fe086858ab431bb4ae10feb313d61.caabee210b3e23699f8d410c51f8cef3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        352
      ],
      "id": "66679735-4f33-40ba-bc8d-326f528176d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.com/crm/v6/settings/fields",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "module",
              "value": "=Leads"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Zoho-oauthtoken ' + $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        352
      ],
      "id": "08437dd5-5e40-43a8-8a20-0b2414a2a274",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const fields = $input.first().json.fields || [];\n\nconst slim = fields\n  .filter(f => f.operation_type?.api_create || f.operation_type?.api_update)\n  .map(f => ({\n    api_name: f.api_name,\n    label: f.display_label || f.field_label,\n    type: f.data_type,\n    mandatory: f.system_mandatory || false,\n    can_create: f.operation_type?.api_create || false,\n    can_update: f.operation_type?.api_update || false,\n    read_only: f.read_only || false,\n    options: (f.pick_list_values || []).map(p => ({\n      display: p.display_value,\n      value: p.actual_value\n    }))\n  }));\n\nreturn [{ json: { fields: slim } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        352
      ],
      "id": "e8891551-3459-4e16-820b-ed4939d4bd7c",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Replace me with your logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dc3a2583-3898-48fd-9ebe-5646daf45275",
  "activeVersionId": "dc3a2583-3898-48fd-9ebe-5646daf45275",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-15T10:35:14.329Z",
      "createdAt": "2026-04-15T10:35:14.329Z",
      "role": "workflow:owner",
      "workflowId": "SrXH1zuQtZQ1egOb",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-15T12:27:50.000Z",
    "createdAt": "2026-04-15T11:59:29.725Z",
    "versionId": "dc3a2583-3898-48fd-9ebe-5646daf45275",
    "workflowId": "SrXH1zuQtZQ1egOb",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "module"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {},
        "id": "b5942df6-0160-4ef7-965d-57583acdc8aa",
        "name": "Replace me with your logic",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1072,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://accounts.zoho.com/oauth/v2/token",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "refresh_token"
              },
              {
                "name": "client_id",
                "value": "1000.O160FRXK92FBFXG5BPDK59TQI05D2P"
              },
              {
                "name": "client_secret",
                "value": "3b4a5536d56df3cf4e708c87d86f49a6e15620613f"
              },
              {
                "name": "refresh_token",
                "value": "1000.aa0fe086858ab431bb4ae10feb313d61.caabee210b3e23699f8d410c51f8cef3"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          480,
          352
        ],
        "id": "66679735-4f33-40ba-bc8d-326f528176d3",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "url": "https://www.zohoapis.com/crm/v6/settings/fields",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "module",
                "value": "=Leads"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Zoho-oauthtoken ' + $json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          688,
          352
        ],
        "id": "08437dd5-5e40-43a8-8a20-0b2414a2a274",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "jsCode": "const fields = $input.first().json.fields || [];\n\nconst slim = fields\n  .filter(f => f.operation_type?.api_create || f.operation_type?.api_update)\n  .map(f => ({\n    api_name: f.api_name,\n    label: f.display_label || f.field_label,\n    type: f.data_type,\n    mandatory: f.system_mandatory || false,\n    can_create: f.operation_type?.api_create || false,\n    can_update: f.operation_type?.api_update || false,\n    read_only: f.read_only || false,\n    options: (f.pick_list_values || []).map(p => ({\n      display: p.display_value,\n      value: p.actual_value\n    }))\n  }));\n\nreturn [{ json: { fields: slim } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          352
        ],
        "id": "e8891551-3459-4e16-820b-ed4939d4bd7c",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Replace me with your logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version dc3a2583",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
