workflows/google-contact----zoho-crm.json
{
  "updatedAt": "2026-05-04T13:05:51.186Z",
  "createdAt": "2026-04-28T05:41:11.091Z",
  "id": "NXFyJF2PrmITBlBe",
  "name": "Google Contact -> Zoho CRM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -208
      ],
      "id": "81e881c1-23a5-4bef-8198-be332424bc2e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed830801-41f5-4d7a-a72f-ec791a80037c",
              "leftValue": "={{ $json.contacts[0].data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        624
      ],
      "id": "600f2716-7206-4ed5-9322-651618073384",
      "name": "Contact Exists?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 500,
        "fields": [
          "emailAddresses",
          "names",
          "phoneNumbers"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        448,
        -208
      ],
      "id": "9470a2ac-d18c-4cd5-9ca3-6e03719f70d2",
      "name": "Get Google Contacts",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "vDjmRGMeov3iFWGl",
          "name": "my_test_creds"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Yid1J9mDYfJbxSkH",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "/projects/4byo5YlJWidsMFA8/datatables/Yid1J9mDYfJbxSkH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactID": "={{ $json.zohoContact.id }}",
            "displayName": "={{ $json.localContact.fullName }}",
            "displayNameLastFirst": "={{ $json.localContact.firstName }}, {{ $json.localContact.lastName }}",
            "mobile_no_1": "={{ $json.localContact.phone.toInt() }}",
            "mobile_no_2": "={{ $json.phoneNumbers.mobile[1] }}",
            "Email": "={{ $json.emailAddresses.home[0] }}",
            "Contact_Created": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contactID",
              "displayName": "contactID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "displayNameLastFirst",
              "displayName": "displayNameLastFirst",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mobile_no_1",
              "displayName": "mobile_no_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mobile_no_2",
              "displayName": "mobile_no_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact_Created",
              "displayName": "Contact_Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2704,
        -160
      ],
      "id": "cdb28581-6364-4ed6-a8f6-ad2b5228e5eb",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cf172f6-bd26-4dde-b7fb-81a626df624b",
              "leftValue": "={{ $json.names.displayName.toLowerCase().trim() }}",
              "rightValue": "client",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -208
      ],
      "id": "40f0bebc-6b15-4134-8dad-6603c8d28f4a",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a605828-0443-47c2-88f2-ebd442199901",
              "leftValue": "={{ $json.id.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -208
      ],
      "id": "acce4fb9-ec77-4991-ae61-0bfc7bd03222",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 200,
        "fields": [
          "names",
          "phoneNumbers"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "bf27b3fb-0ef4-4521-9b7a-15a4c63c93fe",
      "name": "Get many contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "Wrw0I0AQG1F1YNc2",
          "name": "Google Contacts OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const localContacts = $('Insert row1').all().map(item => ({\n  firstName: item.json.displayName.split(' ')[0] + \" \" + item.json.displayName.split(' ')[1],\n  lastName: item.json.displayNameLastFirst.split(',')[0].trim(),\n  fullName: item.json.displayName,\n  phone: String(item.json.mobile_no_1 || '')\n}));\n\nconst zohoContacts = $('Get Zoho Contacts').all()\n  .filter(item => item.json.data && item.json.data.length > 0)\n  .flatMap(item => item.json.data.map(contact => ({\n    id: contact.id,\n    name: contact.Full_Name,\n    phone: contact.Mobile?.replace(/\\D/g, '') || ''\n  })));\n\nconst results = [];\n\nfor (const lc of localContacts) {\n  const zohoMatch = zohoContacts.find(zc =>\n    lc.phone && zc.phone && lc.phone === zc.phone\n  );\n\n  results.push({\n    json: {\n      status: zohoMatch ? 'matched' : 'unmatched',\n      localContact: lc,\n      id: $input.first().json.data[0].id,\n      zohoContact: zohoMatch || null\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -208
      ],
      "id": "bdfd6a51-74bf-49d7-8a9e-7925772397e2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43540455-7043-4f1d-9902-506af9fd1fef",
              "leftValue": "={{ $json.status }}",
              "rightValue": "matched",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        -208
      ],
      "id": "923f6e9b-8855-4d7b-a001-a4102f35bf66",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"master\": \"zoho\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -208
      ],
      "id": "cf6f9794-e9f7-44ca-a3f5-51f8ec1acea4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Yid1J9mDYfJbxSkH",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "/projects/4byo5YlJWidsMFA8/datatables/Yid1J9mDYfJbxSkH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mobile_no_2": "={{ Number($('Get Google Contacts').item.json.phoneNumbers.mobile[1].replace(/\\s/g, '')) }}",
            "displayName": "={{ $('Get Google Contacts').item.json.names.displayName }}",
            "contactID": "={{ $('Get Google Contacts').item.json.contactId }}",
            "displayNameLastFirst": "={{ $('Get Google Contacts').item.json.names.displayNameLastFirst }}",
            "mobile_no_1": "={{ Number($('Get Google Contacts').item.json.phoneNumbers.mobile[0].replace(/\\s/g, '')) }}",
            "Email": "={{ $('Get Google Contacts').item.json.emailAddresses.email[0] }}",
            "Contact_Created": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contactID",
              "displayName": "contactID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "displayNameLastFirst",
              "displayName": "displayNameLastFirst",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mobile_no_1",
              "displayName": "mobile_no_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mobile_no_2",
              "displayName": "mobile_no_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact_Created",
              "displayName": "Contact_Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        896,
        -208
      ],
      "id": "e528b5f6-50c0-4d6e-8d7c-1f0b8ff73944",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v8/coql",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"select_query\": \"select id, Full_Name, Mobile from Contacts where (Full_Name like '%{{ $json.displayName }}%' or Mobile = '{{ $json.mobile_no_1 }}') limit 10\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        -208
      ],
      "id": "db1d5853-6979-4697-8a37-503f5a63678a",
      "name": "Get Zoho Contacts",
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v2/Contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"First_Name\": \"{{ $json.localContact.firstName }}\",\n      \"Last_Name\": \"{{ $json.localContact.lastName }}\",\n      \"Phone\": \"{{ $json.localContact.phone }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2448,
        240
      ],
      "id": "753270ea-67d5-4253-afab-60ddc0eb3eac",
      "name": "Create Contact in Zoho",
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66ee04c1-a3dd-4c0e-9760-c47174245e13",
              "leftValue": "={{ $json.zohoContact.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2048,
        -16
      ],
      "id": "4e9b4e1f-c08c-417c-aff0-25019a4084c7",
      "name": "If3"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [],
        []
      ]
    },
    "Get Google Contacts": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Zoho Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Zoho Contacts": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact in Zoho": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact in Zoho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b5568270-4516-46cc-8fa9-82a6d05abb79",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-28T05:41:11.099Z",
      "createdAt": "2026-04-28T05:41:11.099Z",
      "role": "workflow:owner",
      "workflowId": "NXFyJF2PrmITBlBe",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
