workflows/hr-policies-poc.json
{
  "updatedAt": "2026-04-13T10:16:35.363Z",
  "createdAt": "2026-03-06T08:09:09.883Z",
  "id": "E5gK6KgTGMrFsgRB",
  "name": "HR Policies POC",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1CvlI7RN7dTT1M7Ramsgpcf85ipAwCSsh"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        0
      ],
      "id": "ef646bb2-0876-49ab-853b-91acc5584127",
      "name": "Folder File Created Trigger",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7E5OE1b7EWf2HhfZ",
          "name": "dev1_drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "=data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        0
      ],
      "id": "8d27fa4f-371a-4881-9934-fe6b5d6cdcb4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7E5OE1b7EWf2HhfZ",
          "name": "dev1_drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "b6ddd18c-459c-42cd-b2bb-1e42d57488dd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.text;\n\nlet cleanedText = text;\n\n// remove block starting from ADMITO... until CIN...\ncleanedText = cleanedText.replace(\n  /ADMITO TECHNOLOGIES PRIVATE LIMITED[\\s\\S]*?CIN:[^\\n]*/g,\n  \"\"\n);\n\n\ncleanedText = cleanedText.replace(/\\n+/g, \"\\n\")\n  .replace(/\\s+/g, \" \")\n  .replace(/_{3,}/g, \"\")\n  .trim();\n\n\n// get file name and file link from Google Drive Trigger\nconst fileName = $json.info.Title;\nconst fileId = $('Download file').item.json.id;\nconst fileLink = `https://drive.google.com/file/d/${fileId}/view`;\n\n\nreturn {\n  fileName,\n  cleanedText,\n  fileId,\n  fileLink,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "40736c83-4600-450a-a1f7-71ee4ff0a7b2",
      "name": "Clean the text"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-policies",
          "mode": "list",
          "cachedResultName": "hr-policies"
        },
        "embeddingBatchSize": 800,
        "options": {
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        -16
      ],
      "id": "419ab2a7-1712-48af-a8cf-7fe5f5f95930",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ukZOTkZgPTtBjuZr",
          "name": "HR_policies_pinecone_key"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $json.fileName }}"
              },
              {
                "name": "fileId",
                "value": "={{ $json.fileId }}"
              },
              {
                "name": "fileLink",
                "value": "={{ $json.fileLink }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        160
      ],
      "id": "e641d939-7a60-455d-bec4-8c2d94fd7798",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        160
      ],
      "id": "178d331c-70b4-4b5d-9c41-af367e1ed2b5",
      "name": "OpenAi Embedding model",
      "credentials": {
        "openAiApi": {
          "id": "W4eLKnMENIeh4SFB",
          "name": "HR policies POC"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        1136
      ],
      "id": "c2f2bdac-a84b-4db8-b3d3-f36c1f897412",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "W4eLKnMENIeh4SFB",
          "name": "HR policies POC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = [];\n\nfor (const item of items) {\n\n  const text = item.json.cleanedText;\n  const fileName = item.json.fileName;\n  const fileLink = item.json.fileLink;\n  const fileId = item.json.fileId;\n\n  output.push({\n    json: {\n      text: text,\n      fileName: fileName,\n      fileLink: fileLink,\n      fileId: fileId\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "0734def3-ea46-4ba6-baf9-3cc401cf336d",
      "name": "Prepare for pinecone"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        1136
      ],
      "id": "9134309f-2a6a-4878-beac-b953f84b4898",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Search the company policy knowledge base stored in the vector database.\n\nThis tool retrieves relevant sections from company policy documents stored in the system.\n\nEach retrieved result may contain:\n\n* text from the policy document\n* metadata including:\n\n  * filename (the name of the policy)\n  * fileLink (URL to open the policy document)\n\n---\n\n## WHEN TO USE THIS TOOL\n\nUse this tool whenever the user asks about:\n\n* company policies\n* employee guidelines\n* workplace rules\n* leave policies\n* reimbursement policies\n* benefits\n* work-from-home rules\n* employee conduct\n* security policies\n* IT policies\n* internal company procedures\n\nAlso use this tool when the user asks:\n\n* what policies are available\n* list company policies\n* what documents exist\n* what policies can you help with\n\n---\n\n## HOW TO USE THE RESULTS\n\n1. The tool will return relevant sections from policy documents.\n\n2. Carefully read the retrieved results.\n\n3. Extract the information needed to answer the user's question.\n\n4. Use the retrieved content as the source of truth.\n\n5. You may summarize or simplify the policy text to make it easier for employees to understand.\n\n6. Use metadata such as filename and fileLink to generate references for the policies used.\n\n---\n\n## WHEN USER ASKS FOR POLICY LIST\n\nIf the user asks what policies are available:\n\n* Retrieve multiple documents.\n* Extract unique filenames from metadata.\n* Present the list of policies to the user.\n\n---\n\n## IF NO RESULTS ARE FOUND\n\nIf the search does not return relevant results, inform the user politely.\n\nExample response:\n\n\"I'm sorry, but I couldn't find information about that in the available company policies.\"\n\n---\n\n## IMPORTANT RULES\n\n* Do NOT assume a policy exists unless it appears in the retrieved results.\n* Do NOT generate policy information without retrieving context from this tool.\n* Only use this tool for company policy related questions.\n* Do NOT use this tool for greetings or unrelated questions.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-policies",
          "mode": "list",
          "cachedResultName": "hr-policies"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        1136
      ],
      "id": "20d885c2-7721-4089-9dfc-78ef33933037",
      "name": "Pinecone Vector Store for retrieval",
      "credentials": {
        "pineconeApi": {
          "id": "ukZOTkZgPTtBjuZr",
          "name": "HR_policies_pinecone_key"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik",
          "mode": "list",
          "cachedResultName": "HR Policy openAI token usages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now}}",
            "query": "={{ $('User chat interface').item.json.chatInput }}",
            "modelname": "={{ $json.model }}",
            "prompt_tokens": "={{ $json.usage.input_tokens }}",
            "completion_tokens": "={{ $json.usage.output_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelname",
              "displayName": "modelname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        432
      ],
      "id": "26585760-c6c2-4278-8063-5bf03a8502af",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dPuWQry0B9RX5YTL",
          "name": "dev1_google_sheet"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        944
      ],
      "id": "21c85977-da61-491b-ab25-8bb4433f2ddb",
      "name": "User chat interface",
      "webhookId": "ea845674-0c37-45a6-9468-d80fb3d05c66"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            },
            {
              "role": "system",
              "content": "you are an AI assistant that helps employees understand their company's policies and internal guidelines.\n\nYour role is to answer employee questions by retrieving relevant information from the company policy knowledge base using the vector search tool.\n\nYou are an informational assistant only. You cannot perform actions, update company records, submit requests, approve operations, or interact with company systems. You can only explain policies and provide information.\n\n---\n\n## STEP 1 — CLASSIFY THE USER MESSAGE\n\nFirst determine the category of the user message.\n\nCategories:\n\n1. greeting\n\nExamples:\n\n* hello\n* hi\n* hey\n* good morning\n* good afternoon\n* how can you help\n* what can you do\n\n---\n\n2. policy_list\n\nQuestions where the user is asking what company policies are available.\n\nExamples:\n\n* what policies do you have\n* what policies can you help with\n* list company policies\n* what policies exist\n* which policies are available\n* what documents do you have\n* show me all policies\n\n---\n\n3. company_policy\n\nQuestions related to specific company policies, internal rules, employee guidelines, workplace procedures, benefits, leave policies, reimbursements, work-from-home rules, security policies, employee conduct, IT policies, or any other documented company guideline.\n\nThis category also includes follow-up questions related to previously discussed policies.\nBefore answering a company policy question you MUST use the vector search tool to retrieve relevant policy context.\n\nExamples:\n\n* what is the leave policy\n* how many vacation days do employees get\n* what is the work from home policy\n* what is the reimbursement process\n* what are the company security rules\n\n---\n\n4. other\n\nQuestions NOT related to company policies.\n\nExamples:\n\n* sports\n* news\n* coding\n* general knowledge\n* technology\n* personal questions\n* jokes\n* random conversation\n\n---\n\n## STEP 2 — RESPONSE RULES\n\nIf category = greeting\n\nRespond politely and explain your role.\n\nExample response:\n\n\"Hello! I'm here to help answer questions related to your company's policies and internal guidelines. If you have any questions about company rules, employee procedures, benefits, or workplace policies, feel free to ask.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = other\n\nRespond politely but clearly explain that you can only help with company policy related questions.\n\nExample response:\n\n\"Sorry, I can only assist with questions related to company policies and internal guidelines.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = policy_list\n\nUse the vector search tool to retrieve policy documents.\n\nFrom the retrieved results:\n\n1. Identify the unique policy filenames from metadata.\n2. List the available policies.\n3. Explain that users can ask questions about any of these policies.\n\nFormat the response like this:\n\n\"I can help answer questions about the following company policies:\"\n\n* Policy Name\n* Policy Name\n* Policy Name\n\nUsers can click the policy name to open the document.\n\nReference:\n\n* [Policy Name](fileLink)\n* [Policy Name](fileLink)\n\nRules:\n\n* Only show policies that appear in the retrieved metadata.\n* Do NOT invent policy names.\n* Do NOT assume policies that are not in the database.\n\n---\n\nIf category = company_policy\n\nUse the vector search tool to retrieve relevant policy information.\n\nAfter retrieving context:\n\n1. Carefully read the retrieved policy content.\n2. Identify the relevant information related to the user's question.\n3. Generate a clear and easy-to-understand explanation.\n\nYou may summarize or simplify the policy language so employees can easily understand it.\n\nHowever:\n\n* Do NOT invent policy information.\n* Do NOT assume policies that are not present in the retrieved context.\n\n---\n\n## WHEN INFORMATION IS NOT FOUND\n\nIf the vector search tool does not return relevant information for the user's question, respond politely:\n\n\"I'm sorry, but I couldn't find information about that in the available company policies. I can only answer questions based on the policies currently stored in the knowledge base.\"\n\nDo NOT guess or fabricate information.\n\n---\n\n## LIMITATIONS\n\nYou are only an informational assistant.\n\nIf the user asks you to perform actions such as:\n\n* approve leave\n* submit requests\n* update employee information\n* modify records\n* perform system operations\n\nRespond:\n\n\"I'm here to help explain company policies, but I don't have the ability to perform actions or make changes in company systems.\"\n\n---\n\n## ANSWER STYLE\n\nYour answers should be:\n\n* clear\n* natural\n* easy to understand\n* helpful for employees\n\nPrefer:\n\n* short paragraphs\n* bullet points when helpful\n* simplified explanations instead of complex policy language\n\n---\n\n## REFERENCES\n\nIf the answer is based on retrieved company policy documents include references at the end of the response.\n\nUse metadata returned from the vector database:\n\n* filename → policy name\n* fileLink → URL to the policy document\n\nFormat references as clickable Markdown links.\n\nReference:\n\n* [Policy Name](fileLink)\n\nExample:\n\nReference:\n\n* [Leave Policy](https://company.com/policies/leave-policy.pdf)\n* [Work From Home Policy](https://company.com/policies/wfh-policy.pdf)\n\nRules:\n\n* Always use filename as the visible text.\n* Use fileLink as the URL.\n* If multiple policies were used list them all.\n* Do NOT invent policy names or links.\n* Do NOT include references if no policy information was retrieved.\n\n---\n\n## CRITICAL RULES\n\nNever fabricate company policies.\n\nNever assume a policy exists unless it appears in the retrieved context.\n\nAlways rely on retrieved documents when answering company policy questions.\n\nIf metadata contains a fileLink always format the reference as a clickable Markdown link.\n\n---\n\n## TOOL USAGE RULES\n\nWhen you need to retrieve company policy information you must use the vector search tool.\n\nWhen calling the vector search tool you must provide the input as a JSON object.\n\nCorrect format:\n\n{\n  \"query\": \"<user question>\"\n}\n\nExample:\n\n{\n  \"query\": \"What is the notice period policy\"\n}\n\nNever send a plain string to the tool.\n\nIncorrect example (DO NOT DO THIS):\n\n\"notice period policy\"\n\nAlways send the tool input as a JSON object with the field:\n\nquery\n"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        256,
        432
      ],
      "id": "13bf8f1c-162e-40e8-94bb-87788322c621",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "W4eLKnMENIeh4SFB",
          "name": "HR policies POC"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93c5447f-8fe1-4f93-8563-69fb71da8479",
              "name": "output",
              "value": "={{ $('Message a model').item.json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        432
      ],
      "id": "7f085b4b-4361-4e0b-a9f9-4a54c960235c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr-policies",
          "mode": "list",
          "cachedResultName": "hr-policies"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -336,
        432
      ],
      "id": "2f8752b6-6b62-4f2d-88ce-7755725b499f",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "ukZOTkZgPTtBjuZr",
          "name": "HR_policies_pinecone_key"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        608
      ],
      "id": "285f4314-5ef3-4f09-8ef6-108f92e5b5f2",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "2SN6l7TZaVixYAzM",
          "name": "Project Charter to WBS OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38b56d7f-8a80-4dd1-a504-1cacb5d1bc5d",
              "name": "policy_context",
              "value": "={{$items(\"Pinecone Vector Store2\").map(i =>\n`Policy: ${i.json.document.metadata.fileName}\n\n${i.json.document.pageContent}\n\nSource: ${i.json.document.metadata.fileLink}`\n).join(\"\\n\\n\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        432
      ],
      "id": "6c2cd4c1-2b8b-4ca6-b63e-f8aaf013298c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nconst sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.chatInput;\n\nif (!staticData.sessions) {\n  staticData.sessions = {};\n}\n\nif (!staticData.sessions[sessionId]) {\n  staticData.sessions[sessionId] = [];\n}\n\nreturn [{\n  json: {\n    chatInput ,\n    sessionId,\n    history: staticData.sessions[sessionId]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        432
      ],
      "id": "f1de3227-945a-4792-8593-42d32da04b8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        1296
      ],
      "id": "40baf86d-a8f3-47d8-9bbe-b04f725ec422",
      "name": "Embeddings OpenAI model",
      "credentials": {
        "openAiApi": {
          "id": "W4eLKnMENIeh4SFB",
          "name": "HR policies POC"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik",
          "mode": "list",
          "cachedResultName": "HR Policy openAI token usages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now}}",
            "query": "={{ $('User chat interface').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelname",
              "displayName": "modelname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        944
      ],
      "id": "018343ad-6476-4bc5-b6eb-19fa55edd30d",
      "name": "Prompt Usage management",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dPuWQry0B9RX5YTL",
          "name": "dev1_google_sheet"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68ef1e40-1f66-42ec-968e-b71b52b67d9b",
              "name": "output",
              "value": "={{ $('AI chat Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        944
      ],
      "id": "73fe83d4-449b-45a6-957c-3868d5e61007",
      "name": "Response Node"
    },
    {
      "parameters": {
        "content": "# 📄 Policy Document Ingestion Flow\n\nDrive Trigger → Download File → Extract Text from PDF → Clean Text → Prepare for Pinecone → Generate Embeddings → Store in Pinecone Vector DB",
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -208
      ],
      "id": "b718cc5c-8d25-4b2a-af43-256bea4a22d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 💬 Policy Chat Agent (RAG)\n\nUser Chat → AI Chat Agent → Retrieve Context from Pinecone Vector DB → Generate Response (OpenAI) → Return Reply to User",
        "height": 128,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        768
      ],
      "id": "a0d5b96b-d661-49a7-8024-4215a4b11228",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 🧪 AI Usage Exploration (Discard)\n\nTest flow used to explore AI + vector search.\n\nCode → Query Pinecone Vector Store → Format Data → Test Chat Model Response → Log Result to Sheet\n\n⚠️ Experimental workflow — safe to discard.",
        "height": 144,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        240
      ],
      "id": "4fcf33ca-8bb8-4449-8a2a-8353e680f41a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0917d6a-43e1-409b-8060-4d80652ca74a",
              "name": "output",
              "value": "={{ $json.authError }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        736
      ],
      "id": "b98f6192-5113-4d17-83be-43a9f8a79caa",
      "name": "Return Errors"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{$json.chatInput}}\n",
        "options": {
          "systemMessage": "You are an AI assistant that helps employees understand their company's policies and internal guidelines.\n\nYour role is to answer employee questions by retrieving relevant information from the company policy knowledge base using the vector search tool.\n\nYou are an informational assistant only. You cannot perform actions, update company records, submit requests, approve operations, or interact with company systems. You can only explain policies and provide information.\n\n---\n\n## STEP 1 — CLASSIFY THE USER MESSAGE\n\nFirst determine the category of the user message.\n\nCategories:\n\n1. greeting\n\nExamples:\n\n* hello\n* hi\n* hey\n* good morning\n* good afternoon\n* how can you help\n* what can you do\n\n---\n\n2. policy_list\n\nQuestions where the user is asking what company policies are available.\n\nExamples:\n\n* what policies do you have\n* what policies can you help with\n* list company policies\n* what policies exist\n* which policies are available\n* what documents do you have\n* show me all policies\n\n---\n\n3. company_policy\n\nQuestions related to specific company policies, internal rules, employee guidelines, workplace procedures, benefits, leave policies, reimbursements, work-from-home rules, security policies, employee conduct, IT policies, or any other documented company guideline.\n\nThis category also includes follow-up questions related to previously discussed policies.\n\nExamples:\n\n* what is the leave policy\n* how many vacation days do employees get\n* what is the work from home policy\n* what is the reimbursement process\n* what are the company security rules\n\n---\n\n4. other\n\nQuestions NOT related to company policies.\n\nExamples:\n\n* sports\n* news\n* coding\n* general knowledge\n* technology\n* personal questions\n* jokes\n* random conversation\n\n---\n\n## STEP 2 — RESPONSE RULES\n\nIf category = greeting\n\nRespond politely and explain your role.\n\nExample response:\n\n\"Hello! I'm here to help answer questions related to your company's policies and internal guidelines. If you have any questions about company rules, employee procedures, benefits, or workplace policies, feel free to ask.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = other\n\nRespond politely but clearly explain that you can only help with company policy related questions.\n\nExample response:\n\n\"Sorry, I can only assist with questions related to company policies and internal guidelines.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = policy_list\n\nUse the vector search tool to retrieve policy documents.\n\nFrom the retrieved results:\n\n1. Identify the unique policy filenames from metadata.\n2. List the available policies.\n3. Explain that users can ask questions about any of these policies.\n\nFormat the response like this:\n\n\"I can help answer questions about the following company policies:\"\n\n* Policy Name\n* Policy Name\n* Policy Name\n\nUsers can click the policy name to open the document.\n\nReference:\n\n* [Policy Name](fileLink)\n* [Policy Name](fileLink)\n\nRules:\n\n* Only show policies that appear in the retrieved metadata.\n* Do NOT invent policy names.\n* Do NOT assume policies that are not in the database.\n\n---\n\nIf category = company_policy\n\nUse the vector search tool to retrieve relevant policy information.\n\nAfter retrieving context:\n\n1. Carefully read the retrieved policy content.\n2. Identify the relevant information related to the user's question.\n3. Generate a clear and easy-to-understand explanation.\n\nYou may summarize or simplify the policy language so employees can easily understand it.\n\nHowever:\n\n* Do NOT invent policy information.\n* Do NOT assume policies that are not present in the retrieved context.\n\n---\n\n## WHEN INFORMATION IS NOT FOUND\n\nIf the vector search tool does not return relevant information for the user's question, respond politely:\n\n\"I'm sorry, but I couldn't find information about that in the available company policies. I can only answer questions based on the policies currently stored in the knowledge base.\"\n\nDo NOT guess or fabricate information.\n\n---\n\n## LIMITATIONS\n\nYou are only an informational assistant.\n\nIf the user asks you to perform actions such as:\n\n* approve leave\n* submit requests\n* update employee information\n* modify records\n* perform system operations\n\nRespond:\n\n\"I'm here to help explain company policies, but I don't have the ability to perform actions or make changes in company systems.\"\n\n---\n\n## ANSWER STYLE\n\nYour answers should be:\n\n* clear\n* natural\n* easy to understand\n* helpful for employees\n\nPrefer:\n\n* short paragraphs\n* bullet points when helpful\n* simplified explanations instead of complex policy language\n\n---\n\n## REFERENCES\n\nIf the answer is based on retrieved company policy documents include references at the end of the response.\n\nUse metadata returned from the vector database:\n\n* filename → policy name\n* fileLink → URL to the policy document\n\nFormat references as clickable Markdown links.\n\nReference:\n\n* [Policy Name](fileLink)\n\nExample:\n\nReference:\n\n* [Leave Policy](https://company.com/policies/leave-policy.pdf)\n* [Work From Home Policy](https://company.com/policies/wfh-policy.pdf)\n\nRules:\n\n* Always use filename as the visible text.\n* Use fileLink as the URL.\n* If multiple policies were used list them all.\n* Do NOT invent policy names or links.\n* Do NOT include references if no policy information was retrieved.\n\n---\n\n## CRITICAL RULES\n\nNever fabricate company policies.\n\nNever assume a policy exists unless it appears in the retrieved context.\n\nAlways rely on retrieved documents when answering company policy questions.\n\nIf metadata contains a fileLink always format the reference as a clickable Markdown link.\n\n---\n\n## USAGE LOGGING (MANDATORY)\n\nAfter responding to the user, you must log usage information using the Google Sheets logging tool.\n\n\nThis rule applies to ALL messages including:\n- greetings\n- simple questions\n- questions answered without using Pinecone\n- questions answered using Pinecone\n\nYou must never skip this step.\n\nAppend a row to the spreadsheet containing:\n\ntimestamp  \nquery  \nchat_model  \nembedding_model  \nprompt_tokens  \ncompletion_tokens  \nembedding_tokens  \ntotal_tokens  \nestimated_cost_usd  \n\nUse the following values:\n\n\nUse tokenUsageEstimate to read token usage:\n\ntokenUsageEstimate.promptTokens  \ntokenUsageEstimate.completionTokens  \ntokenUsageEstimate.totalTokens  \n\nEstimate embedding_tokens from the user query length.\n\nCalculate the estimated cost using the token usage and models.\n\nThe Google Sheets logging tool must only be called AFTER the final answer to the user has been generated.\n\nNever call the logging tool during reasoning or during document retrieval.\n\nThe final step of every interaction must be:\n1. Generate the final answer for the user\n2. Log the usage information using the Google Sheets tool\n\nDo not show logging information to the user.\n\n",
          "returnIntermediateSteps": true,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        944
      ],
      "id": "fe8ed6b2-41cc-421d-bcaf-810508d2419f",
      "name": "AI chat Agent"
    },
    {
      "parameters": {
        "jsCode": "const metadata = $input.first().json.metadata || {};\n\nconst apiKey = metadata.siteKey;\nconst origin = metadata.origin;\n\nconst allowedDomains = [\n  \"https://logsapp.scaleupally.in\",\n  \"https://logsapp-dev.scaleupally.in\",\n  \"http://localhost:5500\",\n  \"http://127.0.0.1:5500\",\n  \"http://localhost:3000\",\n  \"http://127.0.0.1:3000\"\n];\n\nif (apiKey !== \"SCALEUP_SECRET_2026\") {\n  return [{ json: { authError: \"❌ Invalid API key.\" } }];\n}\n\nif (!allowedDomains.includes(origin)) {\n  return [{ json: { authError: \"🚫 This chatbot can only be used from the official website.\" } }];\n}\n\nreturn [{ json: { authError: null, ...$input.first().json } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        944
      ],
      "id": "b46b8060-7cdd-44bf-8866-ce6500c11a70",
      "name": "Check Origin and Secret"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17733dd5-29e0-4bcc-8d79-c1cd9bf9e7bb",
              "leftValue": "={{ $json.authError }}",
              "rightValue": "is not ",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        944
      ],
      "id": "39ec50c4-2ece-4a71-8b42-b5cb0444386f",
      "name": "Request Validation"
    }
  ],
  "connections": {
    "Folder File Created Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Clean the text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean the text": {
      "main": [
        [
          {
            "node": "Prepare for pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAi Embedding model": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for pinecone": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI chat Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store for retrieval": {
      "ai_tool": [
        [
          {
            "node": "AI chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User chat interface": {
      "main": [
        [
          {
            "node": "Check Origin and Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI model": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store for retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Usage management": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI chat Agent": {
      "main": [
        [
          {
            "node": "Prompt Usage management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Origin and Secret": {
      "main": [
        [
          {
            "node": "Request Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Validation": {
      "main": [
        [
          {
            "node": "Return Errors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "MK8sDrOfVLRm36eQ",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Folder File Created Trigger": {
      "lastTimeChecked": "2026-04-20T07:14:18Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "21c6940a-c790-4d73-9b19-2fcbfcdfffc1",
  "activeVersionId": "21c6940a-c790-4d73-9b19-2fcbfcdfffc1",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-06T08:09:09.885Z",
      "createdAt": "2026-03-06T08:09:09.885Z",
      "role": "workflow:owner",
      "workflowId": "E5gK6KgTGMrFsgRB",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-06T13:31:34.000Z",
    "createdAt": "2026-04-06T13:31:03.969Z",
    "versionId": "21c6940a-c790-4d73-9b19-2fcbfcdfffc1",
    "workflowId": "E5gK6KgTGMrFsgRB",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "mode": "id",
            "value": "1CvlI7RN7dTT1M7Ramsgpcf85ipAwCSsh"
          },
          "event": "fileCreated",
          "options": {
            "fileType": "all"
          }
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -544,
          0
        ],
        "id": "ef646bb2-0876-49ab-853b-91acc5584127",
        "name": "Folder File Created Trigger",
        "executeOnce": false,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "7E5OE1b7EWf2HhfZ",
            "name": "dev1_drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{$json.id}}",
            "mode": "id"
          },
          "options": {
            "binaryPropertyName": "=data"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -208,
          0
        ],
        "id": "8d27fa4f-371a-4881-9934-fe6b5d6cdcb4",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "7E5OE1b7EWf2HhfZ",
            "name": "dev1_drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          80,
          0
        ],
        "id": "b6ddd18c-459c-42cd-b2bb-1e42d57488dd",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.text;\n\nlet cleanedText = text;\n\n// remove block starting from ADMITO... until CIN...\ncleanedText = cleanedText.replace(\n  /ADMITO TECHNOLOGIES PRIVATE LIMITED[\\s\\S]*?CIN:[^\\n]*/g,\n  \"\"\n);\n\n\ncleanedText = cleanedText.replace(/\\n+/g, \"\\n\")\n  .replace(/\\s+/g, \" \")\n  .replace(/_{3,}/g, \"\")\n  .trim();\n\n\n// get file name and file link from Google Drive Trigger\nconst fileName = $json.info.Title;\nconst fileId = $('Download file').item.json.id;\nconst fileLink = `https://drive.google.com/file/d/${fileId}/view`;\n\n\nreturn {\n  fileName,\n  cleanedText,\n  fileId,\n  fileLink,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          0
        ],
        "id": "40736c83-4600-450a-a1f7-71ee4ff0a7b2",
        "name": "Clean the text"
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "hr-policies",
            "mode": "list",
            "cachedResultName": "hr-policies"
          },
          "embeddingBatchSize": 800,
          "options": {
            "pineconeNamespace": ""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          864,
          -16
        ],
        "id": "419ab2a7-1712-48af-a8cf-7fe5f5f95930",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "ukZOTkZgPTtBjuZr",
            "name": "HR_policies_pinecone_key"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "fileName",
                  "value": "={{ $json.fileName }}"
                },
                {
                  "name": "fileId",
                  "value": "={{ $json.fileId }}"
                },
                {
                  "name": "fileLink",
                  "value": "={{ $json.fileLink }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          1008,
          160
        ],
        "id": "e641d939-7a60-455d-bec4-8c2d94fd7798",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "options": {
            "dimensions": 1024
          }
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          832,
          160
        ],
        "id": "178d331c-70b4-4b5d-9c41-af367e1ed2b5",
        "name": "OpenAi Embedding model",
        "credentials": {
          "openAiApi": {
            "id": "W4eLKnMENIeh4SFB",
            "name": "HR policies POC"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          0,
          1136
        ],
        "id": "c2f2bdac-a84b-4db8-b3d3-f36c1f897412",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "W4eLKnMENIeh4SFB",
            "name": "HR policies POC"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst output = [];\n\nfor (const item of items) {\n\n  const text = item.json.cleanedText;\n  const fileName = item.json.fileName;\n  const fileLink = item.json.fileLink;\n  const fileId = item.json.fileId;\n\n  output.push({\n    json: {\n      text: text,\n      fileName: fileName,\n      fileLink: fileLink,\n      fileId: fileId\n    }\n  });\n\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          0
        ],
        "id": "0734def3-ea46-4ba6-baf9-3cc401cf336d",
        "name": "Prepare for pinecone"
      },
      {
        "parameters": {
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          160,
          1136
        ],
        "id": "9134309f-2a6a-4878-beac-b953f84b4898",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "=Search the company policy knowledge base stored in the vector database.\n\nThis tool retrieves relevant sections from company policy documents stored in the system.\n\nEach retrieved result may contain:\n\n* text from the policy document\n* metadata including:\n\n  * filename (the name of the policy)\n  * fileLink (URL to open the policy document)\n\n---\n\n## WHEN TO USE THIS TOOL\n\nUse this tool whenever the user asks about:\n\n* company policies\n* employee guidelines\n* workplace rules\n* leave policies\n* reimbursement policies\n* benefits\n* work-from-home rules\n* employee conduct\n* security policies\n* IT policies\n* internal company procedures\n\nAlso use this tool when the user asks:\n\n* what policies are available\n* list company policies\n* what documents exist\n* what policies can you help with\n\n---\n\n## HOW TO USE THE RESULTS\n\n1. The tool will return relevant sections from policy documents.\n\n2. Carefully read the retrieved results.\n\n3. Extract the information needed to answer the user's question.\n\n4. Use the retrieved content as the source of truth.\n\n5. You may summarize or simplify the policy text to make it easier for employees to understand.\n\n6. Use metadata such as filename and fileLink to generate references for the policies used.\n\n---\n\n## WHEN USER ASKS FOR POLICY LIST\n\nIf the user asks what policies are available:\n\n* Retrieve multiple documents.\n* Extract unique filenames from metadata.\n* Present the list of policies to the user.\n\n---\n\n## IF NO RESULTS ARE FOUND\n\nIf the search does not return relevant results, inform the user politely.\n\nExample response:\n\n\"I'm sorry, but I couldn't find information about that in the available company policies.\"\n\n---\n\n## IMPORTANT RULES\n\n* Do NOT assume a policy exists unless it appears in the retrieved results.\n* Do NOT generate policy information without retrieving context from this tool.\n* Only use this tool for company policy related questions.\n* Do NOT use this tool for greetings or unrelated questions.\n",
          "pineconeIndex": {
            "__rl": true,
            "value": "hr-policies",
            "mode": "list",
            "cachedResultName": "hr-policies"
          },
          "topK": 10,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          304,
          1136
        ],
        "id": "20d885c2-7721-4089-9dfc-78ef33933037",
        "name": "Pinecone Vector Store for retrieval",
        "credentials": {
          "pineconeApi": {
            "id": "ukZOTkZgPTtBjuZr",
            "name": "HR_policies_pinecone_key"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik",
            "mode": "list",
            "cachedResultName": "HR Policy openAI token usages",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "timestamp": "={{$now}}",
              "query": "={{ $('User chat interface').item.json.chatInput }}",
              "modelname": "={{ $json.model }}",
              "prompt_tokens": "={{ $json.usage.input_tokens }}",
              "completion_tokens": "={{ $json.usage.output_tokens }}",
              "total_tokens": "={{ $json.usage.total_tokens }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "modelname",
                "displayName": "modelname",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "prompt_tokens",
                "displayName": "prompt_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "completion_tokens",
                "displayName": "completion_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "total_tokens",
                "displayName": "total_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          656,
          432
        ],
        "id": "26585760-c6c2-4278-8063-5bf03a8502af",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "dPuWQry0B9RX5YTL",
            "name": "dev1_google_sheet"
          }
        }
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -544,
          944
        ],
        "id": "21c85977-da61-491b-ab25-8bb4433f2ddb",
        "name": "User chat interface",
        "webhookId": "ea845674-0c37-45a6-9468-d80fb3d05c66"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "responses": {
            "values": [
              {
                "content": "={{ $json.chatInput }}"
              },
              {
                "role": "system",
                "content": "you are an AI assistant that helps employees understand their company's policies and internal guidelines.\n\nYour role is to answer employee questions by retrieving relevant information from the company policy knowledge base using the vector search tool.\n\nYou are an informational assistant only. You cannot perform actions, update company records, submit requests, approve operations, or interact with company systems. You can only explain policies and provide information.\n\n---\n\n## STEP 1 — CLASSIFY THE USER MESSAGE\n\nFirst determine the category of the user message.\n\nCategories:\n\n1. greeting\n\nExamples:\n\n* hello\n* hi\n* hey\n* good morning\n* good afternoon\n* how can you help\n* what can you do\n\n---\n\n2. policy_list\n\nQuestions where the user is asking what company policies are available.\n\nExamples:\n\n* what policies do you have\n* what policies can you help with\n* list company policies\n* what policies exist\n* which policies are available\n* what documents do you have\n* show me all policies\n\n---\n\n3. company_policy\n\nQuestions related to specific company policies, internal rules, employee guidelines, workplace procedures, benefits, leave policies, reimbursements, work-from-home rules, security policies, employee conduct, IT policies, or any other documented company guideline.\n\nThis category also includes follow-up questions related to previously discussed policies.\nBefore answering a company policy question you MUST use the vector search tool to retrieve relevant policy context.\n\nExamples:\n\n* what is the leave policy\n* how many vacation days do employees get\n* what is the work from home policy\n* what is the reimbursement process\n* what are the company security rules\n\n---\n\n4. other\n\nQuestions NOT related to company policies.\n\nExamples:\n\n* sports\n* news\n* coding\n* general knowledge\n* technology\n* personal questions\n* jokes\n* random conversation\n\n---\n\n## STEP 2 — RESPONSE RULES\n\nIf category = greeting\n\nRespond politely and explain your role.\n\nExample response:\n\n\"Hello! I'm here to help answer questions related to your company's policies and internal guidelines. If you have any questions about company rules, employee procedures, benefits, or workplace policies, feel free to ask.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = other\n\nRespond politely but clearly explain that you can only help with company policy related questions.\n\nExample response:\n\n\"Sorry, I can only assist with questions related to company policies and internal guidelines.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = policy_list\n\nUse the vector search tool to retrieve policy documents.\n\nFrom the retrieved results:\n\n1. Identify the unique policy filenames from metadata.\n2. List the available policies.\n3. Explain that users can ask questions about any of these policies.\n\nFormat the response like this:\n\n\"I can help answer questions about the following company policies:\"\n\n* Policy Name\n* Policy Name\n* Policy Name\n\nUsers can click the policy name to open the document.\n\nReference:\n\n* [Policy Name](fileLink)\n* [Policy Name](fileLink)\n\nRules:\n\n* Only show policies that appear in the retrieved metadata.\n* Do NOT invent policy names.\n* Do NOT assume policies that are not in the database.\n\n---\n\nIf category = company_policy\n\nUse the vector search tool to retrieve relevant policy information.\n\nAfter retrieving context:\n\n1. Carefully read the retrieved policy content.\n2. Identify the relevant information related to the user's question.\n3. Generate a clear and easy-to-understand explanation.\n\nYou may summarize or simplify the policy language so employees can easily understand it.\n\nHowever:\n\n* Do NOT invent policy information.\n* Do NOT assume policies that are not present in the retrieved context.\n\n---\n\n## WHEN INFORMATION IS NOT FOUND\n\nIf the vector search tool does not return relevant information for the user's question, respond politely:\n\n\"I'm sorry, but I couldn't find information about that in the available company policies. I can only answer questions based on the policies currently stored in the knowledge base.\"\n\nDo NOT guess or fabricate information.\n\n---\n\n## LIMITATIONS\n\nYou are only an informational assistant.\n\nIf the user asks you to perform actions such as:\n\n* approve leave\n* submit requests\n* update employee information\n* modify records\n* perform system operations\n\nRespond:\n\n\"I'm here to help explain company policies, but I don't have the ability to perform actions or make changes in company systems.\"\n\n---\n\n## ANSWER STYLE\n\nYour answers should be:\n\n* clear\n* natural\n* easy to understand\n* helpful for employees\n\nPrefer:\n\n* short paragraphs\n* bullet points when helpful\n* simplified explanations instead of complex policy language\n\n---\n\n## REFERENCES\n\nIf the answer is based on retrieved company policy documents include references at the end of the response.\n\nUse metadata returned from the vector database:\n\n* filename → policy name\n* fileLink → URL to the policy document\n\nFormat references as clickable Markdown links.\n\nReference:\n\n* [Policy Name](fileLink)\n\nExample:\n\nReference:\n\n* [Leave Policy](https://company.com/policies/leave-policy.pdf)\n* [Work From Home Policy](https://company.com/policies/wfh-policy.pdf)\n\nRules:\n\n* Always use filename as the visible text.\n* Use fileLink as the URL.\n* If multiple policies were used list them all.\n* Do NOT invent policy names or links.\n* Do NOT include references if no policy information was retrieved.\n\n---\n\n## CRITICAL RULES\n\nNever fabricate company policies.\n\nNever assume a policy exists unless it appears in the retrieved context.\n\nAlways rely on retrieved documents when answering company policy questions.\n\nIf metadata contains a fileLink always format the reference as a clickable Markdown link.\n\n---\n\n## TOOL USAGE RULES\n\nWhen you need to retrieve company policy information you must use the vector search tool.\n\nWhen calling the vector search tool you must provide the input as a JSON object.\n\nCorrect format:\n\n{\n  \"query\": \"<user question>\"\n}\n\nExample:\n\n{\n  \"query\": \"What is the notice period policy\"\n}\n\nNever send a plain string to the tool.\n\nIncorrect example (DO NOT DO THIS):\n\n\"notice period policy\"\n\nAlways send the tool input as a JSON object with the field:\n\nquery\n"
              }
            ]
          },
          "simplify": false,
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          256,
          432
        ],
        "id": "13bf8f1c-162e-40e8-94bb-87788322c621",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "W4eLKnMENIeh4SFB",
            "name": "HR policies POC"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93c5447f-8fe1-4f93-8563-69fb71da8479",
                "name": "output",
                "value": "={{ $('Message a model').item.json.output[0].content[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          432
        ],
        "id": "7f085b4b-4361-4e0b-a9f9-4a54c960235c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "mode": "load",
          "pineconeIndex": {
            "__rl": true,
            "value": "hr-policies",
            "mode": "list",
            "cachedResultName": "hr-policies"
          },
          "prompt": "={{ $json.chatInput }}",
          "topK": 5,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -336,
          432
        ],
        "id": "2f8752b6-6b62-4f2d-88ce-7755725b499f",
        "name": "Pinecone Vector Store2",
        "credentials": {
          "pineconeApi": {
            "id": "ukZOTkZgPTtBjuZr",
            "name": "HR_policies_pinecone_key"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "dimensions": 1024
          }
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -304,
          608
        ],
        "id": "285f4314-5ef3-4f09-8ef6-108f92e5b5f2",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "2SN6l7TZaVixYAzM",
            "name": "Project Charter to WBS OpenAI"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "38b56d7f-8a80-4dd1-a504-1cacb5d1bc5d",
                "name": "policy_context",
                "value": "={{$items(\"Pinecone Vector Store2\").map(i =>\n`Policy: ${i.json.document.metadata.fileName}\n\n${i.json.document.pageContent}\n\nSource: ${i.json.document.metadata.fileLink}`\n).join(\"\\n\\n\")}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          432
        ],
        "id": "6c2cd4c1-2b8b-4ca6-b63e-f8aaf013298c",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nconst sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.chatInput;\n\nif (!staticData.sessions) {\n  staticData.sessions = {};\n}\n\nif (!staticData.sessions[sessionId]) {\n  staticData.sessions[sessionId] = [];\n}\n\nreturn [{\n  json: {\n    chatInput ,\n    sessionId,\n    history: staticData.sessions[sessionId]\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -544,
          432
        ],
        "id": "f1de3227-945a-4792-8593-42d32da04b8c",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "options": {
            "dimensions": 1024
          }
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          288,
          1296
        ],
        "id": "40baf86d-a8f3-47d8-9bbe-b04f725ec422",
        "name": "Embeddings OpenAI model",
        "credentials": {
          "openAiApi": {
            "id": "W4eLKnMENIeh4SFB",
            "name": "HR policies POC"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik",
            "mode": "list",
            "cachedResultName": "HR Policy openAI token usages",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Svlg6a_c_S1_MjecwCq2qp-SZZLN_0lUisMmSQk_jik/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "timestamp": "={{$now}}",
              "query": "={{ $('User chat interface').item.json.chatInput }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "modelname",
                "displayName": "modelname",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "prompt_tokens",
                "displayName": "prompt_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "completion_tokens",
                "displayName": "completion_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "total_tokens",
                "displayName": "total_tokens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          656,
          944
        ],
        "id": "018343ad-6476-4bc5-b6eb-19fa55edd30d",
        "name": "Prompt Usage management",
        "alwaysOutputData": false,
        "notesInFlow": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "dPuWQry0B9RX5YTL",
            "name": "dev1_google_sheet"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68ef1e40-1f66-42ec-968e-b71b52b67d9b",
                "name": "output",
                "value": "={{ $('AI chat Agent').item.json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          880,
          944
        ],
        "id": "73fe83d4-449b-45a6-957c-3868d5e61007",
        "name": "Response Node"
      },
      {
        "parameters": {
          "content": "# 📄 Policy Document Ingestion Flow\n\nDrive Trigger → Download File → Extract Text from PDF → Clean Text → Prepare for Pinecone → Generate Embeddings → Store in Pinecone Vector DB",
          "width": 1136
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -544,
          -208
        ],
        "id": "b718cc5c-8d25-4b2a-af43-256bea4a22d8",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "# 💬 Policy Chat Agent (RAG)\n\nUser Chat → AI Chat Agent → Retrieve Context from Pinecone Vector DB → Generate Response (OpenAI) → Return Reply to User",
          "height": 128,
          "width": 896
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -576,
          768
        ],
        "id": "a0d5b96b-d661-49a7-8024-4215a4b11228",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "# 🧪 AI Usage Exploration (Discard)\n\nTest flow used to explore AI + vector search.\n\nCode → Query Pinecone Vector Store → Format Data → Test Chat Model Response → Log Result to Sheet\n\n⚠️ Experimental workflow — safe to discard.",
          "height": 144,
          "width": 1088
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -560,
          240
        ],
        "id": "4fcf33ca-8bb8-4449-8a2a-8353e680f41a",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b0917d6a-43e1-409b-8060-4d80652ca74a",
                "name": "output",
                "value": "={{ $json.authError }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          880,
          736
        ],
        "id": "b98f6192-5113-4d17-83be-43a9f8a79caa",
        "name": "Return Errors"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "= {{$json.chatInput}}\n",
          "options": {
            "systemMessage": "You are an AI assistant that helps employees understand their company's policies and internal guidelines.\n\nYour role is to answer employee questions by retrieving relevant information from the company policy knowledge base using the vector search tool.\n\nYou are an informational assistant only. You cannot perform actions, update company records, submit requests, approve operations, or interact with company systems. You can only explain policies and provide information.\n\n---\n\n## STEP 1 — CLASSIFY THE USER MESSAGE\n\nFirst determine the category of the user message.\n\nCategories:\n\n1. greeting\n\nExamples:\n\n* hello\n* hi\n* hey\n* good morning\n* good afternoon\n* how can you help\n* what can you do\n\n---\n\n2. policy_list\n\nQuestions where the user is asking what company policies are available.\n\nExamples:\n\n* what policies do you have\n* what policies can you help with\n* list company policies\n* what policies exist\n* which policies are available\n* what documents do you have\n* show me all policies\n\n---\n\n3. company_policy\n\nQuestions related to specific company policies, internal rules, employee guidelines, workplace procedures, benefits, leave policies, reimbursements, work-from-home rules, security policies, employee conduct, IT policies, or any other documented company guideline.\n\nThis category also includes follow-up questions related to previously discussed policies.\n\nExamples:\n\n* what is the leave policy\n* how many vacation days do employees get\n* what is the work from home policy\n* what is the reimbursement process\n* what are the company security rules\n\n---\n\n4. other\n\nQuestions NOT related to company policies.\n\nExamples:\n\n* sports\n* news\n* coding\n* general knowledge\n* technology\n* personal questions\n* jokes\n* random conversation\n\n---\n\n## STEP 2 — RESPONSE RULES\n\nIf category = greeting\n\nRespond politely and explain your role.\n\nExample response:\n\n\"Hello! I'm here to help answer questions related to your company's policies and internal guidelines. If you have any questions about company rules, employee procedures, benefits, or workplace policies, feel free to ask.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = other\n\nRespond politely but clearly explain that you can only help with company policy related questions.\n\nExample response:\n\n\"Sorry, I can only assist with questions related to company policies and internal guidelines.\"\n\nDo NOT use the vector search tool.\n\n---\n\nIf category = policy_list\n\nUse the vector search tool to retrieve policy documents.\n\nFrom the retrieved results:\n\n1. Identify the unique policy filenames from metadata.\n2. List the available policies.\n3. Explain that users can ask questions about any of these policies.\n\nFormat the response like this:\n\n\"I can help answer questions about the following company policies:\"\n\n* Policy Name\n* Policy Name\n* Policy Name\n\nUsers can click the policy name to open the document.\n\nReference:\n\n* [Policy Name](fileLink)\n* [Policy Name](fileLink)\n\nRules:\n\n* Only show policies that appear in the retrieved metadata.\n* Do NOT invent policy names.\n* Do NOT assume policies that are not in the database.\n\n---\n\nIf category = company_policy\n\nUse the vector search tool to retrieve relevant policy information.\n\nAfter retrieving context:\n\n1. Carefully read the retrieved policy content.\n2. Identify the relevant information related to the user's question.\n3. Generate a clear and easy-to-understand explanation.\n\nYou may summarize or simplify the policy language so employees can easily understand it.\n\nHowever:\n\n* Do NOT invent policy information.\n* Do NOT assume policies that are not present in the retrieved context.\n\n---\n\n## WHEN INFORMATION IS NOT FOUND\n\nIf the vector search tool does not return relevant information for the user's question, respond politely:\n\n\"I'm sorry, but I couldn't find information about that in the available company policies. I can only answer questions based on the policies currently stored in the knowledge base.\"\n\nDo NOT guess or fabricate information.\n\n---\n\n## LIMITATIONS\n\nYou are only an informational assistant.\n\nIf the user asks you to perform actions such as:\n\n* approve leave\n* submit requests\n* update employee information\n* modify records\n* perform system operations\n\nRespond:\n\n\"I'm here to help explain company policies, but I don't have the ability to perform actions or make changes in company systems.\"\n\n---\n\n## ANSWER STYLE\n\nYour answers should be:\n\n* clear\n* natural\n* easy to understand\n* helpful for employees\n\nPrefer:\n\n* short paragraphs\n* bullet points when helpful\n* simplified explanations instead of complex policy language\n\n---\n\n## REFERENCES\n\nIf the answer is based on retrieved company policy documents include references at the end of the response.\n\nUse metadata returned from the vector database:\n\n* filename → policy name\n* fileLink → URL to the policy document\n\nFormat references as clickable Markdown links.\n\nReference:\n\n* [Policy Name](fileLink)\n\nExample:\n\nReference:\n\n* [Leave Policy](https://company.com/policies/leave-policy.pdf)\n* [Work From Home Policy](https://company.com/policies/wfh-policy.pdf)\n\nRules:\n\n* Always use filename as the visible text.\n* Use fileLink as the URL.\n* If multiple policies were used list them all.\n* Do NOT invent policy names or links.\n* Do NOT include references if no policy information was retrieved.\n\n---\n\n## CRITICAL RULES\n\nNever fabricate company policies.\n\nNever assume a policy exists unless it appears in the retrieved context.\n\nAlways rely on retrieved documents when answering company policy questions.\n\nIf metadata contains a fileLink always format the reference as a clickable Markdown link.\n\n---\n\n## USAGE LOGGING (MANDATORY)\n\nAfter responding to the user, you must log usage information using the Google Sheets logging tool.\n\n\nThis rule applies to ALL messages including:\n- greetings\n- simple questions\n- questions answered without using Pinecone\n- questions answered using Pinecone\n\nYou must never skip this step.\n\nAppend a row to the spreadsheet containing:\n\ntimestamp  \nquery  \nchat_model  \nembedding_model  \nprompt_tokens  \ncompletion_tokens  \nembedding_tokens  \ntotal_tokens  \nestimated_cost_usd  \n\nUse the following values:\n\n\nUse tokenUsageEstimate to read token usage:\n\ntokenUsageEstimate.promptTokens  \ntokenUsageEstimate.completionTokens  \ntokenUsageEstimate.totalTokens  \n\nEstimate embedding_tokens from the user query length.\n\nCalculate the estimated cost using the token usage and models.\n\nThe Google Sheets logging tool must only be called AFTER the final answer to the user has been generated.\n\nNever call the logging tool during reasoning or during document retrieval.\n\nThe final step of every interaction must be:\n1. Generate the final answer for the user\n2. Log the usage information using the Google Sheets tool\n\nDo not show logging information to the user.\n\n",
            "returnIntermediateSteps": true,
            "enableStreaming": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          944
        ],
        "id": "fe8ed6b2-41cc-421d-bcaf-810508d2419f",
        "name": "AI chat Agent"
      },
      {
        "parameters": {
          "jsCode": "const metadata = $input.first().json.metadata || {};\n\nconst apiKey = metadata.siteKey;\nconst origin = metadata.origin;\n\nconst allowedDomains = [\n  \"https://logsapp.scaleupally.in\",\n  \"https://logsapp-dev.scaleupally.in\",\n  \"http://localhost:5500\",\n  \"http://127.0.0.1:5500\",\n  \"http://localhost:3000\",\n  \"http://127.0.0.1:3000\"\n];\n\nif (apiKey !== \"SCALEUP_SECRET_2026\") {\n  return [{ json: { authError: \"❌ Invalid API key.\" } }];\n}\n\nif (!allowedDomains.includes(origin)) {\n  return [{ json: { authError: \"🚫 This chatbot can only be used from the official website.\" } }];\n}\n\nreturn [{ json: { authError: null, ...$input.first().json } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -336,
          944
        ],
        "id": "b46b8060-7cdd-44bf-8866-ce6500c11a70",
        "name": "Check Origin and Secret"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "17733dd5-29e0-4bcc-8d79-c1cd9bf9e7bb",
                "leftValue": "={{ $json.authError }}",
                "rightValue": "is not ",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -128,
          944
        ],
        "id": "39ec50c4-2ece-4a71-8b42-b5cb0444386f",
        "name": "Request Validation"
      }
    ],
    "connections": {
      "Folder File Created Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Clean the text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clean the text": {
        "main": [
          [
            {
              "node": "Prepare for pinecone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "main": [
          []
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "OpenAi Embedding model": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI chat Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for pinecone": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI chat Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store for retrieval": {
        "ai_tool": [
          [
            {
              "node": "AI chat Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "User chat interface": {
        "main": [
          [
            {
              "node": "Check Origin and Secret",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store2": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI model": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store for retrieval",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Prompt Usage management": {
        "main": [
          [
            {
              "node": "Response Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI chat Agent": {
        "main": [
          [
            {
              "node": "Prompt Usage management",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Origin and Secret": {
        "main": [
          [
            {
              "node": "Request Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request Validation": {
        "main": [
          [
            {
              "node": "Return Errors",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI chat Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version 21c6940a",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
