workflows/invoice-fields-to-google-sheets.json
{
  "updatedAt": "2026-04-23T12:57:59.286Z",
  "createdAt": "2026-04-20T10:57:15.406Z",
  "id": "ArEK37NRuIJSM2lc",
  "name": "Invoice Fields to Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "76f9be5d-13a9-4eb0-a364-2ace734fdd6f",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.refrens.com/authentication",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"strategy\":\"app-secret\",\"appId\":\"scaleupally-fQavn\",\"appSecret\":\"J1lPpNlRF3y7DBzoofGOBV-H\"}",
        "options": {}
      },
      "id": "a028f21f-ee44-4420-90af-c4b7108b99c6",
      "name": "Authenticate Refrens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "cachedResultName": "Invoice Fields"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "420709446",
          "cachedResultName": "Invoices Covered"
        },
        "options": {}
      },
      "id": "9de0f4dc-8fe0-46ff-b893-83376d475b6f",
      "name": "Read Covered Invoices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -320
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.refrens.com/businesses/scaleupally/invoices",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "$skip",
              "value": "={{ $json.skip }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Authenticate Refrens').first().json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99a764c7-a3e3-4a4c-b82f-f88f6c6baad0",
      "name": "Fetch Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -320
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d8c39c21-f8e5-4fbf-acff-c7ede14c365d",
      "name": "Split Invoices",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1312,
        -448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dedup",
              "leftValue": "={{ $('Read Covered Invoices').all().map(r => r.json['Invoice Numbers Covered']).includes($json.invoiceNumber) }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "5c5abe96-fc0d-48b3-896f-5b5c5c2469e2",
              "leftValue": "={{ $('Read Unmatched Contacts').all().map(r => r.json['Email']).includes($json.data) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2574f4be-e6a5-4ac9-a1ac-a63d24e8ff49",
      "name": "Already Covered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        -448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $('Split Invoices').item.json.billedTo.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f729cf3-9550-49ad-acb0-ecb44a48ad89",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        -464
      ]
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.com/crm/v2/Contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criteria",
              "value": "={{ '(Email:equals:' + $json.billedTo.email + ')' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e7c5385f-8cef-4563-90ff-583c971eaa03",
      "name": "Search Zoho Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        -512
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "zoho-crm-oauth",
          "name": "Zoho CRM OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "contact-found",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "18133111-24f8-4635-9779-a5f074378394",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2432,
        -512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v2/Refrens_Invoices/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n        data: [{\n          Invoice_Number: $('Split Invoices').item.json.invoiceNumber,\n          Invoice_Date: $('Split Invoices').item.json.invoiceDate.split('T')[0],\n          Amount: $('Split Invoices').item.json.finalTotal.total,\n          Currency_Field: $('Split Invoices').item.json.currency,\n          Item_Description: $('Split Invoices').item.json.items.map(i => i.name).join(', '),\n          Status: $('Split Invoices').item.json.status,\n          Bill_Type: $('Split Invoices').item.json.billType,\n          Invoice_URL: 'https://www.refrens.com/app/invoices/' + $('Split Invoices').item.json._id,\n          Contact: { id: $json.data[0].id }\n        }],\n        duplicate_check_fields: ['Invoice_Number']\n      }) }}",
        "options": {}
      },
      "id": "655421a4-73a5-4325-9193-0261defb306a",
      "name": "Upsert Invoice in Zoho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        -560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "zoho-crm-oauth",
          "name": "Zoho CRM OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { 'Invoice Numbers Covered': $('Split Invoices').item.json.invoiceNumber } }}",
        "options": {}
      },
      "id": "b147a11f-87dd-4257-9e34-83f6ce925d72",
      "name": "Prepare Covered (Matched)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        -560
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "cachedResultName": "Invoice Fields"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "420709446",
          "cachedResultName": "Invoices Covered"
        },
        "columns": {
          "0": "{",
          "1": "{",
          "2": " ",
          "3": "{",
          "4": "\"",
          "5": "m",
          "6": "a",
          "7": "p",
          "8": "p",
          "9": "i",
          "10": "n",
          "11": "g",
          "12": "M",
          "13": "o",
          "14": "d",
          "15": "e",
          "16": "\"",
          "17": ":",
          "18": "\"",
          "19": "a",
          "20": "u",
          "21": "t",
          "22": "o",
          "23": "M",
          "24": "a",
          "25": "p",
          "26": "I",
          "27": "n",
          "28": "p",
          "29": "u",
          "30": "t",
          "31": "D",
          "32": "a",
          "33": "t",
          "34": "a",
          "35": "\"",
          "36": ",",
          "37": "\"",
          "38": "v",
          "39": "a",
          "40": "l",
          "41": "u",
          "42": "e",
          "43": "\"",
          "44": ":",
          "45": "{",
          "46": "}",
          "47": "}",
          "48": " ",
          "49": "}",
          "50": "}",
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Numbers Covered": "={{ $('Split Invoices').item.json.invoiceNumber }}"
          },
          "matchingColumns": [
            "Invoice Numbers Covered"
          ],
          "schema": [
            {
              "id": "Invoice Numbers Covered",
              "displayName": "Invoice Numbers Covered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7aa53dfb-6ada-43e0-a6dc-121357d8ed16",
      "name": "Mark Covered (Matched)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3104,
        -560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n        'Invoice Number': {{ $('Split Invoices').item.json.invoiceNumber }},\n        'Client Name': {{ $('Split Invoices').item.json.billedTo.name }},\n        'Email Attempted': {{ $('Email Corrector').item.json || 'No email' }},\n        'Amount': {{ $('Split Invoices').item.json.finalTotal.total }},\n        'Currency': {{ $('Split Invoices').item.json.currency }},\n        'Invoice Date': {{ $('Split Invoices').item.json.invoiceDate }},\n        'Invoice Numbers Covered': {{ $('Split Invoices').item.json.invoiceNumber }}\n\n}\n\n",
        "options": {}
      },
      "id": "50f562e0-518c-4ec1-b981-756dcec9d9ce",
      "name": "Prepare Unmatched Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        -272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "mode": "list",
          "cachedResultName": "Invoice Fields",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Unmatched Contacts",
          "mode": "name"
        },
        "columns": {
          "0": "{",
          "1": "{",
          "2": " ",
          "3": "{",
          "4": "\"",
          "5": "m",
          "6": "a",
          "7": "p",
          "8": "p",
          "9": "i",
          "10": "n",
          "11": "g",
          "12": "M",
          "13": "o",
          "14": "d",
          "15": "e",
          "16": "\"",
          "17": ":",
          "18": "\"",
          "19": "a",
          "20": "u",
          "21": "t",
          "22": "o",
          "23": "M",
          "24": "a",
          "25": "p",
          "26": "I",
          "27": "n",
          "28": "p",
          "29": "u",
          "30": "t",
          "31": "D",
          "32": "a",
          "33": "t",
          "34": "a",
          "35": "\"",
          "36": ",",
          "37": "\"",
          "38": "v",
          "39": "a",
          "40": "l",
          "41": "u",
          "42": "e",
          "43": "\"",
          "44": ":",
          "45": "{",
          "46": "}",
          "47": "}",
          "48": " ",
          "49": "}",
          "50": "}",
          "mappingMode": "defineBelow",
          "value": {
            "Invoice": "={{ $('Split Invoices').item.json.billedTo.name }}",
            "Email": "={{ $('Email Corrector').item.json.data || 'No email' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7642dca6-6eb2-4967-8259-a4c2cd717f4e",
      "name": "Log Unmatched Invoice",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        -272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"limit\": \"10\",\n  \"skip\": \"0\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -320
      ],
      "id": "8c805649-14d2-4d30-a5b6-e4995e44e7e8",
      "name": "Set"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2faef98a-f6b9-47ba-8944-fcdde6b68305",
              "name": "skip",
              "value": "={{ Number($json.skip) + Number($('Set').item.json.limit) }}",
              "type": "number"
            },
            {
              "id": "c0f01f86-1ef5-4f1a-ad14-347f53ebe5d7",
              "name": "limit",
              "value": "={{ $('Set').item.json.limit }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -224
      ],
      "id": "dbbb5b9d-e49d-4b0f-80cd-291400899f13",
      "name": "increment skip"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "952a91eb-277d-4b9c-863b-b0466e26ce15",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "3a11bdf9-fecf-4d8b-ac7f-e7f46188ad58",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": "={{ $('Set').item.json.limit.toNumber() }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        -400
      ],
      "id": "99882d0f-b152-4e97-9a46-ce4c204db0d7",
      "name": "increment skip?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "mode": "list",
          "cachedResultName": "Invoice Fields",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 438047698,
          "mode": "list",
          "cachedResultName": "Unmatched Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit#gid=438047698"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -320
      ],
      "id": "1c5191d8-1a18-49c8-ac3d-23a6d176fbbe",
      "name": "Read Unmatched Contacts",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst new_mail = $input.json.email.toLowerCase();\n\nreturn [{ json: { email: new_mail } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -448
      ],
      "id": "ec9306b5-00ba-47a2-8a5c-ef4b6642cb51",
      "name": "Email Corrector"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Authenticate Refrens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Refrens": {
      "main": [
        [
          {
            "node": "Read Covered Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Covered Invoices": {
      "main": [
        [
          {
            "node": "Read Unmatched Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices": {
      "main": [
        [
          {
            "node": "increment skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Invoices": {
      "main": [
        [
          {
            "node": "Email Corrector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Covered?": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Search Zoho Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Unmatched Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Zoho Contact": {
      "main": [
        [
          {
            "node": "Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found?": {
      "main": [
        [
          {
            "node": "Upsert Invoice in Zoho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Unmatched Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Invoice in Zoho": {
      "main": [
        [
          {
            "node": "Prepare Covered (Matched)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Covered (Matched)": {
      "main": [
        [
          {
            "node": "Mark Covered (Matched)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unmatched Entry": {
      "main": [
        [
          {
            "node": "Log Unmatched Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unmatched Invoice": {
      "main": [
        []
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Fetch Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "increment skip": {
      "main": [
        [
          {
            "node": "Fetch Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "increment skip?": {
      "main": [
        [
          {
            "node": "increment skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Unmatched Contacts": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Corrector": {
      "main": [
        [
          {
            "node": "Already Covered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f74cbf87-8cba-463b-92e3-a4470091f512",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-20T10:57:15.409Z",
      "createdAt": "2026-04-20T10:57:15.409Z",
      "role": "workflow:owner",
      "workflowId": "ArEK37NRuIJSM2lc",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
