workflows/invoices-to-crm.json
{
  "updatedAt": "2026-04-27T10:11:29.868Z",
  "createdAt": "2026-04-20T10:57:15.406Z",
  "id": "ArEK37NRuIJSM2lc",
  "name": "Invoices to CRM",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "76f9be5d-13a9-4eb0-a364-2ace734fdd6f",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.refrens.com/authentication",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"strategy\":\"app-secret\",\"appId\":\"scaleupally-fQavn\",\"appSecret\":\"J1lPpNlRF3y7DBzoofGOBV-H\"}",
        "options": {}
      },
      "id": "a028f21f-ee44-4420-90af-c4b7108b99c6",
      "name": "Authenticate Refrens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "cachedResultName": "Invoice Fields"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "420709446",
          "cachedResultName": "Invoices Covered"
        },
        "options": {}
      },
      "id": "9de0f4dc-8fe0-46ff-b893-83376d475b6f",
      "name": "Read Covered Invoices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -448
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.refrens.com/businesses/scaleupally/invoices",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "$skip",
              "value": "={{ $json.skip }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Authenticate Refrens').first().json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99a764c7-a3e3-4a4c-b82f-f88f6c6baad0",
      "name": "Fetch Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -448
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d8c39c21-f8e5-4fbf-acff-c7ede14c365d",
      "name": "Split Invoices",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1088,
        -520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dedup",
              "leftValue": "={{ $('Read Covered Invoices').all().map(r => r.json['Invoice Numbers Covered']).includes($json.invoiceNumber) }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "5c5abe96-fc0d-48b3-896f-5b5c5c2469e2",
              "leftValue": "={{ $('Read Unmatched Contacts').all().map(r => r.json['Email']).includes($json.data) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2574f4be-e6a5-4ac9-a1ac-a63d24e8ff49",
      "name": "Already Covered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        -520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.billedTo.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f729cf3-9550-49ad-acb0-ecb44a48ad89",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        -520
      ]
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.com/crm/v2/Contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criteria",
              "value": "={{ '(Email:equals:' + $json.billedTo.email + ')' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e7c5385f-8cef-4563-90ff-583c971eaa03",
      "name": "Search Zoho Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        -592
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "JIQYOtIcpdMTcITW",
          "name": "Zoho CRM OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "contact-found",
              "leftValue": "={{ Array.isArray($json.data) && $json.data.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "18133111-24f8-4635-9779-a5f074378394",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        -592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v2/Refrens_Invoice/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  data: [{\n    Invoice_Number: $('Has Email?').item.json.invoiceNumber,\n    Invoice_Date: $('Has Email?').item.json.invoiceDate.split('T')[0],\n    Amount: $('Has Email?').item.json.items[0].total,\n    Currency: $('Has Email?').item.json.currency,\n    Name: $('Has Email?').item.json.invoiceNumber + ' - ' + $('Has Email?').item.json.billedTo.name,\n    Item_Description: $('Has Email?').item.json.items.map(i => i.name).join(', '),\n    Status: $('Has Email?').item.json.status,\n    Bill_Type: $('Has Email?').item.json.billType,\n    Invoice_URL: 'https://www.refrens.com/app/invoices/' + $('Has Email?').item.json._id,\n    Contact: { id: $json.data[0].id }\n  }]\n}) }}",
        "options": {}
      },
      "id": "655421a4-73a5-4325-9193-0261defb306a",
      "name": "Upsert Invoice in Zoho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        -640
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "JIQYOtIcpdMTcITW",
          "name": "Zoho CRM OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { 'Invoice Numbers Covered': $('Split Invoices').item.json.invoiceNumber } }}",
        "options": {}
      },
      "id": "b147a11f-87dd-4257-9e34-83f6ce925d72",
      "name": "Prepare Covered (Matched)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        -640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "cachedResultName": "Invoice Fields"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "420709446",
          "cachedResultName": "Invoices Covered"
        },
        "columns": {
          "0": "{",
          "1": "{",
          "2": " ",
          "3": "{",
          "4": "\"",
          "5": "m",
          "6": "a",
          "7": "p",
          "8": "p",
          "9": "i",
          "10": "n",
          "11": "g",
          "12": "M",
          "13": "o",
          "14": "d",
          "15": "e",
          "16": "\"",
          "17": ":",
          "18": "\"",
          "19": "a",
          "20": "u",
          "21": "t",
          "22": "o",
          "23": "M",
          "24": "a",
          "25": "p",
          "26": "I",
          "27": "n",
          "28": "p",
          "29": "u",
          "30": "t",
          "31": "D",
          "32": "a",
          "33": "t",
          "34": "a",
          "35": "\"",
          "36": ",",
          "37": "\"",
          "38": "v",
          "39": "a",
          "40": "l",
          "41": "u",
          "42": "e",
          "43": "\"",
          "44": ":",
          "45": "{",
          "46": "}",
          "47": "}",
          "48": " ",
          "49": "}",
          "50": "}",
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Numbers Covered": "={{ $('Split Invoices').item.json.invoiceNumber }}"
          },
          "matchingColumns": [
            "Invoice Numbers Covered"
          ],
          "schema": [
            {
              "id": "Invoice Numbers Covered",
              "displayName": "Invoice Numbers Covered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7aa53dfb-6ada-43e0-a6dc-121357d8ed16",
      "name": "Mark Covered (Matched)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        -640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'Invoice Number': $('Split Invoices').item.json.invoiceNumber,\n  'Client Name': $('Split Invoices').item.json.billedTo.name,\n  'Email Attempted': $('Split Invoices').item.json.billedTo.email || 'No email',\n  'Amount': $('Split Invoices').item.json.finalTotal.total,\n  'Currency': $('Split Invoices').item.json.currency,\n  'Invoice Date': $('Split Invoices').item.json.invoiceDate.split('T')[0]\n} }}",
        "options": {}
      },
      "id": "50f562e0-518c-4ec1-b981-756dcec9d9ce",
      "name": "Prepare Unmatched Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        -424
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "mode": "list",
          "cachedResultName": "Invoice Fields",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Unmatched Contacts",
          "mode": "name"
        },
        "columns": {
          "0": "{",
          "1": "{",
          "2": " ",
          "3": "{",
          "4": "\"",
          "5": "m",
          "6": "a",
          "7": "p",
          "8": "p",
          "9": "i",
          "10": "n",
          "11": "g",
          "12": "M",
          "13": "o",
          "14": "d",
          "15": "e",
          "16": "\"",
          "17": ":",
          "18": "\"",
          "19": "a",
          "20": "u",
          "21": "t",
          "22": "o",
          "23": "M",
          "24": "a",
          "25": "p",
          "26": "I",
          "27": "n",
          "28": "p",
          "29": "u",
          "30": "t",
          "31": "D",
          "32": "a",
          "33": "t",
          "34": "a",
          "35": "\"",
          "36": ",",
          "37": "\"",
          "38": "v",
          "39": "a",
          "40": "l",
          "41": "u",
          "42": "e",
          "43": "\"",
          "44": ":",
          "45": "{",
          "46": "}",
          "47": "}",
          "48": " ",
          "49": "}",
          "50": "}",
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json[\"Email Attempted\"] }}",
            "Invoice Number": "={{ $json[\"Invoice Number\"] }}",
            "Client Name": "={{ $json[\"Client Name\"] }}",
            "Amount": "={{ $json.Amount }}",
            "Currency": "={{ $json.Currency }}",
            "Invoice Date": "={{ $json[\"Invoice Date\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7642dca6-6eb2-4967-8259-a4c2cd717f4e",
      "name": "Log Unmatched Invoice",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        -424
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"limit\": \"10\",\n  \"skip\": \"0\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -448
      ],
      "id": "8c805649-14d2-4d30-a5b6-e4995e44e7e8",
      "name": "Set"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "mode": "list",
          "cachedResultName": "Invoice Logging",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 438047698,
          "mode": "list",
          "cachedResultName": "Unmatched Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit#gid=438047698"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -448
      ],
      "id": "1c5191d8-1a18-49c8-ac3d-23a6d176fbbe",
      "name": "Read Unmatched Contacts",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38e05f83-435e-4ef2-8bfe-492d4c0b98af",
              "leftValue": "={{ $('Fetch Invoices').first().json.data.length === 10 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3104,
        -520
      ],
      "id": "42d55468-5c88-4b77-b9fc-58fe9d8dc1f4",
      "name": "More Pages?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2faef98a-f6b9-47ba-8944-fcdde6b68305",
              "name": "skip",
              "value": "={{ $('Fetch Invoices').first().json.skip + 10 }}",
              "type": "number"
            },
            {
              "id": "c0f01f86-1ef5-4f1a-ad14-347f53ebe5d7",
              "name": "limit",
              "value": "=10",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3328,
        -448
      ],
      "id": "dbbb5b9d-e49d-4b0f-80cd-291400899f13",
      "name": "increment skip",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2880,
        -520
      ],
      "id": "2769d119-f0ec-4d6d-a315-e5c6710502f9",
      "name": "Merge"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Authenticate Refrens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate Refrens": {
      "main": [
        [
          {
            "node": "Read Covered Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Covered Invoices": {
      "main": [
        [
          {
            "node": "Read Unmatched Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices": {
      "main": [
        [
          {
            "node": "Split Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Invoices": {
      "main": [
        [
          {
            "node": "Already Covered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Covered?": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Search Zoho Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Unmatched Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Zoho Contact": {
      "main": [
        [
          {
            "node": "Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found?": {
      "main": [
        [
          {
            "node": "Upsert Invoice in Zoho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Unmatched Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Invoice in Zoho": {
      "main": [
        [
          {
            "node": "Prepare Covered (Matched)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Covered (Matched)": {
      "main": [
        [
          {
            "node": "Mark Covered (Matched)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unmatched Entry": {
      "main": [
        [
          {
            "node": "Log Unmatched Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unmatched Invoice": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Fetch Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Unmatched Contacts": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Covered (Matched)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "increment skip": {
      "main": [
        [
          {
            "node": "Fetch Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages?": {
      "main": [
        [
          {
            "node": "increment skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Weekly Schedule": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Weekly Schedule": [
      {
        "json": {
          "timestamp": "2026-04-24T17:44:08.804+05:30",
          "Readable date": "April 24th 2026, 5:44:08 pm",
          "Readable time": "5:44:08 pm",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "24",
          "Hour": "17",
          "Minute": "44",
          "Second": "08",
          "Timezone": "Asia/Calcutta (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "3883d358-45a8-4391-8414-e7128d1d0632",
  "activeVersionId": "3883d358-45a8-4391-8414-e7128d1d0632",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-20T10:57:15.409Z",
      "createdAt": "2026-04-20T10:57:15.409Z",
      "role": "workflow:owner",
      "workflowId": "ArEK37NRuIJSM2lc",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-27T10:13:04.000Z",
    "createdAt": "2026-04-27T10:11:29.872Z",
    "versionId": "3883d358-45a8-4391-8414-e7128d1d0632",
    "workflowId": "ArEK37NRuIJSM2lc",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "76f9be5d-13a9-4eb0-a364-2ace734fdd6f",
        "name": "Weekly Schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -256,
          -448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.refrens.com/authentication",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"strategy\":\"app-secret\",\"appId\":\"scaleupally-fQavn\",\"appSecret\":\"J1lPpNlRF3y7DBzoofGOBV-H\"}",
          "options": {}
        },
        "id": "a028f21f-ee44-4420-90af-c4b7108b99c6",
        "name": "Authenticate Refrens",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -32,
          -448
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
            "cachedResultName": "Invoice Fields"
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "420709446",
            "cachedResultName": "Invoices Covered"
          },
          "options": {}
        },
        "id": "9de0f4dc-8fe0-46ff-b893-83376d475b6f",
        "name": "Read Covered Invoices",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          192,
          -448
        ],
        "executeOnce": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THdXW72Bb4AecTeb",
            "name": "creds_for_invoice"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.refrens.com/businesses/scaleupally/invoices",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$limit",
                "value": "={{ $json.limit }}"
              },
              {
                "name": "$skip",
                "value": "={{ $json.skip }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Authenticate Refrens').first().json.accessToken }}"
              }
            ]
          },
          "options": {}
        },
        "id": "99a764c7-a3e3-4a4c-b82f-f88f6c6baad0",
        "name": "Fetch Invoices",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          864,
          -448
        ],
        "executeOnce": false
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "id": "d8c39c21-f8e5-4fbf-acff-c7ede14c365d",
        "name": "Split Invoices",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1088,
          -520
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "dedup",
                "leftValue": "={{ $('Read Covered Invoices').all().map(r => r.json['Invoice Numbers Covered']).includes($json.invoiceNumber) }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              },
              {
                "id": "5c5abe96-fc0d-48b3-896f-5b5c5c2469e2",
                "leftValue": "={{ $('Read Unmatched Contacts').all().map(r => r.json['Email']).includes($json.data) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "2574f4be-e6a5-4ac9-a1ac-a63d24e8ff49",
        "name": "Already Covered?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1312,
          -520
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "has-email",
                "leftValue": "={{ $json.billedTo.email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "9f729cf3-9550-49ad-acb0-ecb44a48ad89",
        "name": "Has Email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1536,
          -520
        ]
      },
      {
        "parameters": {
          "url": "https://www.zohoapis.com/crm/v2/Contacts/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "criteria",
                "value": "={{ '(Email:equals:' + $json.billedTo.email + ')' }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "e7c5385f-8cef-4563-90ff-583c971eaa03",
        "name": "Search Zoho Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1760,
          -592
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "JIQYOtIcpdMTcITW",
            "name": "Zoho CRM OAuth2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "contact-found",
                "leftValue": "={{ Array.isArray($json.data) && $json.data.length > 0 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "18133111-24f8-4635-9779-a5f074378394",
        "name": "Contact Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1984,
          -592
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.zohoapis.com/crm/v2/Refrens_Invoice/upsert",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  data: [{\n    Invoice_Number: $('Has Email?').item.json.invoiceNumber,\n    Invoice_Date: $('Has Email?').item.json.invoiceDate.split('T')[0],\n    Amount: $('Has Email?').item.json.items[0].total,\n    Currency: $('Has Email?').item.json.currency,\n    Name: $('Has Email?').item.json.invoiceNumber + ' - ' + $('Has Email?').item.json.billedTo.name,\n    Item_Description: $('Has Email?').item.json.items.map(i => i.name).join(', '),\n    Status: $('Has Email?').item.json.status,\n    Bill_Type: $('Has Email?').item.json.billType,\n    Invoice_URL: 'https://www.refrens.com/app/invoices/' + $('Has Email?').item.json._id,\n    Contact: { id: $json.data[0].id }\n  }]\n}) }}",
          "options": {}
        },
        "id": "655421a4-73a5-4325-9193-0261defb306a",
        "name": "Upsert Invoice in Zoho",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2208,
          -640
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "JIQYOtIcpdMTcITW",
            "name": "Zoho CRM OAuth2"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ { 'Invoice Numbers Covered': $('Split Invoices').item.json.invoiceNumber } }}",
          "options": {}
        },
        "id": "b147a11f-87dd-4257-9e34-83f6ce925d72",
        "name": "Prepare Covered (Matched)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2432,
          -640
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
            "cachedResultName": "Invoice Fields"
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "420709446",
            "cachedResultName": "Invoices Covered"
          },
          "columns": {
            "0": "{",
            "1": "{",
            "2": " ",
            "3": "{",
            "4": "\"",
            "5": "m",
            "6": "a",
            "7": "p",
            "8": "p",
            "9": "i",
            "10": "n",
            "11": "g",
            "12": "M",
            "13": "o",
            "14": "d",
            "15": "e",
            "16": "\"",
            "17": ":",
            "18": "\"",
            "19": "a",
            "20": "u",
            "21": "t",
            "22": "o",
            "23": "M",
            "24": "a",
            "25": "p",
            "26": "I",
            "27": "n",
            "28": "p",
            "29": "u",
            "30": "t",
            "31": "D",
            "32": "a",
            "33": "t",
            "34": "a",
            "35": "\"",
            "36": ",",
            "37": "\"",
            "38": "v",
            "39": "a",
            "40": "l",
            "41": "u",
            "42": "e",
            "43": "\"",
            "44": ":",
            "45": "{",
            "46": "}",
            "47": "}",
            "48": " ",
            "49": "}",
            "50": "}",
            "mappingMode": "defineBelow",
            "value": {
              "Invoice Numbers Covered": "={{ $('Split Invoices').item.json.invoiceNumber }}"
            },
            "matchingColumns": [
              "Invoice Numbers Covered"
            ],
            "schema": [
              {
                "id": "Invoice Numbers Covered",
                "displayName": "Invoice Numbers Covered",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "7aa53dfb-6ada-43e0-a6dc-121357d8ed16",
        "name": "Mark Covered (Matched)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2656,
          -640
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THdXW72Bb4AecTeb",
            "name": "creds_for_invoice"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ {\n  'Invoice Number': $('Split Invoices').item.json.invoiceNumber,\n  'Client Name': $('Split Invoices').item.json.billedTo.name,\n  'Email Attempted': $('Split Invoices').item.json.billedTo.email || 'No email',\n  'Amount': $('Split Invoices').item.json.finalTotal.total,\n  'Currency': $('Split Invoices').item.json.currency,\n  'Invoice Date': $('Split Invoices').item.json.invoiceDate.split('T')[0]\n} }}",
          "options": {}
        },
        "id": "50f562e0-518c-4ec1-b981-756dcec9d9ce",
        "name": "Prepare Unmatched Entry",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2208,
          -424
        ],
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
            "mode": "list",
            "cachedResultName": "Invoice Fields",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "Unmatched Contacts",
            "mode": "name"
          },
          "columns": {
            "0": "{",
            "1": "{",
            "2": " ",
            "3": "{",
            "4": "\"",
            "5": "m",
            "6": "a",
            "7": "p",
            "8": "p",
            "9": "i",
            "10": "n",
            "11": "g",
            "12": "M",
            "13": "o",
            "14": "d",
            "15": "e",
            "16": "\"",
            "17": ":",
            "18": "\"",
            "19": "a",
            "20": "u",
            "21": "t",
            "22": "o",
            "23": "M",
            "24": "a",
            "25": "p",
            "26": "I",
            "27": "n",
            "28": "p",
            "29": "u",
            "30": "t",
            "31": "D",
            "32": "a",
            "33": "t",
            "34": "a",
            "35": "\"",
            "36": ",",
            "37": "\"",
            "38": "v",
            "39": "a",
            "40": "l",
            "41": "u",
            "42": "e",
            "43": "\"",
            "44": ":",
            "45": "{",
            "46": "}",
            "47": "}",
            "48": " ",
            "49": "}",
            "50": "}",
            "mappingMode": "defineBelow",
            "value": {
              "Email": "={{ $json[\"Email Attempted\"] }}",
              "Invoice Number": "={{ $json[\"Invoice Number\"] }}",
              "Client Name": "={{ $json[\"Client Name\"] }}",
              "Amount": "={{ $json.Amount }}",
              "Currency": "={{ $json.Currency }}",
              "Invoice Date": "={{ $json[\"Invoice Date\"] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Invoice Number",
                "displayName": "Invoice Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Client Name",
                "displayName": "Client Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Amount",
                "displayName": "Amount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Currency",
                "displayName": "Currency",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Invoice Date",
                "displayName": "Invoice Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "7642dca6-6eb2-4967-8259-a4c2cd717f4e",
        "name": "Log Unmatched Invoice",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2432,
          -424
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THdXW72Bb4AecTeb",
            "name": "creds_for_invoice"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"limit\": \"10\",\n  \"skip\": \"0\"\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          -448
        ],
        "id": "8c805649-14d2-4d30-a5b6-e4995e44e7e8",
        "name": "Set"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
            "mode": "list",
            "cachedResultName": "Invoice Logging",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 438047698,
            "mode": "list",
            "cachedResultName": "Unmatched Contacts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit#gid=438047698"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          416,
          -448
        ],
        "id": "1c5191d8-1a18-49c8-ac3d-23a6d176fbbe",
        "name": "Read Unmatched Contacts",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THdXW72Bb4AecTeb",
            "name": "creds_for_invoice"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "38e05f83-435e-4ef2-8bfe-492d4c0b98af",
                "leftValue": "={{ $('Fetch Invoices').first().json.data.length === 10 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3104,
          -520
        ],
        "id": "42d55468-5c88-4b77-b9fc-58fe9d8dc1f4",
        "name": "More Pages?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2faef98a-f6b9-47ba-8944-fcdde6b68305",
                "name": "skip",
                "value": "={{ $('Fetch Invoices').first().json.skip + 10 }}",
                "type": "number"
              },
              {
                "id": "c0f01f86-1ef5-4f1a-ad14-347f53ebe5d7",
                "name": "limit",
                "value": "=10",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3328,
          -448
        ],
        "id": "dbbb5b9d-e49d-4b0f-80cd-291400899f13",
        "name": "increment skip",
        "executeOnce": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2880,
          -520
        ],
        "id": "2769d119-f0ec-4d6d-a315-e5c6710502f9",
        "name": "Merge"
      }
    ],
    "connections": {
      "Weekly Schedule": {
        "main": [
          [
            {
              "node": "Authenticate Refrens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Authenticate Refrens": {
        "main": [
          [
            {
              "node": "Read Covered Invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Covered Invoices": {
        "main": [
          [
            {
              "node": "Read Unmatched Contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Invoices": {
        "main": [
          [
            {
              "node": "Split Invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Invoices": {
        "main": [
          [
            {
              "node": "Already Covered?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Already Covered?": {
        "main": [
          [
            {
              "node": "Has Email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Email?": {
        "main": [
          [
            {
              "node": "Search Zoho Contact",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Unmatched Entry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Zoho Contact": {
        "main": [
          [
            {
              "node": "Contact Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contact Found?": {
        "main": [
          [
            {
              "node": "Upsert Invoice in Zoho",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Unmatched Entry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Invoice in Zoho": {
        "main": [
          [
            {
              "node": "Prepare Covered (Matched)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Covered (Matched)": {
        "main": [
          [
            {
              "node": "Mark Covered (Matched)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Unmatched Entry": {
        "main": [
          [
            {
              "node": "Log Unmatched Invoice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Unmatched Invoice": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Fetch Invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Unmatched Contacts": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Covered (Matched)": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "increment skip": {
        "main": [
          [
            {
              "node": "Fetch Invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "More Pages?": {
        "main": [
          [
            {
              "node": "increment skip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "More Pages?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version 3883d358",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
