workflows/invoice-fields-to-google-sheets.json
{
  "updatedAt": "2026-04-20T13:16:23.732Z",
  "createdAt": "2026-04-20T10:57:15.406Z",
  "id": "ArEK37NRuIJSM2lc",
  "name": "Invoice Fields to Google Sheets",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "28eb8759-4b9e-4161-aabb-de1f663cf460",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.refrens.com/businesses/scaleupally/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "ef07ad6d-c742-434e-a20d-7f87a0ea2677",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.refrens.com/authentication",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"strategy\": \"app-secret\",\n  \"appId\": \"scaleupally-fQavn\",\n  \"appSecret\": \"J1lPpNlRF3y7DBzoofGOBV-H\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "34be6d24-a218-4ab2-b270-53b4786ab057",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
          "mode": "list",
          "cachedResultName": "Invoice Fields",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice": "={{ $json.billedTo.name }}",
            "Invoice Number": "={{ $json.invoiceNumber }}",
            "Email": "={{ $json.billedTo.email }}",
            "Phone": "={{ $json.billedTo.phone }}",
            "Address": "={{ $json.billedTo.state }}, {{ $json.billedTo.stateCode }}, {{ $json.billedTo.country }}",
            "Amount": "={{ $json.items[0].amount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice",
              "displayName": "Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        0
      ],
      "id": "eea95a92-1eab-44dd-ab44-40ef507b22a8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "THdXW72Bb4AecTeb",
          "name": "creds_for_invoice"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "02482566-e506-49c9-9f61-4dff516ec3b1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn [{ json: $json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        240
      ],
      "id": "74f5ff2a-6b14-4c73-9491-5fdb75a33b26",
      "name": "Keys"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k3rDM16EsJzm7UFK",
          "mode": "list",
          "cachedResultUrl": "/workflow/k3rDM16EsJzm7UFK",
          "cachedResultName": "Refrens → Zoho CRM Invoice Sync"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1136,
        0
      ],
      "id": "0316f899-783b-468f-a21a-17ab02cad153",
      "name": "Call 'Refrens → Zoho CRM Invoice Sync'"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keys": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Call 'Refrens → Zoho CRM Invoice Sync'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1cd2840d-cebb-40e3-aba2-48469c9fe0f3",
  "activeVersionId": "0bf94662-078c-49d6-9622-884c17b59cd1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-20T10:57:15.409Z",
      "createdAt": "2026-04-20T10:57:15.409Z",
      "role": "workflow:owner",
      "workflowId": "ArEK37NRuIJSM2lc",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-20T12:44:47.000Z",
    "createdAt": "2026-04-20T12:43:41.713Z",
    "versionId": "0bf94662-078c-49d6-9622-884c17b59cd1",
    "workflowId": "ArEK37NRuIJSM2lc",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "28eb8759-4b9e-4161-aabb-de1f663cf460",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://api.refrens.com/businesses/scaleupally/invoices",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $json.accessToken }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          448,
          0
        ],
        "id": "ef07ad6d-c742-434e-a20d-7f87a0ea2677",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.refrens.com/authentication",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"strategy\": \"app-secret\",\n  \"appId\": \"scaleupally-fQavn\",\n  \"appSecret\": \"J1lPpNlRF3y7DBzoofGOBV-H\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          0
        ],
        "id": "34be6d24-a218-4ab2-b270-53b4786ab057",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE",
            "mode": "list",
            "cachedResultName": "Invoice Fields",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dfZ-jIXPNbVllPvtAmpZNj9X8yrevsNTPrAgEoARvQE/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Invoice": "={{ $json.billedTo.name }}",
              "Invoice Number": "={{ $json.invoiceNumber }}",
              "Email": "={{ $json.billedTo.email }}",
              "Phone": "={{ $json.billedTo.phone }}",
              "Address": "={{ $json.billedTo.state }}, {{ $json.billedTo.stateCode }}, {{ $json.billedTo.country }}",
              "Amount": "={{ $json.items[0].amount }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Invoice",
                "displayName": "Invoice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Invoice Number",
                "displayName": "Invoice Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Address",
                "displayName": "Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Amount",
                "displayName": "Amount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          976,
          0
        ],
        "id": "eea95a92-1eab-44dd-ab44-40ef507b22a8",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THdXW72Bb4AecTeb",
            "name": "creds_for_invoice"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          672,
          0
        ],
        "id": "02482566-e506-49c9-9f61-4dff516ec3b1",
        "name": "Split Out"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn [{ json: $json }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          240
        ],
        "id": "74f5ff2a-6b14-4c73-9491-5fdb75a33b26",
        "name": "Keys"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Keys": {
        "main": [
          []
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version 0bf94662",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
