workflows/lease-parse-output-flow.json
{
  "updatedAt": "2025-11-14T10:49:44.000Z",
  "createdAt": "2025-10-27T06:35:14.043Z",
  "id": "uD1PGHRDak9ukkbg",
  "name": "Lease Parse Output flow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Everything",
              "type": "object"
            }
          ]
        }
      },
      "id": "0af97e1c-3a6b-4a2c-aec9-f33dade7c2a9",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2080,
        240
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1488,
        240
      ],
      "id": "95812c08-add5-4e56-ac21-d786f717bb1f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1696,
        240
      ],
      "id": "b26b4892-ce54-47ac-b198-93d8cd60c47b",
      "name": "Get a file",
      "webhookId": "b4fe0c9c-f84f-47fa-9568-3acbceeec2f7",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# You are an information extraction assistant for a property management system.  \n\n## Your job is to carefully read text extracted from lease agreement PDFs and identify specific values for the database columns listed below.  If a value is not present in the text, return it as an empty string (\"\"). Never guess or make up values.  Columns to extract:\n- Tenant Name \n- Landlord Name(s) \n- Lease Start Date (YYYY-MM-DD format) \n- Lease End Date (YYYY-MM-DD format) \n- Monthly Rent (numeric, without currency symbols) \n- Security Deposit (numeric, without currency symbols) \n- Address \n- Late Fee (numeric, without currency symbols) \n- Late Fee Grace Period (Days) \n- Pets Allowed? (True/False) \n- Utilities Included (list if possible) \n- Lease Renewal Terms \n- Maintenance Clauses \n- Section 8? (Yes/No) \n- Parking Rules \n- Created (leave blank — to be filled by system) \n- Telegram ID ({{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }})\n- Rent Reminders On? (leave blank — to be filled by system)\n- Landlord Name (single string if possible)  Output your answer **only** in valid JSON format with keys exactly matching the column names above.\n\ndatetime current: {{ $now.toISO() }}."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1264,
        240
      ],
      "id": "21567243-6edc-44e0-903d-448e11d34e6c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1264,
        448
      ],
      "id": "e91ecf2e-d045-42fa-a22d-77aae948bc32",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2SN6l7TZaVixYAzM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}",
        "text": "Hi there! It looks like your lease/rent document is missing some required details — Tenant Name and Address.\nCould you please upload a complete document so we can move forward?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "26476a5e-357d-4587-88be-f79b60216e4f",
      "name": "Message - missing Tenant Name and Address",
      "webhookId": "b5e8101a-084f-4922-bc54-25dc28aac988",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Lease_Parse_Output",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_name",
              "fieldValue": "={{ $json['Tenant Name'] }}"
            },
            {
              "fieldId": "landlord_name",
              "fieldValue": "={{ $json['Landlord Name(s)'] }}"
            },
            {
              "fieldId": "lease_start_date",
              "fieldValue": "={{ $json['Lease Start Date'] }}"
            },
            {
              "fieldId": "lease_end_date",
              "fieldValue": "={{ $json['Lease End Date'] }}"
            },
            {
              "fieldId": "monthly_rent",
              "fieldValue": "={{ $json['Monthly Rent'] }}"
            },
            {
              "fieldId": "security_deposit",
              "fieldValue": "={{ $json['Security Deposit'] }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.Address }}"
            },
            {
              "fieldId": "late_fee",
              "fieldValue": "={{ $json['Late Fee'] }}"
            },
            {
              "fieldId": "pets_allowed",
              "fieldValue": "={{ $json['Pets Allowed?'] }}"
            },
            {
              "fieldId": "utilities_included",
              "fieldValue": "={{ $json['Utilities Included'][0] }}"
            },
            {
              "fieldId": "lease_renewal_terms",
              "fieldValue": "={{ $json['Lease Renewal Terms'] }}"
            },
            {
              "fieldId": "maintenance_clauses",
              "fieldValue": "={{ $json['Maintenance Clauses'] }}"
            },
            {
              "fieldId": "section8",
              "fieldValue": "={{ $json['Section 8?'] }}"
            },
            {
              "fieldId": "parking_rules",
              "fieldValue": "={{ $json['Parking Rules'] }}"
            },
            {
              "fieldId": "landlord_telegram_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}"
            },
            {
              "fieldId": "late_grace_period",
              "fieldValue": "={{ $json['Late Fee Grace Period'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -896,
        528
      ],
      "id": "b1ecbc0d-fee1-481f-8043-e06860f80ca1",
      "name": "Add Lease Data into Columns",
      "credentials": {
        "supabaseApi": {
          "id": "rsZ1TuOE3J9fd6xE",
          "name": "Scaleupally_Kove"
        }
      }
    },
    {
      "parameters": {
        "tableId": "n8n_chat_histories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.result.chat.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ {\"type\": \"human\", \"content\": `[system]\n### new lease upload\n${$('Add Lease Data into Columns').item.json.keys().map(item => item+ \": \" + $('Add Lease Data into Columns').item.json[item]).join(\"\\n\")}\n`} }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -896,
        960
      ],
      "id": "623e5420-5f49-49a1-8cd8-858243aadf32",
      "name": "Record ID added into chats table",
      "credentials": {
        "supabaseApi": {
          "id": "rsZ1TuOE3J9fd6xE",
          "name": "Scaleupally_Kove"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json['Tenant Name'] || $json.Address).trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "af136365-7778-4428-a06d-fc1dec149853"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Missing tenant name and address"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4eb3e8a-5ed5-4fa6-93b9-fce8beb2a684",
                    "leftValue": "={{ $json['Lease End Date'] ? $json['Lease End Date'].toDateTime() : Date() }}",
                    "rightValue": "={{ $now }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "beforeOrEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lease expired"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8db98148-3768-44dd-8b70-be0740112770",
                    "leftValue": "={{ $json['Tenant Name'] || $json.Address }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Everything's good"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        240
      ],
      "id": "64b8dff7-bd84-4155-b534-43c2962389de",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}",
        "text": "=Hi {{ $('When Executed by Another Workflow').item.json.Everything.message.chat.first_name }}, The lease you uploaded for the tenant is expired. Please enter a valid one to upload it.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        272
      ],
      "id": "314fa537-f5ea-4ef5-beaf-852b24603c3b",
      "name": "Expired lease message",
      "webhookId": "b542806d-a206-4c9d-8da6-3ede2ce836ae",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}",
        "text": "=New Lease added! \nName: {{ $('Basic LLM Chain').item.json['Tenant Name'] }}\nAddress: {{ $('Basic LLM Chain').item.json.Address }}\nRent: {{ $('Basic LLM Chain').item.json['Monthly Rent'] }}\n\nWant me to generate an invite link to bring this tenant onto Kove’s tenant bot? — they’ll get reminders, updates on repairs, and answers to lease questions automatically.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Generate Link",
                    "additionalFields": {
                      "callback_data": "generate_link"
                    }
                  },
                  {
                    "text": "Maybe Later",
                    "additionalFields": {
                      "callback_data": "maybe_later"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -896,
        720
      ],
      "id": "3a4d1d02-48c0-410e-8e05-f3867cb662a6",
      "name": "Lease added message",
      "webhookId": "ade32ce6-9c2a-48b4-97cd-c0a686e451db",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.Everything.message.chat.id }}",
        "text": "=Adding property, give me a sec.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1888,
        240
      ],
      "id": "034266f9-333b-479f-bc9e-b01db3260dec",
      "name": "Send a text message",
      "webhookId": "10aec937-e7c5-402a-ab4e-ff81579c3691",
      "credentials": {
        "telegramApi": {
          "id": "BK9Q6BAVIG4zhnJV",
          "name": "Scaleupally_kove"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Lease Data into Columns": {
      "main": [
        [
          {
            "node": "Lease added message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message - missing Tenant Name and Address",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Lease Data into Columns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Lease Data into Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lease added message": {
      "main": [
        [
          {
            "node": "Record ID added into chats table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Everything": {
            "update_id": 147175310,
            "message": {
              "message_id": 75,
              "from": {
                "id": 979280586,
                "is_bot": false,
                "first_name": "Diwakar",
                "last_name": "Rankawat",
                "username": "diwakarrankawat",
                "language_code": "en"
              },
              "chat": {
                "id": 979280586,
                "first_name": "Diwakar",
                "last_name": "Rankawat",
                "username": "diwakarrankawat",
                "type": "private"
              },
              "date": 1763116944,
              "document": {
                "file_name": "NYC Lease Template #1.pdf",
                "mime_type": "application/pdf",
                "file_id": "BQACAgUAAxkBAANLaRcHkL7PIhb8vlODGvJwhsYTkfAAAmgYAAJBOrlUSGtNF1YOWoE2BA",
                "file_unique_id": "AgADaBgAAkE6uVQ",
                "file_size": 121153
              }
            }
          }
        }
      }
    ]
  },
  "versionId": "625fec2b-0466-48bd-8a6b-777fee97f6a1",
  "activeVersionId": "625fec2b-0466-48bd-8a6b-777fee97f6a1",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-27T06:35:14.047Z",
      "createdAt": "2025-10-27T06:35:14.047Z",
      "role": "workflow:owner",
      "workflowId": "uD1PGHRDak9ukkbg",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-23T06:05:26.474Z",
    "createdAt": "2025-12-23T06:05:26.474Z",
    "versionId": "625fec2b-0466-48bd-8a6b-777fee97f6a1",
    "workflowId": "uD1PGHRDak9ukkbg",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Everything",
                "type": "object"
              }
            ]
          }
        },
        "id": "0af97e1c-3a6b-4a2c-aec9-f33dade7c2a9",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -2080,
          240
        ]
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1488,
          240
        ],
        "id": "95812c08-add5-4e56-ac21-d786f717bb1f",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.document.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1696,
          240
        ],
        "id": "b26b4892-ce54-47ac-b198-93d8cd60c47b",
        "name": "Get a file",
        "webhookId": "b4fe0c9c-f84f-47fa-9568-3acbceeec2f7",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.text }}",
          "messages": {
            "messageValues": [
              {
                "message": "=# You are an information extraction assistant for a property management system.  \n\n## Your job is to carefully read text extracted from lease agreement PDFs and identify specific values for the database columns listed below.  If a value is not present in the text, return it as an empty string (\"\"). Never guess or make up values.  Columns to extract:\n- Tenant Name \n- Landlord Name(s) \n- Lease Start Date (YYYY-MM-DD format) \n- Lease End Date (YYYY-MM-DD format) \n- Monthly Rent (numeric, without currency symbols) \n- Security Deposit (numeric, without currency symbols) \n- Address \n- Late Fee (numeric, without currency symbols) \n- Late Fee Grace Period (Days) \n- Pets Allowed? (True/False) \n- Utilities Included (list if possible) \n- Lease Renewal Terms \n- Maintenance Clauses \n- Section 8? (Yes/No) \n- Parking Rules \n- Created (leave blank — to be filled by system) \n- Telegram ID ({{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }})\n- Rent Reminders On? (leave blank — to be filled by system)\n- Landlord Name (single string if possible)  Output your answer **only** in valid JSON format with keys exactly matching the column names above.\n\ndatetime current: {{ $now.toISO() }}."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          -1264,
          240
        ],
        "id": "21567243-6edc-44e0-903d-448e11d34e6c",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {
            "responseFormat": "json_object"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1264,
          448
        ],
        "id": "e91ecf2e-d045-42fa-a22d-77aae948bc32",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "2SN6l7TZaVixYAzM",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}",
          "text": "Hi there! It looks like your lease/rent document is missing some required details — Tenant Name and Address.\nCould you please upload a complete document so we can move forward?",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -160,
          0
        ],
        "id": "26476a5e-357d-4587-88be-f79b60216e4f",
        "name": "Message - missing Tenant Name and Address",
        "webhookId": "b5e8101a-084f-4922-bc54-25dc28aac988",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "tableId": "Lease_Parse_Output",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "tenant_name",
                "fieldValue": "={{ $json['Tenant Name'] }}"
              },
              {
                "fieldId": "landlord_name",
                "fieldValue": "={{ $json['Landlord Name(s)'] }}"
              },
              {
                "fieldId": "lease_start_date",
                "fieldValue": "={{ $json['Lease Start Date'] }}"
              },
              {
                "fieldId": "lease_end_date",
                "fieldValue": "={{ $json['Lease End Date'] }}"
              },
              {
                "fieldId": "monthly_rent",
                "fieldValue": "={{ $json['Monthly Rent'] }}"
              },
              {
                "fieldId": "security_deposit",
                "fieldValue": "={{ $json['Security Deposit'] }}"
              },
              {
                "fieldId": "address",
                "fieldValue": "={{ $json.Address }}"
              },
              {
                "fieldId": "late_fee",
                "fieldValue": "={{ $json['Late Fee'] }}"
              },
              {
                "fieldId": "pets_allowed",
                "fieldValue": "={{ $json['Pets Allowed?'] }}"
              },
              {
                "fieldId": "utilities_included",
                "fieldValue": "={{ $json['Utilities Included'][0] }}"
              },
              {
                "fieldId": "lease_renewal_terms",
                "fieldValue": "={{ $json['Lease Renewal Terms'] }}"
              },
              {
                "fieldId": "maintenance_clauses",
                "fieldValue": "={{ $json['Maintenance Clauses'] }}"
              },
              {
                "fieldId": "section8",
                "fieldValue": "={{ $json['Section 8?'] }}"
              },
              {
                "fieldId": "parking_rules",
                "fieldValue": "={{ $json['Parking Rules'] }}"
              },
              {
                "fieldId": "landlord_telegram_id",
                "fieldValue": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}"
              },
              {
                "fieldId": "late_grace_period",
                "fieldValue": "={{ $json['Late Fee Grace Period'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -896,
          528
        ],
        "id": "b1ecbc0d-fee1-481f-8043-e06860f80ca1",
        "name": "Add Lease Data into Columns",
        "credentials": {
          "supabaseApi": {
            "id": "rsZ1TuOE3J9fd6xE",
            "name": "Scaleupally_Kove"
          }
        }
      },
      {
        "parameters": {
          "tableId": "n8n_chat_histories",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "session_id",
                "fieldValue": "={{ $json.result.chat.id }}"
              },
              {
                "fieldId": "message",
                "fieldValue": "={{ {\"type\": \"human\", \"content\": `[system]\n### new lease upload\n${$('Add Lease Data into Columns').item.json.keys().map(item => item+ \": \" + $('Add Lease Data into Columns').item.json[item]).join(\"\\n\")}\n`} }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -896,
          960
        ],
        "id": "623e5420-5f49-49a1-8cd8-858243aadf32",
        "name": "Record ID added into chats table",
        "credentials": {
          "supabaseApi": {
            "id": "rsZ1TuOE3J9fd6xE",
            "name": "Scaleupally_Kove"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ ($json['Tenant Name'] || $json.Address).trim() }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "af136365-7778-4428-a06d-fc1dec149853"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Missing tenant name and address"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f4eb3e8a-5ed5-4fa6-93b9-fce8beb2a684",
                      "leftValue": "={{ $json['Lease End Date'] ? $json['Lease End Date'].toDateTime() : Date() }}",
                      "rightValue": "={{ $now }}",
                      "operator": {
                        "type": "dateTime",
                        "operation": "beforeOrEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Lease expired"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8db98148-3768-44dd-8b70-be0740112770",
                      "leftValue": "={{ $json['Tenant Name'] || $json.Address }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Everything's good"
              }
            ]
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -896,
          240
        ],
        "id": "64b8dff7-bd84-4155-b534-43c2962389de",
        "name": "Switch"
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}",
          "text": "=Hi {{ $('When Executed by Another Workflow').item.json.Everything.message.chat.first_name }}, The lease you uploaded for the tenant is expired. Please enter a valid one to upload it.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -160,
          272
        ],
        "id": "314fa537-f5ea-4ef5-beaf-852b24603c3b",
        "name": "Expired lease message",
        "webhookId": "b542806d-a206-4c9d-8da6-3ede2ce836ae",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.Everything.message.chat.id }}",
          "text": "=New Lease added! \nName: {{ $('Basic LLM Chain').item.json['Tenant Name'] }}\nAddress: {{ $('Basic LLM Chain').item.json.Address }}\nRent: {{ $('Basic LLM Chain').item.json['Monthly Rent'] }}\n\nWant me to generate an invite link to bring this tenant onto Kove’s tenant bot? — they’ll get reminders, updates on repairs, and answers to lease questions automatically.",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Generate Link",
                      "additionalFields": {
                        "callback_data": "generate_link"
                      }
                    },
                    {
                      "text": "Maybe Later",
                      "additionalFields": {
                        "callback_data": "maybe_later"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -896,
          720
        ],
        "id": "3a4d1d02-48c0-410e-8e05-f3867cb662a6",
        "name": "Lease added message",
        "webhookId": "ade32ce6-9c2a-48b4-97cd-c0a686e451db",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.Everything.message.chat.id }}",
          "text": "=Adding property, give me a sec.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1888,
          240
        ],
        "id": "034266f9-333b-479f-bc9e-b01db3260dec",
        "name": "Send a text message",
        "webhookId": "10aec937-e7c5-402a-ab4e-ff81579c3691",
        "credentials": {
          "telegramApi": {
            "id": "BK9Q6BAVIG4zhnJV",
            "name": "Scaleupally_kove"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Add Lease Data into Columns": {
        "main": [
          [
            {
              "node": "Lease added message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Message - missing Tenant Name and Address",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add Lease Data into Columns",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Add Lease Data into Columns",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lease added message": {
        "main": [
          [
            {
              "node": "Record ID added into chats table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}
