workflows/linkedin-contract-jobs-scraper.json
{
  "updatedAt": "2026-04-08T14:49:16.667Z",
  "createdAt": "2026-03-12T13:23:20.166Z",
  "id": "ofthe0pJtsw9y4TT",
  "name": "LinkedIn Contract Jobs Scraper",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "05fb57dd-28a3-4ab8-954e-12b5a083a0ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "115NHgUv1oyzvTptzCPJ9S8LkqNCNlM0r",
          "mode": "list",
          "cachedResultName": "AI Engineer - Devansh Agarwal.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/115NHgUv1oyzvTptzCPJ9S8LkqNCNlM0r/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3381b708-573f-4298-bab6-3346bd9850f9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "79jdFPsC2THKJibv",
          "name": "Devansh_creds"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "a8e760db-c42d-4909-9a96-86ccaf7d70d2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a360a8-a7c6-4136-b2bc-f9ed951868e3",
              "name": "job_description",
              "value": "1-3 years of relevant experience in Analytics projects in BFS domain for any geography\nAt least 1 year of experience working for global Banks or financial services in the area of either Credit, Fraud, Marketing, Operations etc.. on AI or analytics engagements\nStrong communication & experience in client communication.\nAwareness of storytelling with PPT & has effectively communicated with clients to understand their basic requirements, communicate status updates, or escalation calls\nHands-on experience in preparing Powerpoint / Google Slides presentations & presenting them to key stakeholders\nHands-on experience with Excel/ Google Sheets to review, sanitize, manipulate data\nHands-on experience of querying data using SQL on traditional RDBMS databases, and/or big data environments such as Hadoop/Hive/Spark.\nAbility to analyse and visualize data one or more tools such as Tableau, PowerBI\nIntermediate experience in DS/ML/AI programming tool of Python\nExposure to low-code no-code tools GPT, CLausde, Lovable, Gemini\nAppreciation of different types of Statistical / Machine Learning / AI techniques, when and why they are used\nInterpret results from a business viewpoint (the expectation is not a data scientist expert-level proficiency, but a clear conceptual understanding)\nAbility to leverage analytics to solve structured or unstructured problems and interpret results",
              "type": "string"
            },
            {
              "id": "187489c1-a7f5-433b-947a-d01befb6e519",
              "name": "extra_experience",
              "value": "*Agentic CRM Automation System* — ScaleupAlly n8n · Zoho CRM · OpenAI GPT-5 · MCP · Telegram · Supabase · PostgreSQL  Designed and built a production-grade AI-powered CRM operations system allowing a five-person sales team to manage Zoho CRM entirely through natural language on Telegram — including voice messages and business card scanning.  Architected a two-agent system with a strict read/write separation: a Read Agent (GPT-5) handles identity resolution, field validation, and action proposal via Zoho's MCP read server, while a Write Agent (GPT-5.4-mini) executes confirmed actions through a dedicated MCP write server. Implemented a human-in-the-loop confirmation layer using Supabase as a staging store and Telegram inline keyboards for Yes/No approval before any CRM write occurs.  Upgraded the system from a v1 single-agent architecture to a v2 MCP-native design, replacing direct HTTP Zoho API calls with Model Context Protocol servers, enabling the agent to dynamically discover and call 28 Zoho tools across read and write servers without hardcoded API logic.  Engineered multi-turn prompt systems for both agents covering COQL query rules, picklist field validation, multi-step operation sequencing with placeholder substitution, path variable routing by action type, owner assignment correction for shared API credentials, and failure handling with guaranteed user notification on every execution outcome.  Debugged and resolved production failures including agent re-query loops from unrecognised empty COQL responses, path variable misrouting on lead conversion, silent execution cancellations caused by sendAndWait node interference, and Supabase field type mismatches on JSON object insertion",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "e2672507-707f-451b-8db0-1501e923948f",
      "name": "JD + Extra Output"
    },
    {
      "parameters": {
        "jsCode": "const resume = $('Extract from File').first().json.text;\nconst jd = $input.first().json.job_description;\nconst extra = $input.first().json.extra_experience;\n\nreturn {\n  resume_text: resume,\n  job_description : jd,\n  extra_experience : extra || ''\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "0f18335d-091d-48b8-bb89-e6cbfb19a5b6",
      "name": "Get Final Output for AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the base resume:\n{{ $json.resume_text }}\n\nHere is the job description:\n{{ $json.job_description }}\n\nAdditional experience (if any):\n{{ $json.extra_experience }}\n\n----------------------------------------\n\nReturn a JSON object with EXACTLY these keys:\n\n{\n  \"CANDIDATE_NAME\": \"\",\n  \"CANDIDATE_ROLE\": \"\",\n  \"PROFESSIONAL_SUMMARY\": \"\",\n\n  \"SKILL_CATEGORY_1\": \"\", \"SKILL_CONTENT_1\": \"\",\n  \"SKILL_CATEGORY_2\": \"\", \"SKILL_CONTENT_2\": \"\",\n  \"SKILL_CATEGORY_3\": \"\", \"SKILL_CONTENT_3\": \"\",\n  \"SKILL_CATEGORY_4\": \"\", \"SKILL_CONTENT_4\": \"\",\n  \"SKILL_CATEGORY_5\": \"\", \"SKILL_CONTENT_5\": \"\",\n  \"SKILL_CATEGORY_6\": \"\", \"SKILL_CONTENT_6\": \"\",\n\n  \"COMPANY_1\": \"\", \"ROLE_1\": \"\", \"DURATION_1\": \"\", \"LOCATION_1\": \"\",\n  \"EXPERIENCE_SUMMARY_1\": \"\",\n  \"EXPERIENCE_BULLETS_1\": \"\",\n\n  \"PROJECT_TITLE_1\": \"\",\n  \"PROJECT_DESCRIPTION_1\": \"\", \"PROJECT_RESPONSIBILITIES_1\": \"\", \"PROJECT_TECHSTACK_1\": \"\",\n\n  \"PROJECT_TITLE_2\": \"\",\n  \"PROJECT_DESCRIPTION_2\": \"\", \"PROJECT_RESPONSIBILITIES_2\": \"\", \"PROJECT_TECHSTACK_2\": \"\",\n\n  \"PROJECT_TITLE_3\": \"\",\n  \"PROJECT_DESCRIPTION_3\": \"\", \"PROJECT_RESPONSIBILITIES_3\": \"\", \"PROJECT_TECHSTACK_3\": \"\",\n\n  \"PROJECT_TITLE_4\": \"\",\n  \"PROJECT_DESCRIPTION_4\": \"\", \"PROJECT_RESPONSIBILITIES_4\": \"\", \"PROJECT_TECHSTACK_4\": \"\",\n\n  \"PROJECT_TITLE_5\": \"\",\n  \"PROJECT_DESCRIPTION_5\": \"\", \"PROJECT_RESPONSIBILITIES_5\": \"\", \"PROJECT_TECHSTACK_5\": \"\",\n\n  \"PROJECT_TITLE_6\": \"\",\n  \"PROJECT_DESCRIPTION_6\": \"\", \"PROJECT_RESPONSIBILITIES_6\": \"\", \"PROJECT_TECHSTACK_6\": \"\",\n\n  \"EDUCATION_DEGREE_1\": \"\", \"EDUCATION_INSTITUTE_1\": \"\", \"EDUCATION_YEAR_1\": \"\",\n  \"EDUCATION_DEGREE_2\": \"\", \"EDUCATION_INSTITUTE_2\": \"\", \"EDUCATION_YEAR_2\": \"\"\n}\n\n----------------------------------------\n\nRules:\n\n- Return ONLY valid JSON\n- Do NOT include markdown or explanation\n- If any field is not available, return an empty string \"\"\n- Maintain professional, polished, ATS-optimized content",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an elite resume strategist and ATS optimization expert.\n\nYou will receive:\n1. A base resume (pillar resume of the candidate)\n2. A job description (JD)\n3. Optional additional experience or project input\n\nYour objective is to generate a HIGHLY OPTIMIZED, ATS-friendly resume tailored specifically to the JD.\n\nThe goal is to maximize interview chances by:\n- Achieving ATS score of 9+/10\n- Aligning strongly with job requirements\n- Presenting the candidate as a high-impact systems builder\n- Making the resume highly relevant, concise, and compelling\n\n\n----------------------------------------\nOPTIMIZATION STRATEGY\n----------------------------------------\n\n- Extract and prioritize keywords from the JD\n- Naturally incorporate these keywords across:\n  → Professional Summary\n  → Skills\n  → Experience\n  → Projects\n\n- Reorder and emphasize content based on relevance to the JD\n- De-prioritize or minimize less relevant content\n- Ensure strong alignment with job title and responsibilities\n\n- Maintain keyword density naturally (avoid keyword stuffing)\n- Ensure the resume reads fluently and professionally\n\n\n----------------------------------------\nSKILLS SECTION RULES\n----------------------------------------\n\n- Always generate exactly 6 skill categories\n- Skill categories must be domain-specific and relevant to the JD\n\n- Each category must:\n  → Have a clear theme (e.g., AI & LLM Engineering, Backend Systems, Automation)\n  → Contain detailed, structured skill content (not just keywords)\n\n- Extract skills from JD and merge with candidate’s existing skills\n- Prioritize JD-relevant skills first\n\n- You may slightly generalize or elevate skills based on existing experience\n- Do NOT introduce completely unrelated or unrealistic tools\n\n- Avoid duplication across categories\n\n\n----------------------------------------\nPROFESSIONAL SUMMARY RULES\n----------------------------------------\n\n- Write a 6–8 sentence high-impact summary\n- Tailor it specifically to the JD\n- Highlight:\n  → Core expertise\n  → Systems built\n  → Domain exposure\n  → Business impact\n\n- Position the candidate as a strong fit for the target role\n- Use confident, polished, and senior-level tone\n\n\n----------------------------------------\nEXPERIENCE SECTION RULES\n----------------------------------------\n\nEXPERIENCE SUMMARY:\n- Write a 4–5 sentence overview of the candidate’s role\n- Focus on:\n  → Systems ownership\n  → Type of work (AI, automation, data, etc.)\n  → Scale and impact\n  → Cross-functional exposure\n\nKEY CONTRIBUTIONS:\n- Generate 6–8 bullet points\n- MUST follow RAC framework:\n  → Responsibility + Action + Contribution (in one sentence)\n\n- Each bullet must:\n  → Start with a strong action verb\n  → Highlight systems, automation, or business impact\n  → Include outcomes, efficiency gains, or scale where possible\n\n- Combine related work into stronger, more impactful bullets\n- Avoid repetition and weak phrasing\n\n\n----------------------------------------\nPROJECTS / SYSTEMS SECTION RULES\n----------------------------------------\n\n- Select and include only the most relevant projects (max 6)\n- Prioritize projects aligned with JD\n\nPROJECT DESCRIPTION:\n- 3–5 sentences explaining:\n  → What the system/project is\n  → Problem it solves\n  → Scale and usage\n  → Candidate’s contribution\n\nPROJECT RESPONSIBILITIES:\n- 4–6 bullet points in RAC format\n- Strong, action-oriented, impact-driven\n\nTECH STACK:\n- Include relevant tools and technologies\n- Prioritize JD-aligned technologies\n\n\n----------------------------------------\nSMART OPTIMIZATION (CONTROLLED ENHANCEMENT)\n----------------------------------------\n\nYou are allowed to enhance and optimize the resume for impact:\n\n- Improve phrasing and clarity\n- Strengthen action verbs and positioning\n- Slightly elevate responsibilities to sound more impactful\n- Generalize skills where reasonable\n\nHOWEVER:\n- DO NOT fabricate companies, roles, or completely new experiences\n- DO NOT introduce tools that are completely unrelated to the candidate’s work\n- DO NOT add unrealistic metrics or fake achievements\n\nAll enhancements must remain believable and consistent\n\n\n----------------------------------------\nFINAL OUTPUT FORMAT\n----------------------------------------\n\nReturn ONLY a valid JSON object with the exact predefined keys.\n\n- Do not add extra keys\n- Do not include explanations\n- Do not include markdown\n\nEnsure all fields are filled appropriately or left as empty strings if not applicable\n\nThe output must be clean, structured, and ready for template population"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        0
      ],
      "id": "d0997158-a175-415b-b5dc-512e8a92d8e9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        976,
        208
      ],
      "id": "17a86322-20d9-42e9-9128-cf5986e3eccf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GbPk6QT2A4KsVKRA",
          "name": "resume_agent_workflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\nconst parsed = JSON.parse(raw)\n\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "id": "e9811c6d-ef69-42cf-a9f1-62e284cbe477",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1GbnADSCn5KQ1vzvNoHvWY0I4RMTMLiJOfJHqRejAm9s",
          "mode": "list",
          "cachedResultName": "Placeholder",
          "cachedResultUrl": "https://docs.google.com/document/d/1GbnADSCn5KQ1vzvNoHvWY0I4RMTMLiJOfJHqRejAm9s/edit?usp=drivesdk"
        },
        "name": "={{ $json.CANDIDATE_NAME }}_{{ $json.CANDIDATE_ROLE }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TVDIjQemWbwd31HsxhCmjiTMuJdkUigm",
          "mode": "list",
          "cachedResultName": "Placeholder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TVDIjQemWbwd31HsxhCmjiTMuJdkUigm"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1600,
        0
      ],
      "id": "59a865e7-8de0-42d6-835c-f0bbac1cff93",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "79jdFPsC2THKJibv",
          "name": "Devansh_creds"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1odtRp0dSXjrMo1Nc7FWPM-YPXtYUfAzn",
          "mode": "list",
          "cachedResultName": "My Resumes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1odtRp0dSXjrMo1Nc7FWPM-YPXtYUfAzn"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1776,
        -16
      ],
      "id": "dbe70ad7-1694-48f1-8cd1-18e10fd46d40",
      "name": "Move file to Output Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "79jdFPsC2THKJibv",
          "name": "Devansh_creds"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Code in JavaScript').item.json;\n// Get the copied doc ID from your Copy File node\nconst docId = $json.id;\n\nconst placeholders = [\n  \"CANDIDATE_NAME\",\n  \"CANDIDATE_ROLE\",\n  \"PROFESSIONAL_SUMMARY\",\n\n  \"SKILL_CATEGORY_1\", \"SKILL_CONTENT_1\",\n  \"SKILL_CATEGORY_2\", \"SKILL_CONTENT_2\",\n  \"SKILL_CATEGORY_3\", \"SKILL_CONTENT_3\",\n  \"SKILL_CATEGORY_4\", \"SKILL_CONTENT_4\",\n  \"SKILL_CATEGORY_5\", \"SKILL_CONTENT_5\",\n  \"SKILL_CATEGORY_6\", \"SKILL_CONTENT_6\",\n\n  \"COMPANY_1\", \"ROLE_1\", \"DURATION_1\", \"LOCATION_1\",\n  \"EXPERIENCE_SUMMARY_1\",\n  \"EXPERIENCE_BULLETS_1\",\n\n  \"PROJECT_TITLE_1\", \"PROJECT_DESCRIPTION_1\", \"PROJECT_RESPONSIBILITIES_1\", \"PROJECT_TECHSTACK_1\",\n  \"PROJECT_TITLE_2\", \"PROJECT_DESCRIPTION_2\", \"PROJECT_RESPONSIBILITIES_2\", \"PROJECT_TECHSTACK_2\",\n  \"PROJECT_TITLE_3\", \"PROJECT_DESCRIPTION_3\", \"PROJECT_RESPONSIBILITIES_3\", \"PROJECT_TECHSTACK_3\",\n  \"PROJECT_TITLE_4\", \"PROJECT_DESCRIPTION_4\", \"PROJECT_RESPONSIBILITIES_4\", \"PROJECT_TECHSTACK_4\",\n  \"PROJECT_TITLE_5\", \"PROJECT_DESCRIPTION_5\", \"PROJECT_RESPONSIBILITIES_5\", \"PROJECT_TECHSTACK_5\",\n  \"PROJECT_TITLE_6\", \"PROJECT_DESCRIPTION_6\", \"PROJECT_RESPONSIBILITIES_6\", \"PROJECT_TECHSTACK_6\",\n\n  \"EDUCATION_DEGREE_1\", \"EDUCATION_INSTITUTE_1\", \"EDUCATION_YEAR_1\",\n  \"EDUCATION_DEGREE_2\", \"EDUCATION_INSTITUTE_2\", \"EDUCATION_YEAR_2\"\n];\n\nconst requests = placeholders.map(key => ({\n  replaceAllText: {\n    containsText: {\n      text: `{{${key}}}`,\n      matchCase: true\n    },\n    replaceText: data[key] || \"\"\n  }\n}));\n\n// Return single object (not array) when \"Run Once for Each Item\"\nreturn {  json: { docId,    body: { requests }}};  // wrap it here  \n                   "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        0
      ],
      "id": "eff0a2b2-194d-48c4-93d2-1e11566e532f",
      "name": "Set Format to Populate Placeholders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        16
      ],
      "id": "2402c3e4-a8af-44bc-b541-2702128a2259",
      "name": "Update Placeholders",
      "credentials": {
        "oAuth2Api": {
          "id": "VnWhoUujaAK77PYq",
          "name": "Devans_cred"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "JD + Extra Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD + Extra Output": {
      "main": [
        [
          {
            "node": "Get Final Output for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Output for AI": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Move file to Output Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file to Output Folder": {
      "main": [
        [
          {
            "node": "Set Format to Populate Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Format to Populate Placeholders": {
      "main": [
        [
          {
            "node": "Update Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "7256cc26-c090-4f5b-8584-a10eaf9c6bf8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-12T13:23:20.170Z",
      "createdAt": "2026-03-12T13:23:20.170Z",
      "role": "workflow:owner",
      "workflowId": "ofthe0pJtsw9y4TT",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
