workflows/resume-agent.json
{
  "updatedAt": "2026-03-23T07:09:53.471Z",
  "createdAt": "2026-03-11T07:28:47.039Z",
  "id": "yuaECECr5d21Aygy",
  "name": "resume agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the raw resume text:\n{{ $json.text }}\n\nReturn a JSON object with exactly these keys:\n{\n  \"CANDIDATE_NAME\": \"\",\n  \"CANDIDATE_ROLE\": \"\",\n  \"PROFESSIONAL_SUMMARY\": \"\",\n  \"SKILL_CATEGORY_1\": \"\", \"SKILL_CONTENT_1\": \"\",\n  \"SKILL_CATEGORY_2\": \"\", \"SKILL_CONTENT_2\": \"\",\n  \"SKILL_CATEGORY_3\": \"\", \"SKILL_CONTENT_3\": \"\",\n  \"SKILL_CATEGORY_4\": \"\", \"SKILL_CONTENT_4\": \"\",\n  \"SKILL_CATEGORY_5\": \"\", \"SKILL_CONTENT_5\": \"\",\n  \"SKILL_CATEGORY_6\": \"\", \"SKILL_CONTENT_6\": \"\",\n  \"PROJECT_TITLE_1\": \"\",\n  \"PROJECT_DESCRIPTION_1\": \"\", \"PROJECT_RESPONSIBILITIES_1\": \"\", \"PROJECT_TECHSTACK_1\": \"\",\n  \"PROJECT_TITLE_2\": \"\",\n  \"PROJECT_DESCRIPTION_2\": \"\", \"PROJECT_RESPONSIBILITIES_2\": \"\", \"PROJECT_TECHSTACK_2\": \"\",\n  \"PROJECT_TITLE_3\": \"\",\n  \"PROJECT_DESCRIPTION_3\": \"\", \"PROJECT_RESPONSIBILITIES_3\": \"\", \"PROJECT_TECHSTACK_3\": \"\",\n  \"PROJECT_TITLE_4\": \"\",\n  \"PROJECT_DESCRIPTION_4\": \"\", \"PROJECT_RESPONSIBILITIES_4\": \"\", \"PROJECT_TECHSTACK_4\": \"\",\n  \"PROJECT_TITLE_5\": \"\",\n  \"PROJECT_DESCRIPTION_5\": \"\", \"PROJECT_RESPONSIBILITIES_5\": \"\", \"PROJECT_TECHSTACK_5\": \"\",\n  \"PROJECT_TITLE_6\": \"\",\n  \"PROJECT_DESCRIPTION_6\": \"\", \"PROJECT_RESPONSIBILITIES_6\": \"\", \"PROJECT_TECHSTACK_6\": \"\",\n  \"EDUCATION_DEGREE_1\": \"\", \"EDUCATION_INSTITUTE_1\": \"\", \"EDUCATION_YEAR_1\": \"\",\n  \"EDUCATION_DEGREE_2\": \"\", \"EDUCATION_INSTITUTE_2\": \"\", \"EDUCATION_YEAR_2\": \"\"\n}",
        "options": {
          "systemMessage": "=You are a resume formatter for a staff augmentation company called ScaleupAlly.\nYou will receive raw resume text and must extract and restructure the content\ninto a strict JSON format. Do not invent or assume any information.\nOnly use what is present in the resume.\nReturn ONLY valid JSON, no markdown, no explanation.\n\nRules:\n- CANDIDATE_NAME should be in all upper case and should just contain the first name of the person.\n- CANDIDATE_ROLE should be the role the person is working.\n- PROFESSIONAL_SUMMARY should be sophisticated, polished and comprehensive — synthesized from the entire resume including skills, projects and experience. It should be 7-8 sentences long, highlight the candidate's core strengths, domain expertise, notable achievements and the value they bring. Do not copy lines directly from the resume, rewrite in ScaleupAlly's professional tone.\n- SKILL categories should match the candidate's actual domain (e.g. for a frontend dev: Languages & Frameworks, Frontend Technologies etc.)\n- If a candidate has fewer than 6 projects, leave remaining PROJECT fields as empty strings\n- If a candidate has fewer than 6 skill categories, leave remaining SKILL fields as empty strings\n- PROJECT_DESCRIPTION should be a detailed 3-5 sentence paragraph explaining what the project was, its purpose, the problem it solved, the scale of the platform and the candidate's overall contribution to it. Polish the language but do not add anything not present in the resume.\n- PROJECT_RESPONSIBILITIES should be written as complete, polished action sentences — not fragments. Each responsibility should clearly describe what the candidate did, how they did it and what it achieved where possible. Separate each responsibility with a newline character \\n. Start each with ➛. Do not invent responsibilities, only polish what exists. There should be at least 4-5 bullet points.\n- All content should be professionally polished and sophisticated in language — elevated but accurate. Never fabricate facts, numbers, tools or outcomes that are not present in the raw resume."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        0
      ],
      "id": "75db0e29-eb51-4c1d-b847-850be3c0ec7f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        224
      ],
      "id": "6abbcc34-e230-4021-9c5f-b3d5289a5e4d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2SN6l7TZaVixYAzM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1g5X6gjHBO1Dmv8q8bwuI911hIwLIuWclrvLHSKeISFo",
          "mode": "list",
          "cachedResultName": "Placeholders",
          "cachedResultUrl": "https://docs.google.com/document/d/1g5X6gjHBO1Dmv8q8bwuI911hIwLIuWclrvLHSKeISFo/edit?usp=drivesdk"
        },
        "name": "={{ $json.CANDIDATE_NAME }}_{{ $json.CANDIDATE_ROLE }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zCZAKI8EzSI-t_s3RrF0i468T3hDGdyZ",
          "mode": "list",
          "cachedResultName": "Placeholder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zCZAKI8EzSI-t_s3RrF0i468T3hDGdyZ"
        },
        "options": {
          "description": ""
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        0
      ],
      "id": "305c59b6-ba2f-4fe6-a873-11093af14484",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlvFpa0On2sc2kNI",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        0
      ],
      "id": "325e2eb7-b256-4b02-86a0-ecf224e6a6cb",
      "name": "Download  resp. file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlvFpa0On2sc2kNI",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "a9676bbb-c9fc-4965-9d20-fac2bf9b3f42",
      "name": "Extract Text from File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output;\n// Parse the JSON stringconst\nconst parsed = JSON.parse(raw);\n\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "77d82f03-b55f-4c6c-a42a-de9fd449fdc2",
      "name": "Parse JSON code"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19vW0oeYmG8ugRbz_dHsItRVaf2x-SCQD",
          "mode": "list",
          "cachedResultName": "Final Resumes(Agent)",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19vW0oeYmG8ugRbz_dHsItRVaf2x-SCQD"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1744,
        0
      ],
      "id": "5d0d4d33-bd93-4aa8-9d1f-a523cd015442",
      "name": "Move file to Output Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlvFpa0On2sc2kNI",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Parse JSON code').item.json;\n// Get the copied doc ID from your Copy File node\nconst docId = $json.id;\n\nconst placeholders = [\n  \"CANDIDATE_NAME\", \"PROFESSIONAL_SUMMARY\",\n  \"SKILL_CATEGORY_1\", \"SKILL_CONTENT_1\",\n  \"SKILL_CATEGORY_2\", \"SKILL_CONTENT_2\",\n  \"SKILL_CATEGORY_3\", \"SKILL_CONTENT_3\",\n  \"SKILL_CATEGORY_4\", \"SKILL_CONTENT_4\",\n  \"SKILL_CATEGORY_5\", \"SKILL_CONTENT_5\",\n  \"SKILL_CATEGORY_6\", \"SKILL_CONTENT_6\",\n  \"PROJECT_NUMBER_1\", \"PROJECT_TITLE_1\", \"PROJECT_DESCRIPTION_1\", \"PROJECT_RESPONSIBILITIES_1\", \"PROJECT_TECHSTACK_1\",\n  \"PROJECT_NUMBER_2\", \"PROJECT_TITLE_2\", \"PROJECT_DESCRIPTION_2\", \"PROJECT_RESPONSIBILITIES_2\", \"PROJECT_TECHSTACK_2\",\n  \"PROJECT_NUMBER_3\", \"PROJECT_TITLE_3\", \"PROJECT_DESCRIPTION_3\", \"PROJECT_RESPONSIBILITIES_3\", \"PROJECT_TECHSTACK_3\",\n  \"PROJECT_NUMBER_4\", \"PROJECT_TITLE_4\", \"PROJECT_DESCRIPTION_4\", \"PROJECT_RESPONSIBILITIES_4\", \"PROJECT_TECHSTACK_4\",\n  \"PROJECT_NUMBER_5\", \"PROJECT_TITLE_5\", \"PROJECT_DESCRIPTION_5\", \"PROJECT_RESPONSIBILITIES_5\", \"PROJECT_TECHSTACK_5\",\n  \"PROJECT_NUMBER_6\", \"PROJECT_TITLE_6\", \"PROJECT_DESCRIPTION_6\", \"PROJECT_RESPONSIBILITIES_6\", \"PROJECT_TECHSTACK_6\",\n  \"EDUCATION_DEGREE_1\", \"EDUCATION_INSTITUTE_1\", \"EDUCATION_YEAR_1\",\n  \"EDUCATION_DEGREE_2\", \"EDUCATION_INSTITUTE_2\", \"EDUCATION_YEAR_2\"\n];\n\nconst requests = placeholders.map(key => ({\n  replaceAllText: {\n    containsText: {\n      text: `{{${key}}}`,\n      matchCase: true\n    },\n    replaceText: data[key] || \"\"\n  }\n}));\n\n// Return single object (not array) when \"Run Once for Each Item\"\nreturn {  json: { docId,    body: { requests }}};  // wrap it here  \n                   "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        0
      ],
      "id": "6ff9b0f3-c328-413e-b6bc-a01ebac3c84b",
      "name": "Set Format to Populate Placeholders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        0
      ],
      "id": "2f97746b-3a40-4a49-a9eb-0d1e795e8fa6",
      "name": "Update Placeholders",
      "credentials": {
        "oAuth2Api": {
          "id": "IJ9GwsApNFaPgpOK",
          "name": "Staffing Scaleupally"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Move file to Output Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download  resp. file": {
      "main": [
        [
          {
            "node": "Extract Text from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON code": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file to Output Folder": {
      "main": [
        [
          {
            "node": "Set Format to Populate Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Format to Populate Placeholders": {
      "main": [
        [
          {
            "node": "Update Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Placeholders": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:New File Trigger": {
      "lastTimeChecked": "2026-03-19T04:51:07Z"
    },
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-04-01T10:11:36Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d89eeafb-c41f-4cdc-a9d7-eb78afa4e4fc",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-11T07:28:47.045Z",
      "createdAt": "2026-03-11T07:28:47.045Z",
      "role": "workflow:owner",
      "workflowId": "yuaECECr5d21Aygy",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
