workflows/resume-app-backend.json
{
  "updatedAt": "2026-05-07T06:23:25.697Z",
  "createdAt": "2026-03-23T07:16:56.111Z",
  "id": "Zinia9sYTgMvpkn0",
  "name": "resume app backend",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        1104
      ],
      "id": "45e89c00-dddc-4d1d-9072-7d1864693009",
      "name": "Webhook",
      "webhookId": "cf7fd5d4-9a46-4f90-a12f-e7892817bd13"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $json.reply }}\",\n  \"doc_url\": null,\n  \"stage\": \"chat\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        1520
      ],
      "id": "c70bf0b4-06d7-4d05-8afd-1622dd06af73",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "PROCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e214478b-f2c6-4896-902d-aa201b0d4a43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "process_branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a30edfb-0cc3-4eae-9c58-b493e30f2358",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "REVISE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "revise_branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9cac7dd-5807-4cef-8c4a-7d4ec981fb3f",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CREATE_DOC",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_branch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86de8df3-417d-4518-bb60-ace9b32eda84",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat_branch"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        528,
        1072
      ],
      "id": "d6f8280b-8807-47b0-b4e8-e10f70ef5bc4",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.resume_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        608
      ],
      "id": "798ecbb5-8e2a-4399-84f7-8570b4f3ca86",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        608
      ],
      "id": "77f98515-8a86-46e4-9481-3334efde54db",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.output;\nconst d = JSON.parse(raw);\n\nconst skillRows = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`SKILL_CATEGORY_${i}`]) {\n    skillRows.push(`**${d[`SKILL_CATEGORY_${i}`]}:** ${d[`SKILL_CONTENT_${i}`]}`);\n  }\n}\n\nconst projectBlocks = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`PROJECT_TITLE_${i}`]) {\n    projectBlocks.push(\n      `### Project ${i}: ${d[`PROJECT_TITLE_${i}`]}\\n` +\n      `${d[`PROJECT_DESCRIPTION_${i}`]}\\n\\n` +\n      `**Responsibilities:**\\n${d[`PROJECT_RESPONSIBILITIES_${i}`]}\\n\\n` +\n      `**Tech Stack:** ${d[`PROJECT_TECHSTACK_${i}`]}`\n    );\n  }\n}\n\nconst eduRows = [];\nfor (let i = 1; i <= 2; i++) {\n  if (d[`EDUCATION_DEGREE_${i}`]) {\n    eduRows.push(`- ${d[`EDUCATION_DEGREE_${i}`]} — ${d[`EDUCATION_INSTITUTE_${i}`]} (${d[`EDUCATION_YEAR_${i}`]})`);\n  }\n}\n\nconst preview = [\n  `## 👤 ${d.CANDIDATE_NAME} — ${d.CANDIDATE_ROLE}`,\n  `---`,\n  `### Professional Summary`,\n  d.PROFESSIONAL_SUMMARY,\n  `---`,\n  `### Skills`,\n  skillRows.join('\\n'),\n  `---`,\n  `### Projects`,\n  projectBlocks.join('\\n\\n---\\n'),\n  `---`,\n  `### Education`,\n  eduRows.join('\\n')\n].join('\\n\\n');\n\nreturn [{ json: { \n  fields: d,\n  preview: preview + \"\\n\\n---\\n\\nHere's the formatted content! Please review each section. You can ask me to make changes — for example: *'Make the summary more concise'* or *'Add Django to Project 2's tech stack'*. When you're happy, just say **'Looks good'** and I'll create the Google Doc.\",\n  raw_resume_text: $('Extract from File').item.json.text\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        464
      ],
      "id": "bb1747ac-c6c6-4d7c-9ff0-4920d83a4bbe",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{JSON.stringify({\n  reply: $json.preview,\n  fields: $json.fields,\n  raw_resume_text: $json.raw_resume_text,\n  stage: \"preview\",\n  doc_url: null\n})}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2352,
        688
      ],
      "id": "f01201db-0ae8-44a6-9faf-c9db22bc35c2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.output;\nconst d = JSON.parse(raw);\n\nconst skillRows = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`SKILL_CATEGORY_${i}`]) {\n    skillRows.push(`**${d[`SKILL_CATEGORY_${i}`]}:** ${d[`SKILL_CONTENT_${i}`]}`);\n  }\n}\n\nconst projectBlocks = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`PROJECT_TITLE_${i}`]) {\n    projectBlocks.push(\n      `### Project ${i}: ${d[`PROJECT_TITLE_${i}`]}\\n` +\n      `${d[`PROJECT_DESCRIPTION_${i}`]}\\n\\n` +\n      `**Responsibilities:**\\n${d[`PROJECT_RESPONSIBILITIES_${i}`]}\\n\\n` +\n      `**Tech Stack:** ${d[`PROJECT_TECHSTACK_${i}`]}`\n    );\n  }\n}\n\nconst eduRows = [];\nfor (let i = 1; i <= 2; i++) {\n  if (d[`EDUCATION_DEGREE_${i}`]) {\n    eduRows.push(`- ${d[`EDUCATION_DEGREE_${i}`]} — ${d[`EDUCATION_INSTITUTE_${i}`]} (${d[`EDUCATION_YEAR_${i}`]})`);\n  }\n}\n\nconst preview = [\n  `## 👤 ${d.CANDIDATE_NAME} — ${d.CANDIDATE_ROLE}`,\n  `---`,\n  `### Professional Summary`,\n  d.PROFESSIONAL_SUMMARY,\n  `---`,\n  `### Skills`,\n  skillRows.join('\\n'),\n  `---`,\n  `### Projects`,\n  projectBlocks.join('\\n\\n---\\n'),\n  `---`,\n  `### Education`,\n  eduRows.join('\\n')\n].join('\\n\\n');\n\nreturn { json: { \n  fields: d,\n  preview: preview + \"\\n\\n---\\n\\nHere's the formatted content! Please review each section. You can ask me to make changes — for example: *'Make the summary more concise'* or *'Add Django to Project 2's tech stack'*. When you're happy, just say **'Looks good'** and I'll create the Google Doc.\"\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        896
      ],
      "id": "62485229-9d94-4690-9390-125b8247f96d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the incoming data from the chat app:\n\nMessage: {{ $json.body.message }}\nFile URL: {{ $json.body.file_url }}\nFile Type: {{ $json.body.file_type }}\nApproved Fields (if in revision stage): {{ $json.body.approved_fields }}\n\nConversation history so far:\nHistory as of now - {{ JSON.stringify($json.body.history) }}",
        "options": {
          "systemMessage": "=You are Resu, the ScaleupAlly Resume Formatter Agent 🤝\nYou help the ScaleupAlly team quickly reformat candidate resumes into the company's polished standard template.\nYou're sharp, warm, and efficient — like a great colleague who just happens to be really good at this.\n\nYou receive messages from team members through a chat interface. Your job is to read the conversation,\nfigure out where things stand, and move things forward naturally — like you're actually paying attention.\n\n---\n\nWHAT YOU'RE GATHERING (in this general order — but stay flexible):\n1. resume_url — a PDF link (you can't do anything without this)\n2. job_description — the JD for the role they're hiring for (nice to have, ask once, can be optional)\n3. highlight_areas — anything to push forward or dial back in the resume (ask once, totally optional)\n\n---\n\nHOW TO HANDLE EACH SITUATION:\n\n→ No resume shared yet?\n   action: NEED_RESUME\n   Be welcoming. Let them know you're ready when they are.\n   Example vibe: \"Hey! Drop the candidate's resume PDF whenever you're ready and we'll get started 🚀\"\n\n→ A new file_url appears in the current message AND no JD exists \n  anywhere in the conversation history?\n   action: NEED_JD\n   Acknowledge the upload with energy, then ask naturally — don't make it feel like a form.\n   Do NOT say \"Got the resume\" or confirm it's a resume.\n   Just acknowledge a file was received and ask for the JD neutrally.\n   Example vibe: \"Got your file! Before I process it — do you have a JD for the role? \n   Paste it here and I'll tailor the output. You can also add any focus areas or just \n   type 'skip' to proceed as-is.\"\n\n→ Resume exists AND user has explicitly pasted actual JD text (job title, \n  requirements, responsibilities etc.) in any message in the history?\n   action: PROCESS\n   Extract that JD from history and use it.\n   Example vibe: \"Perfect, got the JD too — give me a moment ✨\"\n\n→ Resume exists AND user explicitly said \"skip\", \"no jd\", \"proceed without\", \n  \"go ahead without it\"?\n   action: PROCESS\n   Proceed without JD.\n   Example vibe: \"Got it, rolling without a JD — give me a sec ✨\"\n\n→ A new file_url appears in the current message AND a JD was already shared \n  earlier in the conversation history (even alongside a previously rejected PDF)?\n   action: PROCESS\n   Do NOT ask for JD again. Extract it from history and use it directly.\n   Example vibe: \"Got it — I already have your JD, processing now ✨\"\n\n→ A preview has already been shared (approved_fields is not null) AND user wants a change?\n   action: REVISE\n   Be responsive and specific. Acknowledge what they want changed.\n   Example vibe: \"On it — let me tighten that up for you.\"\n\n→ User is just chatting, asking something general, or saying hi?\n   action: CHAT\n   Be human. Respond naturally and briefly. Don't over-explain.\n\n→ A preview has been shared (approved_fields is not null) AND the user is \n  explicitly approving the document with clear intent — saying things like \n  \"looks good\", \"approved\", \"go ahead\", \"create it\", \"yes\", \"perfect\", \n  \"thank you this is great\", \"thanks looks good\"?\n   action: CREATE_DOC\n   Only fire this if the approval is clearly about the resume preview itself.\n   Do NOT fire if the user is just making casual conversation, saying thanks \n   for a general reply, or wrapping up the chat (e.g. \"its fine\", \"no need\", \n   \"we'll connect later\", \"thanks bye\").\n   Do NOT fire if the user is acknowledging receipt of the final Google Doc \n   (e.g. \"got the resume\", \"received it\", \"got it\", \"got the doc\", \"I have it\").\n   These mean the doc was already delivered — respond with CHAT instead.\n   Example vibe: \"Love it! Creating the doc now — back in a sec 🙌\"\n\n→ User has received the resume docs link shared by you but wants the resume to have a greater Overall Fit or ATS score Eg. Messages like \"I want the resume to have at least 80% overall fit and 70% ATS score\" or \"Update this resume such that it has 96% ATS score\"?\n  action: UPDATE_DOC\n  Reply with \"Sure! Reprocessing the resume. One moment please...\"\n\n→ User is thanking you or wrapping up casually AND approved_fields is null, \n  OR user is saying goodbye/wrapping up regardless of stage?\n   action: CHAT\n   Reply warmly and briefly.\n   Example vibe: \"Happy to help! Catch you later 😊\"\n\n\nOne important point to remember: If the user asks you whether they can upload it in that format or not, clearly and politely specify to them that you won't be able to process it and that a pdf or google docs link is a must.\n\n---\n\nRESPONSE FORMAT:\nReturn ONLY a valid JSON object. No markdown. No explanation. Just JSON.\n\n{\n  \"action\": \"NEED_RESUME\" | \"NEED_JD\" | \"CHAT\" | \"PROCESS\" | \"REVISE\" | \"CREATE_DOC\" | \"UPDATE_DOC\",\n  \"reply\": \"Your message to the user — warm, natural, never stiff\",\n  \"resume_url\": \"PDF URL from history, or null\",\n  \"job_description\": \"JD text from history, or null\",\n  \"highlight_areas\": \"focus instructions from history, or null\",\n  \"revision_request\": \"what the user wants changed, or null\"\n}\n\n---\n\nPERSONALITY RULES:\n- Sound like a sharp, friendly team member — not a bot\n- Use light energy (occasional emoji is fine, don't overdo it)\n- Never repeat a question you've already asked\n- If someone skips something, just roll with it — no nudging\n- Keep replies short unless you're showing the formatted content\n- Always feel like you're one step ahead, making their life easier"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        1104
      ],
      "id": "43de1f07-b2e4-45f7-8994-7397fd5fa4f0",
      "name": "Gatekeeper"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = $('Webhook').item.json.body.approved_fields;\nconst docId = $json.id;\nconst webViewLink = `https://docs.google.com/document/d/${docId}/edit`;\n\nconst keys = [\n  \"CANDIDATE_NAME\", \"PROFESSIONAL_SUMMARY\",\n  \"SKILL_CATEGORY_1\", \"SKILL_CONTENT_1\",\n  \"SKILL_CATEGORY_2\", \"SKILL_CONTENT_2\",\n  \"SKILL_CATEGORY_3\", \"SKILL_CONTENT_3\",\n  \"SKILL_CATEGORY_4\", \"SKILL_CONTENT_4\",\n  \"SKILL_CATEGORY_5\", \"SKILL_CONTENT_5\",\n  \"SKILL_CATEGORY_6\", \"SKILL_CONTENT_6\",\n  \"PROJECT_TITLE_1\", \"PROJECT_DESCRIPTION_1\", \"PROJECT_RESPONSIBILITIES_1\", \"PROJECT_TECHSTACK_1\",\n  \"PROJECT_TITLE_2\", \"PROJECT_DESCRIPTION_2\", \"PROJECT_RESPONSIBILITIES_2\", \"PROJECT_TECHSTACK_2\",\n  \"PROJECT_TITLE_3\", \"PROJECT_DESCRIPTION_3\", \"PROJECT_RESPONSIBILITIES_3\", \"PROJECT_TECHSTACK_3\",\n  \"PROJECT_TITLE_4\", \"PROJECT_DESCRIPTION_4\", \"PROJECT_RESPONSIBILITIES_4\", \"PROJECT_TECHSTACK_4\",\n  \"PROJECT_TITLE_5\", \"PROJECT_DESCRIPTION_5\", \"PROJECT_RESPONSIBILITIES_5\", \"PROJECT_TECHSTACK_5\",\n  \"PROJECT_TITLE_6\", \"PROJECT_DESCRIPTION_6\", \"PROJECT_RESPONSIBILITIES_6\", \"PROJECT_TECHSTACK_6\",\n  \"EDUCATION_DEGREE_1\", \"EDUCATION_INSTITUTE_1\", \"EDUCATION_YEAR_1\",\n  \"EDUCATION_DEGREE_2\", \"EDUCATION_INSTITUTE_2\", \"EDUCATION_YEAR_2\"\n];\n\nconst requests = keys.map(key => ({\n  replaceAllText: {\n    containsText: { text: `{{${key}}}`, matchCase: true },\n    replaceText: data[key] || \"\"\n  }\n}));\n\nreturn [{ json: { docId, webViewLink, body: { requests } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1280
      ],
      "id": "c6d62078-fa68-4dfb-94ec-ae313bb7f7af",
      "name": "Build Placeholder Requests"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are the current resume fields (JSON):\n{{ JSON.stringify($('Webhook').item.json.body.approved_fields) }}\n\nHere is the original raw resume text for reference:\n{{ $('Webhook').item.json.body.raw_resume_text }}\n\nThe user wants the following change:\n{{ $json.revision_request }}\n\nApply the requested change to the relevant field(s) only.\nReturn the COMPLETE updated fields JSON with the same structure.\nReturn ONLY valid JSON. No explanation.",
        "options": {
          "systemMessage": "=You are a resume editor for ScaleupAlly. \nYou receive a full set of structured resume fields and a plain-language edit request.\nApply only the requested change. Keep everything else exactly the same.\nReturn the full updated fields object as valid JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        960
      ],
      "id": "a7e55eef-5f01-4a19-80fc-c53ea9cf21d1",
      "name": "Revision"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1856,
        576
      ],
      "id": "6964d3ce-821a-48be-8d49-c5d79a779a2a",
      "name": "Formatter model",
      "credentials": {
        "openAiApi": {
          "id": "GbPk6QT2A4KsVKRA",
          "name": "resume_agent_workflow"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        1168
      ],
      "id": "92bfb53c-c24a-450b-86df-4ebb31c781ac",
      "name": "Revision model",
      "credentials": {
        "openAiApi": {
          "id": "GbPk6QT2A4KsVKRA",
          "name": "resume_agent_workflow"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        1328
      ],
      "id": "3b3658be-2830-4cc1-b90d-fb6c4253d2f8",
      "name": "Gatekeeper model",
      "credentials": {
        "openAiApi": {
          "id": "GbPk6QT2A4KsVKRA",
          "name": "resume_agent_workflow"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the raw resume text:\n{{ $json.text }}\n\n{% if $('Gatekeeper').item.json.job_description %}\nJob Description:\n{{ $('Gatekeeper').item.json.job_description }}\n{% endif %}\n\n{% if $('Gatekeeper').item.json.highlight_areas %}\nFocus Instructions:\n{{ $('Gatekeeper').item.json.highlight_areas }}\n{% endif %}\n\nReturn a JSON object with exactly these keys:\n{\n  \"CANDIDATE_NAME\": \"\",\n  \"CANDIDATE_ROLE\": \"\",\n  \"PROFESSIONAL_SUMMARY\": \"\",\n  \"SKILL_CATEGORY_1\": \"\", \"SKILL_CONTENT_1\": \"\",\n  \"SKILL_CATEGORY_2\": \"\", \"SKILL_CONTENT_2\": \"\",\n  \"SKILL_CATEGORY_3\": \"\", \"SKILL_CONTENT_3\": \"\",\n  \"SKILL_CATEGORY_4\": \"\", \"SKILL_CONTENT_4\": \"\",\n  \"SKILL_CATEGORY_5\": \"\", \"SKILL_CONTENT_5\": \"\",\n  \"SKILL_CATEGORY_6\": \"\", \"SKILL_CONTENT_6\": \"\",\n  \"PROJECT_TITLE_1\": \"\", \"PROJECT_DESCRIPTION_1\": \"\", \"PROJECT_RESPONSIBILITIES_1\": \"\", \"PROJECT_TECHSTACK_1\": \"\",\n  \"PROJECT_TITLE_2\": \"\", \"PROJECT_DESCRIPTION_2\": \"\", \"PROJECT_RESPONSIBILITIES_2\": \"\", \"PROJECT_TECHSTACK_2\": \"\",\n  \"PROJECT_TITLE_3\": \"\", \"PROJECT_DESCRIPTION_3\": \"\", \"PROJECT_RESPONSIBILITIES_3\": \"\", \"PROJECT_TECHSTACK_3\": \"\",\n  \"PROJECT_TITLE_4\": \"\", \"PROJECT_DESCRIPTION_4\": \"\", \"PROJECT_RESPONSIBILITIES_4\": \"\", \"PROJECT_TECHSTACK_4\": \"\",\n  \"PROJECT_TITLE_5\": \"\", \"PROJECT_DESCRIPTION_5\": \"\", \"PROJECT_RESPONSIBILITIES_5\": \"\", \"PROJECT_TECHSTACK_5\": \"\",\n  \"PROJECT_TITLE_6\": \"\", \"PROJECT_DESCRIPTION_6\": \"\", \"PROJECT_RESPONSIBILITIES_6\": \"\", \"PROJECT_TECHSTACK_6\": \"\",\n  \"EDUCATION_DEGREE_1\": \"\", \"EDUCATION_INSTITUTE_1\": \"\", \"EDUCATION_YEAR_1\": \"\",\n  \"EDUCATION_DEGREE_2\": \"\", \"EDUCATION_INSTITUTE_2\": \"\", \"EDUCATION_YEAR_2\": \"\"\n}",
        "options": {
          "systemMessage": "You are a resume formatter for a staff augmentation company called ScaleupAlly.\nExtract and restructure resume content into strict JSON format.\nReturn ONLY valid JSON, no markdown, no explanation.\n\nRules:\n- CANDIDATE_NAME: all caps, first name only\n- CANDIDATE_ROLE: their current role\n- PROFESSIONAL_SUMMARY: 7-8 sophisticated sentences. Synthesise from full resume. \n  If a JD is provided, tailor to that role. Do not copy from resume — rewrite professionally.\n- If highlight_areas instructions given, prioritise those themes. If de-emphasis requested, reduce that content.\n- SKILL categories should match the candidate's actual domain\n- PROJECT_DESCRIPTION: 3-5 sentences on what the project was, its purpose, scale, candidate's contribution\n- PROJECT_RESPONSIBILITIES: Polished action sentences starting with ➛, separated by \\n. 4-5 minimum.\n- Fewer than 6 projects/skills? Leave remaining fields as empty strings.\n- Never fabricate. Only use what's in the resume."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        352
      ],
      "id": "01b781f4-35db-43c2-90fd-5cd088e9040c",
      "name": "Formatter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst text = $json.text || \"\";\nconst lower = text.toLowerCase();\n\n// Check for resume-like keywords\nconst resumeKeywords = [\n  \"experience\", \"education\", \"skills\", \"project\", \n  \"work history\", \"employment\", \"qualification\",\n  \"responsibilities\", \"objective\", \"summary\",\n  \"bachelor\", \"master\", \"degree\", \"university\",\n  \"developer\", \"engineer\", \"manager\", \"analyst\"\n];\n\nconst matchCount = resumeKeywords.filter(kw => lower.includes(kw)).length;\n\nif (matchCount < 5) {\n  // Not a resume — flag it\n  return [{ json: { \n    is_resume: false, \n    text: $json.text,\n    reply: \"Hmm, that doesn't look like a resume to me 🤔 I can only work with candidate resumes — even a rough one works! Could you upload the right PDF?\"\n  }}];\n}\n\nreturn [{ json: { is_resume: true, text: $json.text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        608
      ],
      "id": "8fd5ccbd-9d9c-474b-9fed-26b1e334d672",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0784fb1a-d1eb-44a8-867c-da1847708fd6",
                    "leftValue": "={{ $json.is_resume }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0cddf87f-907e-4316-ba5e-0d61c9f09985",
                    "leftValue": "={{ $json.is_resume }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1552,
        608
      ],
      "id": "d5e924b8-6660-4af5-8799-cbdf31b4f105",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $json.reply }}\",\n  \"doc_url\": null,\n  \"stage\": \"chat\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1840,
        752
      ],
      "id": "005bfcdb-fb3d-43a0-bac3-f817216c38e1",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT: If no job description is provided or the job description field is empty/null, \ndo NOT attempt to calculate scores. Instead return this exact JSON:\n\n{\n  \"overall_fit\": null,\n  \"ats_score\": null,\n  \"matched_keywords\": [],\n  \"missing_keywords\": [],\n  \"strong_matches\": [\"Resume formatted successfully\"],\n  \"gaps\": [\"No job description provided — fit analysis unavailable\"]\n}\n\nHere is the job description:\n\n{{ $('Get Keys').item.json.job_description }}\n\n---\n\nHere is the final resume content:\n\n{{ JSON.stringify($('Webhook').item.json.body.approved_fields) }}\n\n---\n\nExtract keywords from both and return the result in the required JSON format.\n\nAlso, Calculate and Generate the Overall Fit and ATS evaluation based on the above.",
        "options": {
          "systemMessage": "You are an advanced ATS scoring and resume-job matching engine.\n\nYour job is to evaluate how well a resume matches a given job description.\n\nYou must perform structured keyword extraction, scoring, and recruiter-level analysis.\n\n---\n\nSTEP 1: KEYWORD EXTRACTION\n\nFrom Job Description:\n- Extract 15–30 important keywords\n- Include:\n  - tools (e.g., SQL, Power BI, Python)\n  - technologies\n  - frameworks\n  - responsibilities (short phrases like \"data modeling\")\n  - qualifications\n\nFrom Resume:\n- Extract relevant keywords\n- Normalize synonyms:\n  - \"Structured Query Language\" → SQL\n  - \"Power BI Desktop\" → Power BI\n  - \"MS Excel\" → Excel\n\n---\n\nSTEP 2: KEYWORD MATCHING\n\n- Identify matched_keywords (present in both)\n- Identify missing_keywords (present in JD but not in resume)\n\n---\n\nSTEP 3: OVERALL FIT CALCULATION\n\nCalculate:\n\noverall_fit = (number of matched_keywords / total jd_keywords) * 100\n\n- Must be a number between 0 and 100\n- Be strict and realistic\n- Do NOT inflate the score\n\n---\n\nSTEP 4: ATS SCORE\n\nGenerate ATS score (0–100) based on:\n- keyword coverage (overall_fit)\n- relevance of experience\n- role alignment\n- depth of projects\n\nRULES:\n- ATS score must be close to overall_fit (within ±15)\n- Increase score only if strong real alignment exists\n- Decrease score if critical skills are missing\n\n---\n\nSTEP 5: INSIGHTS\n\nGenerate:\n\nstrong_matches:\n- 3–5 meaningful strengths\n- Focus on real alignment, not just keyword overlap\n\ngaps:\n- 3–5 important missing areas\n- Focus on what reduces chances of shortlisting\n\n---\n\nOUTPUT FORMAT (STRICT JSON ONLY):\n\n{\n  \"overall_fit\": number,\n  \"ats_score\": number,\n  \"matched_keywords\": [\"...\"],\n  \"missing_keywords\": [\"...\"],\n  \"strong_matches\": [\"...\"],\n  \"gaps\": [\"...\"]\n}\n\n---\n\nRULES:\n\n- Do NOT hallucinate skills not present in input\n- Do NOT assume experience not mentioned\n- Keep keywords concise (1–3 words max)\n- Avoid duplicates\n- Be consistent and structured\n- Return ONLY valid JSON"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3040,
        1280
      ],
      "id": "8b56d644-2d4d-4347-ae96-fb9f8807e7a1",
      "name": "Scorekeeper"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3040,
        1488
      ],
      "id": "cbbb35d4-58ef-4a67-93ea-4bef43746207",
      "name": "Scorekeeper Model",
      "credentials": {
        "openAiApi": {
          "id": "GbPk6QT2A4KsVKRA",
          "name": "resume_agent_workflow"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdd78662-8fe8-46fb-92cd-47015905fc5e",
              "leftValue": "={{ $json.action }}",
              "rightValue": "UPDATE_DOC",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        1312
      ],
      "id": "b727fe72-f2b7-488c-b65f-a62c949af06f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1wIfqSIZTAc26-if8z0hEfBQJ-uA8NB2AcLQBtUtoXTs",
          "mode": "list",
          "cachedResultName": "Placeholders",
          "cachedResultUrl": "https://docs.google.com/document/d/1wIfqSIZTAc26-if8z0hEfBQJ-uA8NB2AcLQBtUtoXTs/edit?usp=drivesdk"
        },
        "name": "={{ $('Webhook').item.json.body.approved_fields.CANDIDATE_NAME }}_{{ $('Webhook').item.json.body.approved_fields.CANDIDATE_ROLE }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zCZAKI8EzSI-t_s3RrF0i468T3hDGdyZ",
          "mode": "list",
          "cachedResultName": "Placeholder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zCZAKI8EzSI-t_s3RrF0i468T3hDGdyZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1632,
        1280
      ],
      "id": "15350b74-504a-4ecb-9917-b94cc2ab31a9",
      "name": "Make new copy file in Placeholders folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlvFpa0On2sc2kNI",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19vW0oeYmG8ugRbz_dHsItRVaf2x-SCQD",
          "mode": "list",
          "cachedResultName": "Final Resumes(Agent)",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19vW0oeYmG8ugRbz_dHsItRVaf2x-SCQD"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1872,
        1280
      ],
      "id": "2f09b77d-c8a0-46d7-8649-c0c5a9f62bdc",
      "name": "Move file to Final Resumes folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlvFpa0On2sc2kNI",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2384,
        1280
      ],
      "id": "173e4e63-1e1e-42b9-bbe9-4303403e2529",
      "name": "API request to populate our final file",
      "credentials": {
        "oAuth2Api": {
          "id": "IJ9GwsApNFaPgpOK",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\nconst parsed = JSON.parse(raw);\n\nconst docUrl = $('Build Placeholder Requests').item.json.webViewLink;\n\nlet reply = `Your formatted resume is ready! 🎉 Click below to open it.\\n📄 Resume Link:\\n${docUrl}\\n`;\n\nif (parsed.overall_fit !== null) {\n  reply += `---\\n\\n📊 ATS ANALYSIS\\n\\nOverall Fit: ${parsed.overall_fit}%\\nATS Score: ${parsed.ats_score}%\\n\\n✅ Strong Matches:\\n- ${parsed.strong_matches.join('\\n- ')}\\n\\n⚠️ Gaps:\\n- ${parsed.gaps.join('\\n- ')}`;\n} else {\n  reply += 'No JD provided — ATS analysis skipped.';\n}\n\nreturn [{ json: { reply, doc_url: docUrl, stage: 'complete' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        1280
      ],
      "id": "54eb7f6c-635d-4359-a570-0fc44d7069f1",
      "name": "Get JSON for previous output and make body for Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{JSON.stringify({ reply: $json.reply, doc_url: $json.doc_url, stage: $json.stage })}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3584,
        1280
      ],
      "id": "38d34cf5-b962-49ef-93c0-fb058692369f",
      "name": "Respond to app"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.output;\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1104
      ],
      "id": "165b83b3-6320-4c66-b642-cdf51d794e90",
      "name": "Get Keys"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://www.googleapis.com/drive/v3/files/\" + $json.documentId + \"/permissions\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"role\": \"writer\",\n  \"type\": \"user\",\n  \"emailAddress\": \"sales.scaleupally@gmail.com\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2576,
        1280
      ],
      "id": "4ee945de-ebe2-4c77-830a-f5cdfa4d7545",
      "name": "Grant Editor Access",
      "credentials": {
        "oAuth2Api": {
          "id": "IJ9GwsApNFaPgpOK",
          "name": "Staffing Scaleupally"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Build Placeholder Requests').item.json.docId }}/permissions",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"role\": \"reader\",\n  \"type\": \"anyone\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2784,
        1280
      ],
      "id": "9ba588c7-af86-4399-a0c4-4ec69bf3072b",
      "name": "Grant Viewer Access",
      "credentials": {
        "oAuth2Api": {
          "id": "IJ9GwsApNFaPgpOK",
          "name": "Staffing Scaleupally"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatekeeper": {
      "main": [
        [
          {
            "node": "Get Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Placeholder Requests": {
      "main": [
        [
          {
            "node": "API request to populate our final file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter model": {
      "ai_languageModel": [
        [
          {
            "node": "Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Revision model": {
      "ai_languageModel": [
        [
          {
            "node": "Revision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gatekeeper model": {
      "ai_languageModel": [
        [
          {
            "node": "Gatekeeper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scorekeeper": {
      "main": [
        [
          {
            "node": "Get JSON for previous output and make body for Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scorekeeper Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scorekeeper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Revision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make new copy file in Placeholders folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make new copy file in Placeholders folder": {
      "main": [
        [
          {
            "node": "Move file to Final Resumes folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file to Final Resumes folder": {
      "main": [
        [
          {
            "node": "Build Placeholder Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API request to populate our final file": {
      "main": [
        [
          {
            "node": "Grant Editor Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JSON for previous output and make body for Webhook": {
      "main": [
        [
          {
            "node": "Respond to app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to app": {
      "main": [
        []
      ]
    },
    "Get Keys": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grant Editor Access": {
      "main": [
        [
          {
            "node": "Grant Viewer Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grant Viewer Access": {
      "main": [
        [
          {
            "node": "Scorekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "staticData": {
    "node:New File Trigger": {
      "lastTimeChecked": "2026-03-19T04:51:07Z"
    },
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-03-20T05:37:49Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "devscaleup.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
            "content-length": "38023",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2405:201:4041:c84d:2079:70b6:b82b:5fc4",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9f786cc6bd66dcb5-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://resumeformatter.base44.app",
            "priority": "u=1, i",
            "referer": "https://resumeformatter.base44.app/",
            "sec-ch-ua": "\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2405:201:4041:c84d:2079:70b6:b82b:5fc4, 172.71.148.31",
            "x-forwarded-host": "devscaleup.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-70-b9cddcbb8-swhgk",
            "x-is-trusted": "yes",
            "x-real-ip": "2405:201:4041:c84d:2079:70b6:b82b:5fc4"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "looks good",
            "file_url": null,
            "file_type": null,
            "resume_url": "https://base44.app/api/apps/69bbcee98fb7ee3b7aaa2965/files/mp/public/69bbcee98fb7ee3b7aaa2965/de8246883_Tarsem_BITechLead.pdf",
            "is_new_file_upload": false,
            "casual_ack_with_new_file": false,
            "conversation_id": "ddbbed44-022a-49e3-b63f-f1b3ab23ca14",
            "history": [
              {
                "role": "user",
                "content": "make the attached resume as per the requirement below - \n\nFinancial Reporting & Accounting Analyst\n\nWe’re a Dubai-based performance marketing company looking for a skilled full-time Financial Analyst & Accountant to support us with financial modeling, reporting, and accounting tasks on an ongoing basis.\n\nResponsibilities\n\nBuild and maintain financial models\nPerform financial calculations using various reporting tools\nAnalyze financial data and identify trends and insights\nPrepare weekly and monthly reports (KPIs, financials, variance analysis)\nHandle accounting tasks, including accurate financial record-keeping\nManage and maintain financial data within DualEntry\nWork across multiple data systems to ensure accuracy and consistency\nImprove data quality and reporting processes\nCollaborate with finance team members when required\nDevelop forecasts and identify opportunities to improve business performance\n\nRequirements\n\nProven experience in both financial analysis and accounting\nStrong data entry and financial data management skills\nSolid understanding of accounting principles (double-entry bookkeeping)\nExperience with QB and Fiskl\nStrong knowledge of Microsoft Power BI\nAdvanced Excel / Google Sheets skills\nHigh attention to detail and structured way of working\nAbility to work independently and meet deadlines\nProject Details\nOngoing / long-term collaboration\nRemote work\nCET working hours\nCFA qualification would be a plus\n\nIf you have a strong background in both accounting and financial analysis and enjoy working with data to drive business decisions, we’d love to hear from you.\n\nPlease include examples of reports, models, or accounting work you’ve handled.",
                "file_url": "https://base44.app/api/apps/69bbcee98fb7ee3b7aaa2965/files/mp/public/69bbcee98fb7ee3b7aaa2965/de8246883_Tarsem_BITechLead.pdf"
              },
              {
                "role": "assistant",
                "content": "## 👤 TARSEM — Tech Lead\n\n---\n\n### Professional Summary\n\nSeasoned Tech Lead with over 14 years of experience designing and delivering end-to-end data and analytics solutions across retail, telecom, and financial services. I build scalable BI architectures and reporting ecosystems that translate disparate data into operational and executive insights. Hands-on expertise with Power BI, Tableau, DAX, SQL, and ETL tooling enables me to implement performant dashboards and robust data models. I have a strong track record integrating POS, accounting platforms, APIs and cloud databases to produce unified reporting. As a leader I manage cross-functional teams, guide Agile delivery, and translate business requirements into technical blueprints. I prioritize security and governance—implementing row-level security and multi-user access strategies to protect sensitive data. I focus on performance tuning, documentation and stakeholder engagement to ensure sustainable analytics platforms aligned with strategic goals.\n\n---\n\n### Skills\n\n**BI & Visualization:** Power BI, Tableau, DAX, KPI frameworks, Power Query, Power BI Gateway\n**Data Engineering & ETL:** ETL design (SSIS), SQL scripting, data modeling (star schema, dimensional), data cleanup pipelines, VBA, Excel macros\n**Data Integration & APIs:** LightSpeed POS, QuickBooks, Xero, Jira API, Google Sheets, Excel, Microsoft Dynamics 365, PHP, MySQL\n**Databases & Cloud:** SQL Server, AWS-hosted SQL, PostgreSQL, MySQL, MS Access, Power BI DirectQuery\n**Security & Governance:** Row-level security (RLS), multi-user data access strategies, data governance practices\n**Project Leadership & Delivery:** Team management, stakeholder engagement, Agile collaboration, performance optimization, documentation and handover\n\n---\n\n### Projects\n\n### Project 1: Retail BI Analytics Platform\nDesigned and delivered a centralized BI reporting platform for a multi-store home decor retail chain in Hawaii to unify sales, inventory and vendor performance analysis. The platform consolidated data from POS, accounting and ERP systems to enable store-level and executive reporting. Work included end-to-end solution design, ETL integration and interactive dashboard development to support operational decision-making. The solution improved visibility across stores and vendors while supporting scalable refresh and performance needs.\n\n**Responsibilities:**\n➛ Led end-to-end BI solution design including requirements analysis, data blueprinting and dashboard planning.\n➛ Developed ETL pipelines using SSIS to integrate data from LightSpeed POS, QuickBooks and Microsoft Dynamics 365.\n➛ Performed dimensional data modeling (star schema) for vendor, category and store-level insights.\n➛ Built interactive Power BI dashboards for operations, inventory and executive reporting.\n➛ Optimized performance for large datasets through indexing and query tuning.\n\n**Tech Stack:** Power BI, SQL Server, SSIS, QuickBooks, LightSpeed POS, Microsoft Dynamics\n\n---\n### Project 2: Telecom Project Management Dashboard\nBuilt a project-tracking analytics and visualization solution for a Canadian telecom provider to replace limited Jira reporting with tailored metrics and dashboards. The solution automated collection of project and issue data and supported sprint, bug and delivery insights. Deliverables included a staging layer, a metrics-driven data model and Power BI reports to visualize cycle time, bug flow and planned vs actual delivery. The project aligned reporting to Agile workflows and improved delivery transparency.\n\n**Responsibilities:**\n➛ Integrated Jira API with a SQL staging layer to automate project and issue data collection.\n➛ Designed and implemented a data model to support sprint metrics, bug tracking and team velocity.\n➛ Developed Power BI dashboards visualizing cycle time, bug flow and planned vs actual delivery.\n➛ Conducted stakeholder workshops to refine requirements and align reports with Agile processes.\n➛ Enhanced performance with optimized queries and efficient data refresh strategies.\n\n**Tech Stack:** Power BI, SQL, Jira API, Excel, Agile Methodology\n\n---\n### Project 3: Financial Reporting & Forecasting Platform\nDelivered a scalable financial analytics solution for an Australian advisory firm by integrating accounting and business systems to support near real-time financial planning and reporting. The platform consolidated data from Xero, AWS-hosted databases and spreadsheets to provide P&L, budget vs actual and variance analysis. I led a cross-functional team to design KPIs, ETL processes and secure multi-user dashboards for finance leadership. The implementation emphasized reliability of cloud refresh and scalability across advisory clients.\n\n**Responsibilities:**\n➛ Managed a cross-functional team to deliver finance-focused KPIs and executive dashboards.\n➛ Built ETL processes to consolidate data from Xero, AWS SQL, Excel and Google Sheets.\n➛ Created relational data models to support P&L, budget vs actual and variance analysis.\n➛ Implemented Power BI dashboards with row-level security for multi-user environments.\n➛ Ensured reliability of cloud-based refresh and scalability across multiple advisory clients.\n\n**Tech Stack:** Power BI, SQL, Xero, AWS SQL, Excel, Google Sheets, Power BI Gateway\n\n---\n### Project 4: Business Intelligence Optimization for UAE-based Enterprises\nEngaged to improve reporting efficiency for UAE-based enterprises whose existing Power BI reports suffered slow load times and poor mobile experience. The objective was to identify bottlenecks, optimize DAX and data models, and design new socio-economic and financial dashboards. Outcomes included significantly reduced report load times and a set of optimized, mobile-friendly visuals for strategic analysis. The work also produced documentation to support future scalability and handover.\n\n**Responsibilities:**\n➛ Identified and remediated performance bottlenecks to reduce Power BI report loading times.\n➛ Implemented advanced DAX optimization and data model improvements for enhanced responsiveness.\n➛ Created new interactive Power BI dashboards for socio-economic modeling and financial KPIs.\n➛ Integrated SQL-based data sources to enable real-time and accurate data tracking.\n➛ Developed detailed documentation to support scalability and handover.\n\n**Tech Stack:** Power BI, SQL, DAX, Power Query\n\n---\n### Project 5: Financial Reporting for Australian Advisory Firm Using Xero\nBuilt customized interactive financial reporting for an Australia-based advisory firm by consolidating Xero, cloud databases and spreadsheets into a unified reporting structure. The project produced detailed P&L, Actual vs Budget, Gross Profit and variance dashboards to support account directors and finance teams. Work included backend preprocessing, data consolidation and secure report delivery so each director accessed only their clients. The solution translated raw accounting data into actionable business insights.\n\n**Responsibilities:**\n➛ Extracted and merged financial data from Xero, AWS SQL, Excel and Google Sheets for unified reporting.\n➛ Utilized MySQL and PHP for backend data preprocessing and transformation.\n➛ Developed Power BI dashboards with interactive visualizations for financial performance analysis.\n➛ Implemented row-level security so each Account Director could access only their clients' reports.\n➛ Translated raw financial data into meaningful business insights to support decision-making.\n\n**Tech Stack:** Power BI, Xero, AWS SQL, MySQL, Excel, Google Sheets, PHP\n\n---\n### Project 6: Real-Time Analytics for Spine Care\nDelivered real-time analytics for an India-based spine care clinic to evaluate sales, operations and marketing across locations. The solution connected Power BI to PostgreSQL via DirectQuery to enable live dashboards and day-to-day performance tracking. Interactive reports highlighted daily marketing, actual vs target and city-wise KPIs to improve operational visibility. The engagement included SQL optimization and close collaboration with stakeholders to refine outputs.\n\n**Responsibilities:**\n➛ Connected Power BI to PostgreSQL using DirectQuery to enable real-time access to clinic data.\n➛ Developed interactive dashboards for Sales, Operations and Marketing performance including daily marketing and Actual vs Target metrics.\n➛ Wrote and optimized complex SQL queries to ensure accurate and efficient data extraction.\n➛ Designed KPIs to track clinic performance across multiple cities, improving location-wise visibility.\n➛ Collaborated with business stakeholders to gather requirements and iteratively refine report outputs.\n➛ Optimized data connectivity and report load times to enhance user experience and reliability.\n\n**Tech Stack:** undefined\n\n---\n\n### Education\n\n- Bachelor of Business Administration (B.B.A) — Sikkim Manipal University ()\n\n---\n\nHere's the formatted content! Please review each section. You can ask me to make changes — for example: *'Make the summary more concise'* or *'Add Django to Project 2's tech stack'*. When you're happy, just say **'Looks good'** and I'll create the Google Doc."
              },
              {
                "role": "user",
                "content": "put project 3 and project 5 as first two projects."
              },
              {
                "role": "assistant",
                "content": "## 👤 TARSEM — Tech Lead\n\n---\n\n### Professional Summary\n\nSeasoned Tech Lead with over 14 years of experience designing and delivering end-to-end data and analytics solutions across retail, telecom, and financial services. I build scalable BI architectures and reporting ecosystems that translate disparate data into operational and executive insights. Hands-on expertise with Power BI, Tableau, DAX, SQL, and ETL tooling enables me to implement performant dashboards and robust data models. I have a strong track record integrating POS, accounting platforms, APIs and cloud databases to produce unified reporting. As a leader I manage cross-functional teams, guide Agile delivery, and translate business requirements into technical blueprints. I prioritize security and governance—implementing row-level security and multi-user access strategies to protect sensitive data. I focus on performance tuning, documentation and stakeholder engagement to ensure sustainable analytics platforms aligned with strategic goals.\n\n---\n\n### Skills\n\n**BI & Visualization:** Power BI, Tableau, DAX, KPI frameworks, Power Query, Power BI Gateway\n**Data Engineering & ETL:** ETL design (SSIS), SQL scripting, data modeling (star schema, dimensional), data cleanup pipelines, VBA, Excel macros\n**Data Integration & APIs:** LightSpeed POS, QuickBooks, Xero, Jira API, Google Sheets, Excel, Microsoft Dynamics 365, PHP, MySQL\n**Databases & Cloud:** SQL Server, AWS-hosted SQL, PostgreSQL, MySQL, MS Access, Power BI DirectQuery\n**Security & Governance:** Row-level security (RLS), multi-user data access strategies, data governance practices\n**Project Leadership & Delivery:** Team management, stakeholder engagement, Agile collaboration, performance optimization, documentation and handover\n\n---\n\n### Projects\n\n### Project 1: Financial Reporting & Forecasting Platform\nDelivered a scalable financial analytics solution for an Australian advisory firm by integrating accounting and business systems to support near real-time financial planning and reporting. The platform consolidated data from Xero, AWS-hosted databases and spreadsheets to provide P&L, budget vs actual and variance analysis. I led a cross-functional team to design KPIs, ETL processes and secure multi-user dashboards for finance leadership. The implementation emphasized reliability of cloud refresh and scalability across advisory clients.\n\n**Responsibilities:**\n➛ Managed a cross-functional team to deliver finance-focused KPIs and executive dashboards.\n➛ Built ETL processes to consolidate data from Xero, AWS SQL, Excel and Google Sheets.\n➛ Created relational data models to support P&L, budget vs actual and variance analysis.\n➛ Implemented Power BI dashboards with row-level security for multi-user environments.\n➛ Ensured reliability of cloud-based refresh and scalability across multiple advisory clients.\n\n**Tech Stack:** Power BI, SQL, Xero, AWS SQL, Excel, Google Sheets, Power BI Gateway\n\n---\n### Project 2: Financial Reporting for Australian Advisory Firm Using Xero\nBuilt customized interactive financial reporting for an Australia-based advisory firm by consolidating Xero, cloud databases and spreadsheets into a unified reporting structure. The project produced detailed P&L, Actual vs Budget, Gross Profit and variance dashboards to support account directors and finance teams. Work included backend preprocessing, data consolidation and secure report delivery so each director accessed only their clients. The solution translated raw accounting data into actionable business insights.\n\n**Responsibilities:**\n➛ Extracted and merged financial data from Xero, AWS SQL, Excel and Google Sheets for unified reporting.\n➛ Utilized MySQL and PHP for backend data preprocessing and transformation.\n➛ Developed Power BI dashboards with interactive visualizations for financial performance analysis.\n➛ Implemented row-level security so each Account Director could access only their clients' reports.\n➛ Translated raw financial data into meaningful business insights to support decision-making.\n\n**Tech Stack:** Power BI, Xero, AWS SQL, MySQL, Excel, Google Sheets, PHP\n\n---\n### Project 3: Retail BI Analytics Platform\nDesigned and delivered a centralized BI reporting platform for a multi-store home decor retail chain in Hawaii to unify sales, inventory and vendor performance analysis. The platform consolidated data from POS, accounting and ERP systems to enable store-level and executive reporting. Work included end-to-end solution design, ETL integration and interactive dashboard development to support operational decision-making. The solution improved visibility across stores and vendors while supporting scalable refresh and performance needs.\n\n**Responsibilities:**\n➛ Led end-to-end BI solution design including requirements analysis, data blueprinting and dashboard planning.\n➛ Developed ETL pipelines using SSIS to integrate data from LightSpeed POS, QuickBooks and Microsoft Dynamics 365.\n➛ Performed dimensional data modeling (star schema) for vendor, category and store-level insights.\n➛ Built interactive Power BI dashboards for operations, inventory and executive reporting.\n➛ Optimized performance for large datasets through indexing and query tuning.\n\n**Tech Stack:** Power BI, SQL Server, SSIS, QuickBooks, LightSpeed POS, Microsoft Dynamics\n\n---\n### Project 4: Telecom Project Management Dashboard\nBuilt a project-tracking analytics and visualization solution for a Canadian telecom provider to replace limited Jira reporting with tailored metrics and dashboards. The solution automated collection of project and issue data and supported sprint, bug and delivery insights. Deliverables included a staging layer, a metrics-driven data model and Power BI reports to visualize cycle time, bug flow and planned vs actual delivery. The project aligned reporting to Agile workflows and improved delivery transparency.\n\n**Responsibilities:**\n➛ Integrated Jira API with a SQL staging layer to automate project and issue data collection.\n➛ Designed and implemented a data model to support sprint metrics, bug tracking and team velocity.\n➛ Developed Power BI dashboards visualizing cycle time, bug flow and planned vs actual delivery.\n➛ Conducted stakeholder workshops to refine requirements and align reports with Agile processes.\n➛ Enhanced performance with optimized queries and efficient data refresh strategies.\n\n**Tech Stack:** Power BI, SQL, Jira API, Excel, Agile Methodology\n\n---\n### Project 5: Business Intelligence Optimization for UAE-based Enterprises\nEngaged to improve reporting efficiency for UAE-based enterprises whose existing Power BI reports suffered slow load times and poor mobile experience. The objective was to identify bottlenecks, optimize DAX and data models, and design new socio-economic and financial dashboards. Outcomes included significantly reduced report load times and a set of optimized, mobile-friendly visuals for strategic analysis. The work also produced documentation to support future scalability and handover.\n\n**Responsibilities:**\n➛ Identified and remediated performance bottlenecks to reduce Power BI report loading times.\n➛ Implemented advanced DAX optimization and data model improvements for enhanced responsiveness.\n➛ Created new interactive Power BI dashboards for socio-economic modeling and financial KPIs.\n➛ Integrated SQL-based data sources to enable real-time and accurate data tracking.\n➛ Developed detailed documentation to support scalability and handover.\n\n**Tech Stack:** Power BI, SQL, DAX, Power Query\n\n---\n### Project 6: Real-Time Analytics for Spine Care\nDelivered real-time analytics for an India-based spine care clinic to evaluate sales, operations and marketing across locations. The solution connected Power BI to PostgreSQL via DirectQuery to enable live dashboards and day-to-day performance tracking. Interactive reports highlighted daily marketing, actual vs target and city-wise KPIs to improve operational visibility. The engagement included SQL optimization and close collaboration with stakeholders to refine outputs.\n\n**Responsibilities:**\n➛ Connected Power BI to PostgreSQL using DirectQuery to enable real-time access to clinic data.\n➛ Developed interactive dashboards for Sales, Operations and Marketing performance including daily marketing and Actual vs Target metrics.\n➛ Wrote and optimized complex SQL queries to ensure accurate and efficient data extraction.\n➛ Designed KPIs to track clinic performance across multiple cities, improving location-wise visibility.\n➛ Collaborated with business stakeholders to gather requirements and iteratively refine report outputs.\n➛ Optimized data connectivity and report load times to enhance user experience and reliability.\n\n**Tech Stack:** undefined\n\n---\n\n### Education\n\n- Bachelor of Business Administration (B.B.A) — Sikkim Manipal University ()\n\n---\n\nHere's the formatted content! Please review each section. You can ask me to make changes — for example: *'Make the summary more concise'* or *'Add Django to Project 2's tech stack'*. When you're happy, just say **'Looks good'** and I'll create the Google Doc."
              },
              {
                "role": "user",
                "content": "looks good"
              }
            ],
            "stage": "preview",
            "approved_fields": {
              "CANDIDATE_NAME": "TARSEM",
              "CANDIDATE_ROLE": "Tech Lead",
              "PROFESSIONAL_SUMMARY": "Seasoned Tech Lead with over 14 years of experience designing and delivering end-to-end data and analytics solutions across retail, telecom, and financial services. I build scalable BI architectures and reporting ecosystems that translate disparate data into operational and executive insights. Hands-on expertise with Power BI, Tableau, DAX, SQL, and ETL tooling enables me to implement performant dashboards and robust data models. I have a strong track record integrating POS, accounting platforms, APIs and cloud databases to produce unified reporting. As a leader I manage cross-functional teams, guide Agile delivery, and translate business requirements into technical blueprints. I prioritize security and governance—implementing row-level security and multi-user access strategies to protect sensitive data. I focus on performance tuning, documentation and stakeholder engagement to ensure sustainable analytics platforms aligned with strategic goals.",
              "SKILL_CATEGORY_1": "BI & Visualization",
              "SKILL_CONTENT_1": "Power BI, Tableau, DAX, KPI frameworks, Power Query, Power BI Gateway",
              "SKILL_CATEGORY_2": "Data Engineering & ETL",
              "SKILL_CONTENT_2": "ETL design (SSIS), SQL scripting, data modeling (star schema, dimensional), data cleanup pipelines, VBA, Excel macros",
              "SKILL_CATEGORY_3": "Data Integration & APIs",
              "SKILL_CONTENT_3": "LightSpeed POS, QuickBooks, Xero, Jira API, Google Sheets, Excel, Microsoft Dynamics 365, PHP, MySQL",
              "SKILL_CATEGORY_4": "Databases & Cloud",
              "SKILL_CONTENT_4": "SQL Server, AWS-hosted SQL, PostgreSQL, MySQL, MS Access, Power BI DirectQuery",
              "SKILL_CATEGORY_5": "Security & Governance",
              "SKILL_CONTENT_5": "Row-level security (RLS), multi-user data access strategies, data governance practices",
              "SKILL_CATEGORY_6": "Project Leadership & Delivery",
              "SKILL_CONTENT_6": "Team management, stakeholder engagement, Agile collaboration, performance optimization, documentation and handover",
              "PROJECT_TITLE_1": "Financial Reporting & Forecasting Platform",
              "PROJECT_DESCRIPTION_1": "Delivered a scalable financial analytics solution for an Australian advisory firm by integrating accounting and business systems to support near real-time financial planning and reporting. The platform consolidated data from Xero, AWS-hosted databases and spreadsheets to provide P&L, budget vs actual and variance analysis. I led a cross-functional team to design KPIs, ETL processes and secure multi-user dashboards for finance leadership. The implementation emphasized reliability of cloud refresh and scalability across advisory clients.",
              "PROJECT_RESPONSIBILITIES_1": "➛ Managed a cross-functional team to deliver finance-focused KPIs and executive dashboards.\n➛ Built ETL processes to consolidate data from Xero, AWS SQL, Excel and Google Sheets.\n➛ Created relational data models to support P&L, budget vs actual and variance analysis.\n➛ Implemented Power BI dashboards with row-level security for multi-user environments.\n➛ Ensured reliability of cloud-based refresh and scalability across multiple advisory clients.",
              "PROJECT_TECHSTACK_1": "Power BI, SQL, Xero, AWS SQL, Excel, Google Sheets, Power BI Gateway",
              "PROJECT_TITLE_2": "Financial Reporting for Australian Advisory Firm Using Xero",
              "PROJECT_DESCRIPTION_2": "Built customized interactive financial reporting for an Australia-based advisory firm by consolidating Xero, cloud databases and spreadsheets into a unified reporting structure. The project produced detailed P&L, Actual vs Budget, Gross Profit and variance dashboards to support account directors and finance teams. Work included backend preprocessing, data consolidation and secure report delivery so each director accessed only their clients. The solution translated raw accounting data into actionable business insights.",
              "PROJECT_RESPONSIBILITIES_2": "➛ Extracted and merged financial data from Xero, AWS SQL, Excel and Google Sheets for unified reporting.\n➛ Utilized MySQL and PHP for backend data preprocessing and transformation.\n➛ Developed Power BI dashboards with interactive visualizations for financial performance analysis.\n➛ Implemented row-level security so each Account Director could access only their clients' reports.\n➛ Translated raw financial data into meaningful business insights to support decision-making.",
              "PROJECT_TECHSTACK_2": "Power BI, Xero, AWS SQL, MySQL, Excel, Google Sheets, PHP",
              "PROJECT_TITLE_3": "Retail BI Analytics Platform",
              "PROJECT_DESCRIPTION_3": "Designed and delivered a centralized BI reporting platform for a multi-store home decor retail chain in Hawaii to unify sales, inventory and vendor performance analysis. The platform consolidated data from POS, accounting and ERP systems to enable store-level and executive reporting. Work included end-to-end solution design, ETL integration and interactive dashboard development to support operational decision-making. The solution improved visibility across stores and vendors while supporting scalable refresh and performance needs.",
              "PROJECT_RESPONSIBILITIES_3": "➛ Led end-to-end BI solution design including requirements analysis, data blueprinting and dashboard planning.\n➛ Developed ETL pipelines using SSIS to integrate data from LightSpeed POS, QuickBooks and Microsoft Dynamics 365.\n➛ Performed dimensional data modeling (star schema) for vendor, category and store-level insights.\n➛ Built interactive Power BI dashboards for operations, inventory and executive reporting.\n➛ Optimized performance for large datasets through indexing and query tuning.",
              "PROJECT_TECHSTACK_3": "Power BI, SQL Server, SSIS, QuickBooks, LightSpeed POS, Microsoft Dynamics",
              "PROJECT_TITLE_4": "Telecom Project Management Dashboard",
              "PROJECT_DESCRIPTION_4": "Built a project-tracking analytics and visualization solution for a Canadian telecom provider to replace limited Jira reporting with tailored metrics and dashboards. The solution automated collection of project and issue data and supported sprint, bug and delivery insights. Deliverables included a staging layer, a metrics-driven data model and Power BI reports to visualize cycle time, bug flow and planned vs actual delivery. The project aligned reporting to Agile workflows and improved delivery transparency.",
              "PROJECT_RESPONSIBILITIES_4": "➛ Integrated Jira API with a SQL staging layer to automate project and issue data collection.\n➛ Designed and implemented a data model to support sprint metrics, bug tracking and team velocity.\n➛ Developed Power BI dashboards visualizing cycle time, bug flow and planned vs actual delivery.\n➛ Conducted stakeholder workshops to refine requirements and align reports with Agile processes.\n➛ Enhanced performance with optimized queries and efficient data refresh strategies.",
              "PROJECT_TECHSTACK_4": "Power BI, SQL, Jira API, Excel, Agile Methodology",
              "PROJECT_TITLE_5": "Business Intelligence Optimization for UAE-based Enterprises",
              "PROJECT_DESCRIPTION_5": "Engaged to improve reporting efficiency for UAE-based enterprises whose existing Power BI reports suffered slow load times and poor mobile experience. The objective was to identify bottlenecks, optimize DAX and data models, and design new socio-economic and financial dashboards. Outcomes included significantly reduced report load times and a set of optimized, mobile-friendly visuals for strategic analysis. The work also produced documentation to support future scalability and handover.",
              "PROJECT_RESPONSIBILITIES_5": "➛ Identified and remediated performance bottlenecks to reduce Power BI report loading times.\n➛ Implemented advanced DAX optimization and data model improvements for enhanced responsiveness.\n➛ Created new interactive Power BI dashboards for socio-economic modeling and financial KPIs.\n➛ Integrated SQL-based data sources to enable real-time and accurate data tracking.\n➛ Developed detailed documentation to support scalability and handover.",
              "PROJECT_TECHSTACK_5": "Power BI, SQL, DAX, Power Query",
              "PROJECT_TITLE_6": "Real-Time Analytics for Spine Care",
              "PROJECT_DESCRIPTION_6": "Delivered real-time analytics for an India-based spine care clinic to evaluate sales, operations and marketing across locations. The solution connected Power BI to PostgreSQL via DirectQuery to enable live dashboards and day-to-day performance tracking. Interactive reports highlighted daily marketing, actual vs target and city-wise KPIs to improve operational visibility. The engagement included SQL optimization and close collaboration with stakeholders to refine outputs.",
              "PROJECT_RESPONSIBILITIES_6": "➛ Connected Power BI to PostgreSQL using DirectQuery to enable real-time access to clinic data.\n➛ Developed interactive dashboards for Sales, Operations and Marketing performance including daily marketing and Actual vs Target metrics.\n➛ Wrote and optimized complex SQL queries to ensure accurate and efficient data extraction.\n➛ Designed KPIs to track clinic performance across multiple cities, improving location-wise visibility.\n➛ Collaborated with business stakeholders to gather requirements and iteratively refine report outputs.\n➛ Optimized data connectivity and report load times to enhance user experience and reliability.",
              "EDUCATION_DEGREE_1": "Bachelor of Business Administration (B.B.A)",
              "EDUCATION_INSTITUTE_1": "Sikkim Manipal University",
              "EDUCATION_YEAR_1": "",
              "EDUCATION_DEGREE_2": "",
              "EDUCATION_INSTITUTE_2": "",
              "EDUCATION_YEAR_2": ""
            },
            "raw_resume_text": "TECH LEAD- TARSEM\nProfessional Summary:\nResults-driven Tech Lead with over 14 years of experience in designing, developing, and delivering\nend-to-end data and analytics solutions across retail, telecom, and financial services sectors. Specializing in\nBI architecture, data modeling, ETL development, and dashboard design, with proven hands-on expertise in\ntools such as Power BI, SQL, Tableau, and SSIS. Adept at building scalable reporting ecosystems that\ntransform raw data into actionable insights, supporting both operational and executive-level\ndecision-making.\nRenowned for leading cross-functional teams and managing complex projects from concept to deployment.\nSkilled at translating business requirements into technical solutions, implementing security frameworks like\nrow-level security, and driving data governance practices. A strong communicator with a track record of\nstakeholder engagement, Agile collaboration, and delivering high-performance analytics platforms that align\nwith strategic business goals.\nSkill Summary:\nBI Architecture & Strategy: Power BI, Tableau, DAX, KPI frameworks\nData Engineering: ETL design (SSIS, SQL), Data Modeling (Star Schema, Dimensional)\nData Integration: Xero, QuickBooks, Jira API, LightSpeed POS, Excel, AWS SQL\nDatabase Systems: SQL Server, MS Access, AWS-hosted SQL\nSecurity & Governance: Row-level security, multi-user data access strategies\nProject Leadership: Team management, stakeholder engagement, Agile collaboration\nAutomation & Scripting: SQL scripting, VBA, Excel macros, data cleanup pipelines\nProjects:\nProject 1: Retail BI Analytics Platform\nDescription:\nDesigned and delivered a centralized BI reporting system for a multi-store home decor retail chain in Hawaii.\nThe platform enabled unified analysis of sales, inventory, and vendor performance by integrating data from\nmultiple business tools.\nResponsibilities:\n➛Led end-to-end BI solution design including requirement analysis, data blueprinting, and dashboard\nplanning.\n\n➛Developed ETL pipelines using SSIS to integrate data from LightSpeed POS, QuickBooks, and Microsoft\nDynamics 365.\n➛Performed dimensional data modeling (star schema) for vendor, category, and store-level insights.\n➛Built interactive Power BI dashboards for operations, inventory, and executive reporting.\n➛Optimized performance for large datasets through indexing and query tuning.\nTech Stack: Power BI, SQL Server, SSIS, QuickBooks, LightSpeed POS, Microsoft Dynamics\nProject 2: Telecom Project Management Dashboard\nDescription:\nBuilt a robust analytics and visualization solution for a Canadian telecom provider to improve software\nproject tracking and delivery insights, replacing limited Jira reporting with custom metrics and dashboards.\nResponsibilities:\n➛Integrated Jira API with SQL staging to automate the collection of project and issue data.\n➛Designed and implemented a data model to support sprint metrics, bug tracking, and team velocity.\n➛Developed Power BI dashboards visualizing cycle time, bug flow, and planned vs actual delivery.\n➛Conducted stakeholder workshops to refine requirements and align with Agile workflows.\n➛Enhanced performance with optimized queries and efficient data refresh strategies.\nTech Stack: Power BI, SQL, Jira API, Excel, Agile Methodology\nProject 3: Financial Reporting & Forecasting Platform\nDescription:\nDelivered a scalable financial analytics solution for an Australian advisory firm, integrating data from\naccounting and business systems to support real-time financial planning and reporting.\nResponsibilities:\n➛Managed a cross-functional team to deliver KPIs and dashboards tailored to finance leadership.\n➛Built ETL processes to consolidate data from Xero, AWS SQL, Excel, and Google Sheets.\n➛Created relational data models to support P&L, budget vs actual, and variance analysis.\n➛Implemented Power BI dashboards with row-level security for multi-user environments.\n➛Ensured reliability of cloud-based refresh and scalability across multiple advisory clients.\nTech Stack: Power BI, SQL, Xero, AWS SQL, Excel, Google Sheets, Power BI Gateway\nProject 4: Business Intelligence Optimization for UAE-based Enterprises\nDescription:\nThis project aimed to enhance the reporting efficiency of UAE-based companies transitioning toward a\nglobally competitive, knowledge-based economy. The client had existing Power BI reports that suffered from\nslow performance (15-second load times). The objective was to optimize these reports, improve the mobile\nuser experience, and design new dashboards focused on socio-economic and financial analysis.\n\nResponsibilities:\n➛Identified and addressed performance bottlenecks to reduce Power BI report loading time from 15\nseconds.\n➛Implemented advanced DAX optimization and data model improvements for enhanced performance.\n➛Created new interactive Power BI dashboards for Socio-economic Modeling and financial KPIs.\n➛Integrated SQL-based data sources to enable real-time, accurate data tracking.\n➛Developed detailed documentation for future scalability and handover.\nTech Stack: Power BI, SQL, DAX, Power Query\nProject 5: Financial Reporting for Australian Advisory Firm Using Xero\nDescription:\nThe client, an Australia-based financial advisory firm, required interactive and detailed financial reporting\nusing Xero data, which lacked advanced analytics capabilities. The project involved building customized\nPower BI dashboards by consolidating data from Xero, AWS SQL, Excel, and Google Sheets. Key reports\nfocused on P&L, Actual vs Budget, Gross Profit, and Variance.\nResponsibilities:\n➛Extracted and merged financial data from Xero, AWS SQL, Excel, and Google Sheets for a unified reporting\nstructure.\n➛Utilized MySQL and PHP for backend data preprocessing and transformation.\n➛Developed Power BI dashboards with interactive visualizations for financial performance analysis.\n➛Implemented Row-level Security (RLS) so each Account Director could access only their clients’ reports.\n➛Translated raw financial data into meaningful business insights to support strategic decision-making.\nTech Stack: Power BI, Xero, AWS SQL, MySQL, Excel, Google Sheets, PHP\nProject 6 : Real-Time Analytics for Spine Care\nDescription:\nThis project supported India’s pioneering spine care clinic focused on non-surgical back and neck pain\ntreatments. The organization faced challenges in evaluating Sales, Operations, and Marketing effectiveness\nacross locations. The goal was to build real-time dashboards to provide actionable insights for better\ndecision-making.\nResponsibilities:\n➛Connected Power BI to PostgreSQL using Direct Query to enable real-time access to clinic data.\n➛Developed interactive dashboards for Sales, Operations, and Marketing performance, including Daily\nMarketing and Actual vs Target metrics.\n➛Wrote and optimized complex SQL queries to ensure accurate and efficient data extraction.\n➛Designed KPIs to track clinic performance across various cities, improving visibility into location-wise\nperformance.\n➛Collaborated closely with business stakeholders to gather requirements and continuously refine report\n\noutputs.\n➛Optimized data connectivity and report load times to enhance user experience and reliability.\nTech Stack: Power BI, PostgreSQL, SQL\nEducational Qualification\nBachelor of Business Administration (B.B.A),\nSikkim Manipal University"
          },
          "webhookUrl": "https://devscaleup.app.n8n.cloud/webhook/resume_agent",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ab243e64-98b7-488d-9a69-291366b56ba7",
  "activeVersionId": "ab243e64-98b7-488d-9a69-291366b56ba7",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T07:16:56.115Z",
      "createdAt": "2026-03-23T07:16:56.115Z",
      "role": "workflow:owner",
      "workflowId": "Zinia9sYTgMvpkn0",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-07T06:23:03.000Z",
    "createdAt": "2026-05-07T06:22:02.502Z",
    "versionId": "ab243e64-98b7-488d-9a69-291366b56ba7",
    "workflowId": "Zinia9sYTgMvpkn0",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "resume_agent",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -272,
          1104
        ],
        "id": "45e89c00-dddc-4d1d-9072-7d1864693009",
        "name": "Webhook",
        "webhookId": "cf7fd5d4-9a46-4f90-a12f-e7892817bd13"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"reply\": \"{{ $json.reply }}\",\n  \"doc_url\": null,\n  \"stage\": \"chat\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          752,
          1520
        ],
        "id": "c70bf0b4-06d7-4d05-8afd-1622dd06af73",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "PROCESS",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "e214478b-f2c6-4896-902d-aa201b0d4a43"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "process_branch"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "2a30edfb-0cc3-4eae-9c58-b493e30f2358",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "REVISE",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "revise_branch"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b9cac7dd-5807-4cef-8c4a-7d4ec981fb3f",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "CREATE_DOC",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "create_branch"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "86de8df3-417d-4518-bb60-ace9b32eda84",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "chat_branch"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          528,
          1072
        ],
        "id": "d6f8280b-8807-47b0-b4e8-e10f70ef5bc4",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "={{ $json.resume_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          752,
          608
        ],
        "id": "798ecbb5-8e2a-4399-84f7-8570b4f3ca86",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          1040,
          608
        ],
        "id": "77f98515-8a86-46e4-9481-3334efde54db",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.output;\nconst d = JSON.parse(raw);\n\nconst skillRows = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`SKILL_CATEGORY_${i}`]) {\n    skillRows.push(`**${d[`SKILL_CATEGORY_${i}`]}:** ${d[`SKILL_CONTENT_${i}`]}`);\n  }\n}\n\nconst projectBlocks = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`PROJECT_TITLE_${i}`]) {\n    projectBlocks.push(\n      `### Project ${i}: ${d[`PROJECT_TITLE_${i}`]}\\n` +\n      `${d[`PROJECT_DESCRIPTION_${i}`]}\\n\\n` +\n      `**Responsibilities:**\\n${d[`PROJECT_RESPONSIBILITIES_${i}`]}\\n\\n` +\n      `**Tech Stack:** ${d[`PROJECT_TECHSTACK_${i}`]}`\n    );\n  }\n}\n\nconst eduRows = [];\nfor (let i = 1; i <= 2; i++) {\n  if (d[`EDUCATION_DEGREE_${i}`]) {\n    eduRows.push(`- ${d[`EDUCATION_DEGREE_${i}`]} — ${d[`EDUCATION_INSTITUTE_${i}`]} (${d[`EDUCATION_YEAR_${i}`]})`);\n  }\n}\n\nconst preview = [\n  `## 👤 ${d.CANDIDATE_NAME} — ${d.CANDIDATE_ROLE}`,\n  `---`,\n  `### Professional Summary`,\n  d.PROFESSIONAL_SUMMARY,\n  `---`,\n  `### Skills`,\n  skillRows.join('\\n'),\n  `---`,\n  `### Projects`,\n  projectBlocks.join('\\n\\n---\\n'),\n  `---`,\n  `### Education`,\n  eduRows.join('\\n')\n].join('\\n\\n');\n\nreturn [{ json: { \n  fields: d,\n  preview: preview + \"\\n\\n---\\n\\nHere's the formatted content! Please review each section. You can ask me to make changes — for example: *'Make the summary more concise'* or *'Add Django to Project 2's tech stack'*. When you're happy, just say **'Looks good'** and I'll create the Google Doc.\",\n  raw_resume_text: $('Extract from File').item.json.text\n}}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          464
        ],
        "id": "bb1747ac-c6c6-4d7c-9ff0-4920d83a4bbe",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{JSON.stringify({\n  reply: $json.preview,\n  fields: $json.fields,\n  raw_resume_text: $json.raw_resume_text,\n  stage: \"preview\",\n  doc_url: null\n})}}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2352,
          688
        ],
        "id": "f01201db-0ae8-44a6-9faf-c9db22bc35c2",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.output;\nconst d = JSON.parse(raw);\n\nconst skillRows = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`SKILL_CATEGORY_${i}`]) {\n    skillRows.push(`**${d[`SKILL_CATEGORY_${i}`]}:** ${d[`SKILL_CONTENT_${i}`]}`);\n  }\n}\n\nconst projectBlocks = [];\nfor (let i = 1; i <= 6; i++) {\n  if (d[`PROJECT_TITLE_${i}`]) {\n    projectBlocks.push(\n      `### Project ${i}: ${d[`PROJECT_TITLE_${i}`]}\\n` +\n      `${d[`PROJECT_DESCRIPTION_${i}`]}\\n\\n` +\n      `**Responsibilities:**\\n${d[`PROJECT_RESPONSIBILITIES_${i}`]}\\n\\n` +\n      `**Tech Stack:** ${d[`PROJECT_TECHSTACK_${i}`]}`\n    );\n  }\n}\n\nconst eduRows = [];\nfor (let i = 1; i <= 2; i++) {\n  if (d[`EDUCATION_DEGREE_${i}`]) {\n    eduRows.push(`- ${d[`EDUCATION_DEGREE_${i}`]} — ${d[`EDUCATION_INSTITUTE_${i}`]} (${d[`EDUCATION_YEAR_${i}`]})`);\n  }\n}\n\nconst preview = [\n  `## 👤 ${d.CANDIDATE_NAME} — ${d.CANDIDATE_ROLE}`,\n  `---`,\n  `### Professional Summary`,\n  d.PROFESSIONAL_SUMMARY,\n  `---`,\n  `### Skills`,\n  skillRows.join('\\n'),\n  `---`,\n  `### Projects`,\n  projectBlocks.join('\\n\\n---\\n'),\n  `---`,\n  `### Education`,\n  eduRows.join('\\n')\n].join('\\n\\n');\n\nreturn { json: { \n  fields: d,\n  preview: preview + \"\\n\\n---\\n\\nHere's the formatted content! Please review each section. You can ask me to make changes — for example: *'Make the summary more concise'* or *'Add Django to Project 2's tech stack'*. When you're happy, just say **'Looks good'** and I'll create the Google Doc.\"\n}};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          896
        ],
        "id": "62485229-9d94-4690-9390-125b8247f96d",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Here is the incoming data from the chat app:\n\nMessage: {{ $json.body.message }}\nFile URL: {{ $json.body.file_url }}\nFile Type: {{ $json.body.file_type }}\nApproved Fields (if in revision stage): {{ $json.body.approved_fields }}\n\nConversation history so far:\nHistory as of now - {{ JSON.stringify($json.body.history) }}",
          "options": {
            "systemMessage": "=You are Resu, the ScaleupAlly Resume Formatter Agent 🤝\nYou help the ScaleupAlly team quickly reformat candidate resumes into the company's polished standard template.\nYou're sharp, warm, and efficient — like a great colleague who just happens to be really good at this.\n\nYou receive messages from team members through a chat interface. Your job is to read the conversation,\nfigure out where things stand, and move things forward naturally — like you're actually paying attention.\n\n---\n\nWHAT YOU'RE GATHERING (in this general order — but stay flexible):\n1. resume_url — a PDF link (you can't do anything without this)\n2. job_description — the JD for the role they're hiring for (nice to have, ask once, can be optional)\n3. highlight_areas — anything to push forward or dial back in the resume (ask once, totally optional)\n\n---\n\nHOW TO HANDLE EACH SITUATION:\n\n→ No resume shared yet?\n   action: NEED_RESUME\n   Be welcoming. Let them know you're ready when they are.\n   Example vibe: \"Hey! Drop the candidate's resume PDF whenever you're ready and we'll get started 🚀\"\n\n→ A new file_url appears in the current message AND no JD exists \n  anywhere in the conversation history?\n   action: NEED_JD\n   Acknowledge the upload with energy, then ask naturally — don't make it feel like a form.\n   Do NOT say \"Got the resume\" or confirm it's a resume.\n   Just acknowledge a file was received and ask for the JD neutrally.\n   Example vibe: \"Got your file! Before I process it — do you have a JD for the role? \n   Paste it here and I'll tailor the output. You can also add any focus areas or just \n   type 'skip' to proceed as-is.\"\n\n→ Resume exists AND user has explicitly pasted actual JD text (job title, \n  requirements, responsibilities etc.) in any message in the history?\n   action: PROCESS\n   Extract that JD from history and use it.\n   Example vibe: \"Perfect, got the JD too — give me a moment ✨\"\n\n→ Resume exists AND user explicitly said \"skip\", \"no jd\", \"proceed without\", \n  \"go ahead without it\"?\n   action: PROCESS\n   Proceed without JD.\n   Example vibe: \"Got it, rolling without a JD — give me a sec ✨\"\n\n→ A new file_url appears in the current message AND a JD was already shared \n  earlier in the conversation history (even alongside a previously rejected PDF)?\n   action: PROCESS\n   Do NOT ask for JD again. Extract it from history and use it directly.\n   Example vibe: \"Got it — I already have your JD, processing now ✨\"\n\n→ A preview has already been shared (approved_fields is not null) AND user wants a change?\n   action: REVISE\n   Be responsive and specific. Acknowledge what they want changed.\n   Example vibe: \"On it — let me tighten that up for you.\"\n\n→ User is just chatting, asking something general, or saying hi?\n   action: CHAT\n   Be human. Respond naturally and briefly. Don't over-explain.\n\n→ A preview has been shared (approved_fields is not null) AND the user is \n  explicitly approving the document with clear intent — saying things like \n  \"looks good\", \"approved\", \"go ahead\", \"create it\", \"yes\", \"perfect\", \n  \"thank you this is great\", \"thanks looks good\"?\n   action: CREATE_DOC\n   Only fire this if the approval is clearly about the resume preview itself.\n   Do NOT fire if the user is just making casual conversation, saying thanks \n   for a general reply, or wrapping up the chat (e.g. \"its fine\", \"no need\", \n   \"we'll connect later\", \"thanks bye\").\n   Do NOT fire if the user is acknowledging receipt of the final Google Doc \n   (e.g. \"got the resume\", \"received it\", \"got it\", \"got the doc\", \"I have it\").\n   These mean the doc was already delivered — respond with CHAT instead.\n   Example vibe: \"Love it! Creating the doc now — back in a sec 🙌\"\n\n→ User has received the resume docs link shared by you but wants the resume to have a greater Overall Fit or ATS score Eg. Messages like \"I want the resume to have at least 80% overall fit and 70% ATS score\" or \"Update this resume such that it has 96% ATS score\"?\n  action: UPDATE_DOC\n  Reply with \"Sure! Reprocessing the resume. One moment please...\"\n\n→ User is thanking you or wrapping up casually AND approved_fields is null, \n  OR user is saying goodbye/wrapping up regardless of stage?\n   action: CHAT\n   Reply warmly and briefly.\n   Example vibe: \"Happy to help! Catch you later 😊\"\n\n\nOne important point to remember: If the user asks you whether they can upload it in that format or not, clearly and politely specify to them that you won't be able to process it and that a pdf or google docs link is a must.\n\n---\n\nRESPONSE FORMAT:\nReturn ONLY a valid JSON object. No markdown. No explanation. Just JSON.\n\n{\n  \"action\": \"NEED_RESUME\" | \"NEED_JD\" | \"CHAT\" | \"PROCESS\" | \"REVISE\" | \"CREATE_DOC\" | \"UPDATE_DOC\",\n  \"reply\": \"Your message to the user — warm, natural, never stiff\",\n  \"resume_url\": \"PDF URL from history, or null\",\n  \"job_description\": \"JD text from history, or null\",\n  \"highlight_areas\": \"focus instructions from history, or null\",\n  \"revision_request\": \"what the user wants changed, or null\"\n}\n\n---\n\nPERSONALITY RULES:\n- Sound like a sharp, friendly team member — not a bot\n- Use light energy (occasional emoji is fine, don't overdo it)\n- Never repeat a question you've already asked\n- If someone skips something, just roll with it — no nudging\n- Keep replies short unless you're showing the formatted content\n- Always feel like you're one step ahead, making their life easier"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -48,
          1104
        ],
        "id": "43de1f07-b2e4-45f7-8994-7397fd5fa4f0",
        "name": "Gatekeeper"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = $('Webhook').item.json.body.approved_fields;\nconst docId = $json.id;\nconst webViewLink = `https://docs.google.com/document/d/${docId}/edit`;\n\nconst keys = [\n  \"CANDIDATE_NAME\", \"PROFESSIONAL_SUMMARY\",\n  \"SKILL_CATEGORY_1\", \"SKILL_CONTENT_1\",\n  \"SKILL_CATEGORY_2\", \"SKILL_CONTENT_2\",\n  \"SKILL_CATEGORY_3\", \"SKILL_CONTENT_3\",\n  \"SKILL_CATEGORY_4\", \"SKILL_CONTENT_4\",\n  \"SKILL_CATEGORY_5\", \"SKILL_CONTENT_5\",\n  \"SKILL_CATEGORY_6\", \"SKILL_CONTENT_6\",\n  \"PROJECT_TITLE_1\", \"PROJECT_DESCRIPTION_1\", \"PROJECT_RESPONSIBILITIES_1\", \"PROJECT_TECHSTACK_1\",\n  \"PROJECT_TITLE_2\", \"PROJECT_DESCRIPTION_2\", \"PROJECT_RESPONSIBILITIES_2\", \"PROJECT_TECHSTACK_2\",\n  \"PROJECT_TITLE_3\", \"PROJECT_DESCRIPTION_3\", \"PROJECT_RESPONSIBILITIES_3\", \"PROJECT_TECHSTACK_3\",\n  \"PROJECT_TITLE_4\", \"PROJECT_DESCRIPTION_4\", \"PROJECT_RESPONSIBILITIES_4\", \"PROJECT_TECHSTACK_4\",\n  \"PROJECT_TITLE_5\", \"PROJECT_DESCRIPTION_5\", \"PROJECT_RESPONSIBILITIES_5\", \"PROJECT_TECHSTACK_5\",\n  \"PROJECT_TITLE_6\", \"PROJECT_DESCRIPTION_6\", \"PROJECT_RESPONSIBILITIES_6\", \"PROJECT_TECHSTACK_6\",\n  \"EDUCATION_DEGREE_1\", \"EDUCATION_INSTITUTE_1\", \"EDUCATION_YEAR_1\",\n  \"EDUCATION_DEGREE_2\", \"EDUCATION_INSTITUTE_2\", \"EDUCATION_YEAR_2\"\n];\n\nconst requests = keys.map(key => ({\n  replaceAllText: {\n    containsText: { text: `{{${key}}}`, matchCase: true },\n    replaceText: data[key] || \"\"\n  }\n}));\n\nreturn [{ json: { docId, webViewLink, body: { requests } } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          1280
        ],
        "id": "c6d62078-fa68-4dfb-94ec-ae313bb7f7af",
        "name": "Build Placeholder Requests"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Here are the current resume fields (JSON):\n{{ JSON.stringify($('Webhook').item.json.body.approved_fields) }}\n\nHere is the original raw resume text for reference:\n{{ $('Webhook').item.json.body.raw_resume_text }}\n\nThe user wants the following change:\n{{ $json.revision_request }}\n\nApply the requested change to the relevant field(s) only.\nReturn the COMPLETE updated fields JSON with the same structure.\nReturn ONLY valid JSON. No explanation.",
          "options": {
            "systemMessage": "=You are a resume editor for ScaleupAlly. \nYou receive a full set of structured resume fields and a plain-language edit request.\nApply only the requested change. Keep everything else exactly the same.\nReturn the full updated fields object as valid JSON only."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1184,
          960
        ],
        "id": "a7e55eef-5f01-4a19-80fc-c53ea9cf21d1",
        "name": "Revision"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1856,
          576
        ],
        "id": "6964d3ce-821a-48be-8d49-c5d79a779a2a",
        "name": "Formatter model",
        "credentials": {
          "openAiApi": {
            "id": "GbPk6QT2A4KsVKRA",
            "name": "resume_agent_workflow"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1184,
          1168
        ],
        "id": "92bfb53c-c24a-450b-86df-4ebb31c781ac",
        "name": "Revision model",
        "credentials": {
          "openAiApi": {
            "id": "GbPk6QT2A4KsVKRA",
            "name": "resume_agent_workflow"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          32,
          1328
        ],
        "id": "3b3658be-2830-4cc1-b90d-fb6c4253d2f8",
        "name": "Gatekeeper model",
        "credentials": {
          "openAiApi": {
            "id": "GbPk6QT2A4KsVKRA",
            "name": "resume_agent_workflow"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Here is the raw resume text:\n{{ $json.text }}\n\n{% if $('Gatekeeper').item.json.job_description %}\nJob Description:\n{{ $('Gatekeeper').item.json.job_description }}\n{% endif %}\n\n{% if $('Gatekeeper').item.json.highlight_areas %}\nFocus Instructions:\n{{ $('Gatekeeper').item.json.highlight_areas }}\n{% endif %}\n\nReturn a JSON object with exactly these keys:\n{\n  \"CANDIDATE_NAME\": \"\",\n  \"CANDIDATE_ROLE\": \"\",\n  \"PROFESSIONAL_SUMMARY\": \"\",\n  \"SKILL_CATEGORY_1\": \"\", \"SKILL_CONTENT_1\": \"\",\n  \"SKILL_CATEGORY_2\": \"\", \"SKILL_CONTENT_2\": \"\",\n  \"SKILL_CATEGORY_3\": \"\", \"SKILL_CONTENT_3\": \"\",\n  \"SKILL_CATEGORY_4\": \"\", \"SKILL_CONTENT_4\": \"\",\n  \"SKILL_CATEGORY_5\": \"\", \"SKILL_CONTENT_5\": \"\",\n  \"SKILL_CATEGORY_6\": \"\", \"SKILL_CONTENT_6\": \"\",\n  \"PROJECT_TITLE_1\": \"\", \"PROJECT_DESCRIPTION_1\": \"\", \"PROJECT_RESPONSIBILITIES_1\": \"\", \"PROJECT_TECHSTACK_1\": \"\",\n  \"PROJECT_TITLE_2\": \"\", \"PROJECT_DESCRIPTION_2\": \"\", \"PROJECT_RESPONSIBILITIES_2\": \"\", \"PROJECT_TECHSTACK_2\": \"\",\n  \"PROJECT_TITLE_3\": \"\", \"PROJECT_DESCRIPTION_3\": \"\", \"PROJECT_RESPONSIBILITIES_3\": \"\", \"PROJECT_TECHSTACK_3\": \"\",\n  \"PROJECT_TITLE_4\": \"\", \"PROJECT_DESCRIPTION_4\": \"\", \"PROJECT_RESPONSIBILITIES_4\": \"\", \"PROJECT_TECHSTACK_4\": \"\",\n  \"PROJECT_TITLE_5\": \"\", \"PROJECT_DESCRIPTION_5\": \"\", \"PROJECT_RESPONSIBILITIES_5\": \"\", \"PROJECT_TECHSTACK_5\": \"\",\n  \"PROJECT_TITLE_6\": \"\", \"PROJECT_DESCRIPTION_6\": \"\", \"PROJECT_RESPONSIBILITIES_6\": \"\", \"PROJECT_TECHSTACK_6\": \"\",\n  \"EDUCATION_DEGREE_1\": \"\", \"EDUCATION_INSTITUTE_1\": \"\", \"EDUCATION_YEAR_1\": \"\",\n  \"EDUCATION_DEGREE_2\": \"\", \"EDUCATION_INSTITUTE_2\": \"\", \"EDUCATION_YEAR_2\": \"\"\n}",
          "options": {
            "systemMessage": "You are a resume formatter for a staff augmentation company called ScaleupAlly.\nExtract and restructure resume content into strict JSON format.\nReturn ONLY valid JSON, no markdown, no explanation.\n\nRules:\n- CANDIDATE_NAME: all caps, first name only\n- CANDIDATE_ROLE: their current role\n- PROFESSIONAL_SUMMARY: 7-8 sophisticated sentences. Synthesise from full resume. \n  If a JD is provided, tailor to that role. Do not copy from resume — rewrite professionally.\n- If highlight_areas instructions given, prioritise those themes. If de-emphasis requested, reduce that content.\n- SKILL categories should match the candidate's actual domain\n- PROJECT_DESCRIPTION: 3-5 sentences on what the project was, its purpose, scale, candidate's contribution\n- PROJECT_RESPONSIBILITIES: Polished action sentences starting with ➛, separated by \\n. 4-5 minimum.\n- Fewer than 6 projects/skills? Leave remaining fields as empty strings.\n- Never fabricate. Only use what's in the resume."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1776,
          352
        ],
        "id": "01b781f4-35db-43c2-90fd-5cd088e9040c",
        "name": "Formatter"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst text = $json.text || \"\";\nconst lower = text.toLowerCase();\n\n// Check for resume-like keywords\nconst resumeKeywords = [\n  \"experience\", \"education\", \"skills\", \"project\", \n  \"work history\", \"employment\", \"qualification\",\n  \"responsibilities\", \"objective\", \"summary\",\n  \"bachelor\", \"master\", \"degree\", \"university\",\n  \"developer\", \"engineer\", \"manager\", \"analyst\"\n];\n\nconst matchCount = resumeKeywords.filter(kw => lower.includes(kw)).length;\n\nif (matchCount < 5) {\n  // Not a resume — flag it\n  return [{ json: { \n    is_resume: false, \n    text: $json.text,\n    reply: \"Hmm, that doesn't look like a resume to me 🤔 I can only work with candidate resumes — even a rough one works! Could you upload the right PDF?\"\n  }}];\n}\n\nreturn [{ json: { is_resume: true, text: $json.text } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1328,
          608
        ],
        "id": "8fd5ccbd-9d9c-474b-9fed-26b1e334d672",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0784fb1a-d1eb-44a8-867c-da1847708fd6",
                      "leftValue": "={{ $json.is_resume }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0cddf87f-907e-4316-ba5e-0d61c9f09985",
                      "leftValue": "={{ $json.is_resume }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1552,
          608
        ],
        "id": "d5e924b8-6660-4af5-8799-cbdf31b4f105",
        "name": "Switch1"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"reply\": \"{{ $json.reply }}\",\n  \"doc_url\": null,\n  \"stage\": \"chat\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1840,
          752
        ],
        "id": "005bfcdb-fb3d-43a0-bac3-f817216c38e1",
        "name": "Respond to Webhook3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=IMPORTANT: If no job description is provided or the job description field is empty/null, \ndo NOT attempt to calculate scores. Instead return this exact JSON:\n\n{\n  \"overall_fit\": null,\n  \"ats_score\": null,\n  \"matched_keywords\": [],\n  \"missing_keywords\": [],\n  \"strong_matches\": [\"Resume formatted successfully\"],\n  \"gaps\": [\"No job description provided — fit analysis unavailable\"]\n}\n\nHere is the job description:\n\n{{ $('Get Keys').item.json.job_description }}\n\n---\n\nHere is the final resume content:\n\n{{ JSON.stringify($('Webhook').item.json.body.approved_fields) }}\n\n---\n\nExtract keywords from both and return the result in the required JSON format.\n\nAlso, Calculate and Generate the Overall Fit and ATS evaluation based on the above.",
          "options": {
            "systemMessage": "You are an advanced ATS scoring and resume-job matching engine.\n\nYour job is to evaluate how well a resume matches a given job description.\n\nYou must perform structured keyword extraction, scoring, and recruiter-level analysis.\n\n---\n\nSTEP 1: KEYWORD EXTRACTION\n\nFrom Job Description:\n- Extract 15–30 important keywords\n- Include:\n  - tools (e.g., SQL, Power BI, Python)\n  - technologies\n  - frameworks\n  - responsibilities (short phrases like \"data modeling\")\n  - qualifications\n\nFrom Resume:\n- Extract relevant keywords\n- Normalize synonyms:\n  - \"Structured Query Language\" → SQL\n  - \"Power BI Desktop\" → Power BI\n  - \"MS Excel\" → Excel\n\n---\n\nSTEP 2: KEYWORD MATCHING\n\n- Identify matched_keywords (present in both)\n- Identify missing_keywords (present in JD but not in resume)\n\n---\n\nSTEP 3: OVERALL FIT CALCULATION\n\nCalculate:\n\noverall_fit = (number of matched_keywords / total jd_keywords) * 100\n\n- Must be a number between 0 and 100\n- Be strict and realistic\n- Do NOT inflate the score\n\n---\n\nSTEP 4: ATS SCORE\n\nGenerate ATS score (0–100) based on:\n- keyword coverage (overall_fit)\n- relevance of experience\n- role alignment\n- depth of projects\n\nRULES:\n- ATS score must be close to overall_fit (within ±15)\n- Increase score only if strong real alignment exists\n- Decrease score if critical skills are missing\n\n---\n\nSTEP 5: INSIGHTS\n\nGenerate:\n\nstrong_matches:\n- 3–5 meaningful strengths\n- Focus on real alignment, not just keyword overlap\n\ngaps:\n- 3–5 important missing areas\n- Focus on what reduces chances of shortlisting\n\n---\n\nOUTPUT FORMAT (STRICT JSON ONLY):\n\n{\n  \"overall_fit\": number,\n  \"ats_score\": number,\n  \"matched_keywords\": [\"...\"],\n  \"missing_keywords\": [\"...\"],\n  \"strong_matches\": [\"...\"],\n  \"gaps\": [\"...\"]\n}\n\n---\n\nRULES:\n\n- Do NOT hallucinate skills not present in input\n- Do NOT assume experience not mentioned\n- Keep keywords concise (1–3 words max)\n- Avoid duplicates\n- Be consistent and structured\n- Return ONLY valid JSON"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          3040,
          1280
        ],
        "id": "8b56d644-2d4d-4347-ae96-fb9f8807e7a1",
        "name": "Scorekeeper"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          3040,
          1488
        ],
        "id": "cbbb35d4-58ef-4a67-93ea-4bef43746207",
        "name": "Scorekeeper Model",
        "credentials": {
          "openAiApi": {
            "id": "GbPk6QT2A4KsVKRA",
            "name": "resume_agent_workflow"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fdd78662-8fe8-46fb-92cd-47015905fc5e",
                "leftValue": "={{ $json.action }}",
                "rightValue": "UPDATE_DOC",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          848,
          1312
        ],
        "id": "b727fe72-f2b7-488c-b65f-a62c949af06f",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1wIfqSIZTAc26-if8z0hEfBQJ-uA8NB2AcLQBtUtoXTs",
            "mode": "list",
            "cachedResultName": "Placeholders",
            "cachedResultUrl": "https://docs.google.com/document/d/1wIfqSIZTAc26-if8z0hEfBQJ-uA8NB2AcLQBtUtoXTs/edit?usp=drivesdk"
          },
          "name": "={{ $('Webhook').item.json.body.approved_fields.CANDIDATE_NAME }}_{{ $('Webhook').item.json.body.approved_fields.CANDIDATE_ROLE }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1zCZAKI8EzSI-t_s3RrF0i468T3hDGdyZ",
            "mode": "list",
            "cachedResultName": "Placeholder",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1zCZAKI8EzSI-t_s3RrF0i468T3hDGdyZ"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1632,
          1280
        ],
        "id": "15350b74-504a-4ecb-9917-b94cc2ab31a9",
        "name": "Make new copy file in Placeholders folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "BlvFpa0On2sc2kNI",
            "name": "Staffing Scaleupally"
          }
        }
      },
      {
        "parameters": {
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "19vW0oeYmG8ugRbz_dHsItRVaf2x-SCQD",
            "mode": "list",
            "cachedResultName": "Final Resumes(Agent)",
            "cachedResultUrl": "https://drive.google.com/drive/folders/19vW0oeYmG8ugRbz_dHsItRVaf2x-SCQD"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1872,
          1280
        ],
        "id": "2f09b77d-c8a0-46d7-8649-c0c5a9f62bdc",
        "name": "Move file to Final Resumes folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "BlvFpa0On2sc2kNI",
            "name": "Staffing Scaleupally"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify($json.body) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2384,
          1280
        ],
        "id": "173e4e63-1e1e-42b9-bbe9-4303403e2529",
        "name": "API request to populate our final file",
        "credentials": {
          "oAuth2Api": {
            "id": "IJ9GwsApNFaPgpOK",
            "name": "Staffing Scaleupally"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.output;\nconst parsed = JSON.parse(raw);\n\nconst docUrl = $('Build Placeholder Requests').item.json.webViewLink;\n\nlet reply = `Your formatted resume is ready! 🎉 Click below to open it.\\n📄 Resume Link:\\n${docUrl}\\n`;\n\nif (parsed.overall_fit !== null) {\n  reply += `---\\n\\n📊 ATS ANALYSIS\\n\\nOverall Fit: ${parsed.overall_fit}%\\nATS Score: ${parsed.ats_score}%\\n\\n✅ Strong Matches:\\n- ${parsed.strong_matches.join('\\n- ')}\\n\\n⚠️ Gaps:\\n- ${parsed.gaps.join('\\n- ')}`;\n} else {\n  reply += 'No JD provided — ATS analysis skipped.';\n}\n\nreturn [{ json: { reply, doc_url: docUrl, stage: 'complete' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3360,
          1280
        ],
        "id": "54eb7f6c-635d-4359-a570-0fc44d7069f1",
        "name": "Get JSON for previous output and make body for Webhook"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{JSON.stringify({ reply: $json.reply, doc_url: $json.doc_url, stage: $json.stage })}}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3584,
          1280
        ],
        "id": "38d34cf5-b962-49ef-93c0-fb058692369f",
        "name": "Respond to app"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.output;\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          304,
          1104
        ],
        "id": "165b83b3-6320-4c66-b642-cdf51d794e90",
        "name": "Get Keys"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://www.googleapis.com/drive/v3/files/\" + $json.documentId + \"/permissions\" }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"role\": \"writer\",\n  \"type\": \"user\",\n  \"emailAddress\": \"sales.scaleupally@gmail.com\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2576,
          1280
        ],
        "id": "4ee945de-ebe2-4c77-830a-f5cdfa4d7545",
        "name": "Grant Editor Access",
        "credentials": {
          "oAuth2Api": {
            "id": "IJ9GwsApNFaPgpOK",
            "name": "Staffing Scaleupally"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Build Placeholder Requests').item.json.docId }}/permissions",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"role\": \"reader\",\n  \"type\": \"anyone\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2784,
          1280
        ],
        "id": "9ba588c7-af86-4399-a0c4-4ec69bf3072b",
        "name": "Grant Viewer Access",
        "credentials": {
          "oAuth2Api": {
            "id": "IJ9GwsApNFaPgpOK",
            "name": "Staffing Scaleupally"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Gatekeeper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Revision",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gatekeeper": {
        "main": [
          [
            {
              "node": "Get Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Placeholder Requests": {
        "main": [
          [
            {
              "node": "API request to populate our final file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Revision": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatter model": {
        "ai_languageModel": [
          [
            {
              "node": "Formatter",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Revision model": {
        "ai_languageModel": [
          [
            {
              "node": "Revision",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gatekeeper model": {
        "ai_languageModel": [
          [
            {
              "node": "Gatekeeper",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Formatter": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Formatter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scorekeeper": {
        "main": [
          [
            {
              "node": "Get JSON for previous output and make body for Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scorekeeper Model": {
        "ai_languageModel": [
          [
            {
              "node": "Scorekeeper",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Revision",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Make new copy file in Placeholders folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make new copy file in Placeholders folder": {
        "main": [
          [
            {
              "node": "Move file to Final Resumes folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move file to Final Resumes folder": {
        "main": [
          [
            {
              "node": "Build Placeholder Requests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API request to populate our final file": {
        "main": [
          [
            {
              "node": "Grant Editor Access",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get JSON for previous output and make body for Webhook": {
        "main": [
          [
            {
              "node": "Respond to app",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to app": {
        "main": [
          []
        ]
      },
      "Get Keys": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grant Editor Access": {
        "main": [
          [
            {
              "node": "Grant Viewer Access",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grant Viewer Access": {
        "main": [
          [
            {
              "node": "Scorekeeper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dev Scaleupally",
    "name": "Version ab243e64",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
