workflows/telegram-group-forwarder---private-chat.json
{
  "updatedAt": "2026-05-05T07:31:58.090Z",
  "createdAt": "2026-05-05T06:11:13.385Z",
  "id": "n32VDfYm9Ul5EBFY",
  "name": "Telegram Group Forwarder → Private Chat",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "2356a4bb-6167-4fe5-8ab7-59c70657098f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -864,
        80
      ],
      "webhookId": "telegram-forwarder-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "NMb4w2atvc0aFCc6",
          "name": "testingdemo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming message details\nconst msg = $input.first().json.message;\n\nif (!msg) return [];\n\nconst chatId = String(msg.chat?.id || '');\nconst chatTitle = msg.chat?.title || 'Unknown Group';\nconst senderName = msg.from?.first_name || '';\nconst senderLast = msg.from?.last_name || '';\nconst senderUsername = msg.from?.username ? `@${msg.from.username}` : '';\nconst senderFull = [senderName, senderLast].filter(Boolean).join(' ');\nconst text = msg.text || msg.caption || '[Non-text message]';\nconst messageId = msg.message_id;\nconst date = new Date(msg.date * 1000).toLocaleString('en-GB', { timeZone: 'Asia/Kolkata' });\n\n// Define allowed source groups\nconst allowedGroups = {\n  '-5039679858': 'Group 1',\n  '-5277697339': 'Group 3',\n  '-5158156784': 'group 4' \n};\n\n// Check if message is from one of the allowed groups\nconst groupLabel = allowedGroups[chatId];\n\nif (!groupLabel) {\n  // Message not from a monitored group — skip\n  return [];\n}\n\nreturn [{\n  json: {\n    chatId,\n    groupLabel,\n    chatTitle,\n    senderFull,\n    senderUsername,\n    text,\n    messageId,\n    date\n  }\n}];"
      },
      "id": "3887c6f0-ee29-44ad-839e-b04ce07e8207",
      "name": "Filter & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "919634799",
        "text": "=New message from {{ $json.groupLabel }}\n🕐 {{ $json.date }}\n\n{{ $json.text }}",
        "additionalFields": {}
      },
      "id": "5557c8f9-5e3d-4004-bc8a-2a4a51b8de17",
      "name": "Forward to Private Chat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "webhookId": "67b132a8-2599-415b-b8bb-0204d686f22e",
      "credentials": {
        "telegramApi": {
          "id": "NMb4w2atvc0aFCc6",
          "name": "testingdemo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-valid-group",
              "leftValue": "={{ $json.groupLabel }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2aae610d-1eaf-42d5-b205-4aee56b02045",
      "name": "From Monitored Group?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filter & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Extract": {
      "main": [
        [
          {
            "node": "From Monitored Group?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Monitored Group?": {
      "main": [
        [
          {
            "node": "Forward to Private Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a01228d8-6e34-4138-a0ee-5b7209d283aa",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T06:11:13.389Z",
      "createdAt": "2026-05-05T06:11:13.389Z",
      "role": "workflow:owner",
      "workflowId": "n32VDfYm9Ul5EBFY",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
