workflows/zoho-crm-leads-migration.json
{
  "updatedAt": "2025-09-22T12:34:19.000Z",
  "createdAt": "2025-09-11T06:11:17.782Z",
  "id": "l6V3b4Dgsch4Wik6",
  "name": "Zoho-CRM leads migration",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        0
      ],
      "id": "5b8b857c-d713-4605-bf1c-f589089c1217",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ixr5cVFp3dDsuyk3n5JQaUbbPSXaxFXAYL6CU-qOLXE",
          "mode": "list",
          "cachedResultName": "Website Inbounds ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ixr5cVFp3dDsuyk3n5JQaUbbPSXaxFXAYL6CU-qOLXE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017129351,
          "mode": "list",
          "cachedResultName": "Cost Calculators",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ixr5cVFp3dDsuyk3n5JQaUbbPSXaxFXAYL6CU-qOLXE/edit#gid=1017129351"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Synced",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        20,
        0
      ],
      "id": "95ff527b-d629-4291-a4b5-f354660a3904",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cby4gQ9hDXfjYT1n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "b58d2e4e-e05d-4ebc-a055-19abcaa5fe0a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1780,
        0
      ],
      "id": "5afbdb2d-731e-4565-9cec-d061bd368993"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c59b5ba0-a698-4912-8d16-bfeedeba6c46",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        40
      ],
      "id": "7044df24-564f-4a3a-b04e-e4e2475a0db3",
      "name": "Skip blank mail"
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.com/crm/v2/Prospects/search?criteria=(Email:equals:{{ $json.Email }})",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -60
      ],
      "id": "98c0b5ff-1ed1-4bc9-a259-37b8fd09b950",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.com/crm/v2/Prospects",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"Lead ID\": \"{{ $('Get row(s) in sheet').item.json['Lead ID'] }}\", \n      \"Email\": \"{{ $('Get row(s) in sheet').item.json.Email }}\",\n      \"Name\": \"{{ $('Get row(s) in sheet').item.json.Name }}\",\n      \"Mobile\": \"{{ $('Get row(s) in sheet').item.json.Phone }}\",\n      \"Company_Name\": \"{{ $('Get row(s) in sheet').item.json.Company }}\",\n      \"Industry\": \"{{ $('Get row(s) in sheet').item.json.Industry }}\",\n      \"Selected_service\": \"{{ $('Get row(s) in sheet').item.json['Selected Service'] }}\",\n      \"Lead_Source\": \"Website Inbound (Cost Calculator)\",\n        \"Inbound_Outbound\": \"Inbound\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -60
      ],
      "id": "dbe2431f-352d-4884-8692-44171a899a8c",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "kLkpyrqVf8bU8wEr",
          "name": "Zoho CRM API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b268679-5b86-4f50-b441-b021a5225397",
              "leftValue": "={{ $json.notEmpty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        -60
      ],
      "id": "8386e1ec-12bd-45b4-9820-a211aafab2f5",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "if (Object.keys($json).length) {\n  return [{ notEmpty: true }];\n} else {\n  return [{ notEmpty: false }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -60
      ],
      "id": "7ca35dac-2ee6-4662-b852-34d70602764e",
      "name": "Code"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Skip blank mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip blank mail": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1824030e-e951-4159-8b14-3984334b4152",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-11T06:11:17.787Z",
      "createdAt": "2025-09-11T06:11:17.787Z",
      "role": "workflow:owner",
      "workflowId": "l6V3b4Dgsch4Wik6",
      "projectId": "4byo5YlJWidsMFA8"
    }
  ],
  "activeVersion": null,
  "tags": []
}
